﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "BursaryPaymentReport";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@*@section Scripts{
    @Scripts.Render("~/bundles/jquery")*@
<script src="~/Scripts/jquery-2.1.3.js"></script>
<link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<link href="~/Content/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>

<script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>


<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/jquery-ui-1.10.3.css" rel="stylesheet" />
<script src="~/Scripts/file-upload/jquery-ui-1.9.2.min.js"></script>

<script type="text/javascript">
        var jqueryVersion = $.noConflict(true);
        var breakdownDataTable;
        var summaryDataTable;
        var gatewayValue;
        var progSummaryDataTable;
        var deptSummaryDataTable;

        var feeType;
        var feeTypeName;
        var mode;
        var modeName;
        var prog;
        var progName;
        var dept;
        var deptName;

        function showBreakdown(departmentValId) {


            dept = departmentValId;

            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');

            if (breakdownDataTable != undefined) {
                breakdownDataTable.destroy();
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPaymentBreakdown", "Payment")',
                traditional: true,
                data: { gatewayString: gateway, dateFromString: dateFrom, dateToString: dateTo, feeTypeId: feeType, paymentModeId: mode, programmeId: prog, departmentId: departmentValId },
                beforeSend: function () {
                    $("#loadContinue").show();
                },
                complete: function () {
                    $("#loadContinue").hide();
                },
                success: function (result) {
                    if (result[0] != undefined && result[0].IsError === false) {

                        deptName = result[0].DepartmentName;

                        $("#breakdown").empty();

                        for (i = 0; i < result.length; i++) {
                            var sn = i + 1;
                            $("#breakdown").append('<tr><td>' + sn + '</td><td>' + result[i].TransactionDate + '</td>' + '<td>' + result[i].MatricNumber + '</td>' + '<td>' + result[i].Name + '</td>' +
                                '<td>' + result[i].Level + '</td>' + '<td>' + result[i].DepartmentName + '</td>' + '<td>' + result[i].Faculty + '</td>' + '<td>' + result[i].ProgrammeName + '</td>' +
                                '<td>' + result[i].Session + '</td>' + '<td>' + result[i].InvoiceNumber + '</td>' + '<td>' + result[i].ConfirmationNumber + '</td><td>&#8358; ' + result[i].Amount + '</td></tr>');
                        }

                        $("#breakdownTableHeader").text(result[0].FeeTypeName + " Transaction Listing From " + $("#DateFrom").val() + " through " + $("#DateTo").val() + " " + feeTypeName + " " + modeName + " " + progName + " " + deptName);
                        breakdownDataTable = jqueryVersion('#breakdownTable').DataTable({
                            dom: 'Bfrtip',
                            ordering: true,
                            buttons: [
                                {
                                    extend: 'copy',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'pdf',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                }, , 'colvis'
                            ]
                        });

                        $("#breakdownDiv").fadeIn('slow');

                    } else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation Failed.' + ex);
                }
            });
        }

        function showSummary() {

           var sessionId =("#Session_Id").val();

            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');

            if (summaryDataTable != undefined) {
                summaryDataTable.destroy();
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("AcceptanceFeeReportDetail", "Payment")',
                traditional: true,
                data: { Session: sessionId },
                beforeSend: function () {
                    $("#loadContinue").show();
                },
                complete: function () {
                    $("#loadContinue").hide();
                },
                success: function (result) {
                    if (result[0] && result[0].IsError === false) {

                        
                        $("#progSummary").empty();

                        for (i = 0; i < result.length; i++) {
                            var sn = i + 1;
                            $("#progSummary").append('<tr><td>' + sn + '</td><td><a onclick="showDeptSummary(' + result[i].ProgrammeId + ')">' + result[i].ProgrammeName + '</a></td>' +
                                                    '<td>' + result[i].TotalCount + '</td></tr>');
                        }
                        $("table #progSummary tr").last().after('<tr><td>' + '' + '</td><td>' + '<b>Total</b>' + '</td>' + '<td>' + result[0].OverallCount + '</td></tr>');

                        //summaryDataTable = $('#summaryTable').DataTable();
                        $("#progSummaryHeader").text("Transaction Listing From " + $("#DateFrom").val() + " through " + $("#DateTo").val() + " " + feeTypeName + " " + modeName);

                        progSummaryDataTable = jqueryVersion('#progSummaryTable').DataTable({
                            dom: 'Bfrtip',

                            ordering: true,
                            buttons: [
                                {
                                    extend: 'copy',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'pdf',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                }, , 'colvis'
                            ]
                        });



                        $("#progSummaryDiv").fadeIn('slow');

                    }
                else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation Failed.' + ex);
                }
            });
        }

   
        function showDeptSummary(programmeIdVal) {

            var dateFrom = $("#DateFrom").val();
            var dateTo = $("#DateTo").val();
            var gateway = gatewayValue;

            if (!dateFrom || !dateTo) {
                alert("Kindly select date-range before proceeding.");
                return;
            }

            if (!gateway || !feeType || !mode || !programmeIdVal) {
                alert("Validation failure.");
                return;
            }

            prog = programmeIdVal;

            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetBreakdownByDepartment", "Payment")',
                traditional: true,
                data: { gatewayString: gateway, dateFromString: dateFrom, dateToString: dateTo, feeTypeId: feeType, paymentModeId: mode, programmeId: programmeIdVal },
                beforeSend: function () {
                    $("#loadContinue").show();
                },
                complete: function () {
                    $("#loadContinue").hide();
                },
                success: function (result) {
                    if (result[0] && result[0].IsError === false) {

                        //feeTypeName = result[0].FeeTypeName;
                        //modeName = result[0].PaymentModeName;
                        progName = result[0].ProgrammeName;

                        $("#deptSummary").empty();

                        for (i = 0; i < result.length; i++) {
                            var sn = i + 1;
                            $("#deptSummary").append('<tr><td>' + sn + '</td><td><a onclick="showBreakdown(' + result[i].DepartmentId + ')">' + result[i].DepartmentName + '</a></td>' +
                                                    '<td>' + result[i].TotalCount + '</td></tr>');
                        }
                        $("table #deptSummary tr").last().after('<tr><td>' + '' + '</td><td>' + '<b>Total</b>' + '</td>' + '<td>' + result[0].OverallCount + '</td></tr>');

                        //summaryDataTable = $('#summaryTable').DataTable();
                        $("#deptSummaryHeader").text("Transaction Listing From " + $("#DateFrom").val() + " through " + $("#DateTo").val() + " " + feeTypeName + " " + modeName + " " + progName);

                        deptSummaryDataTable = jqueryVersion('#deptSummaryTable').DataTable({
                            dom: 'Bfrtip',

                            ordering: true,
                            pageLength:50,
                            buttons: [
                                {
                                    extend: 'copy',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'pdf',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                }, , 'colvis'
                            ]
                        });

                        $("#deptSummaryDiv").fadeIn('slow');

                    } else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation Failed.' + ex);
                }
            });
        }

        function showSummaryDiv() {
            $("#summaryDiv").fadeIn('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');
           

        }
        
        function showProgSummaryDiv() {
            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeIn('slow');
            $("#deptSummaryDiv").fadeOut('slow');
            deptSummaryDataTable.destroy();
        }
        function showDeptSummaryDiv() {
            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeIn('slow');
        }

</script>
@*}*@

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-6">

        <div class="row">
            <h3 style="color:#155e7d">Acceptance Report</h3>
            <hr style="color:#155e7d" />
        </div>

        <div style="border: 1px solid #155e7d;">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#dateRange" style="background-color: #155e7d; border-radius:10px !important; color:white">Select Session</a></li>
            </ul>

            <div class="tab-content">
                <div id="dateRange" class="tab-pane fade in active">
                    <br />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Session.Id, "Session:", new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control", require = true })
                        @Html.ValidationMessageFor(model => model.Session.Id)
                    </div>

                    <div class="row">
                        <div class="form-group form-inline">
                            <div class="col-md-2"></div>
                            <button type="button" class="btn btn-success" onclick="showSummary()" style="background-color:#155e7d;">CONTINUE</button> &nbsp;
                            <span style="display: none" id="loadContinue"><img src="~/Content/Images/bx_loader.gif" /></span>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div style="background-color:#155e7d; width:100%; height:25px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-5"></div>
</div>

<div class="col-md-12" id="progSummaryDiv" style="margin-top: 30px; display: none;">
    <div class="col-md-1"></div>
    <div class="col-md-8">

        <div class="row table-responsive">
            <div class="panel" style="border: 1px solid #155e7d">
                <div class="panel-heading" style="background-color: #155e7d">
                    <h3 style="text-align: center; color: white; background-color: #155e7d;" id="progSummaryHeader"></h3>
                </div>
                <div class="panel-body table-responsive" style="text-align: center">
                    <div class="pull-left">
                        <button type="button" class="btn btn-primary" onclick="showModeSummaryDiv()" style="background-color: #155e7d;">BACK</button>
                        <hr style="background-color: #155e7d;" />
                    </div>
                    <div class="pull-left"><span style="display: none" id="loadProgSummary"><img src="~/Content/Images/bx_loader.gif" /></span></div>
                    <table class="table table-striped table-hover table-bordered" id="progSummaryTable">
                        <thead>
                            <tr>
                                <th style="text-align: center">SN</th>
                                <th style="text-align: center">PROGRAMME</th>
                                <th style="text-align: center">TOTAL COUNT</th>
                            </tr>
                        </thead>
                        <tbody id="progSummary"></tbody>
                    </table>

                </div>
                <div class="panel-footer" style="background-color: #155e7d">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12" id="deptSummaryDiv" style="margin-top:30px; display:none;">
    <div class="col-md-1"></div>
    <div class="col-md-8">

        <div class="row table-responsive">
            <div class="panel" style="border:1px solid #155e7d">
                <div class="panel-heading" style="background-color:#155e7d">
                    <h3 style="text-align: center; color:white;background-color:#155e7d;" id="deptSummaryHeader"></h3>
                </div>
                <div class="panel-body table-responsive" style="text-align:center">
                    <div class="pull-left">
                        <button type="button" class="btn btn-primary" onclick="showProgSummaryDiv()" style="background-color: #155e7d;">BACK</button>
                        <hr style="background-color: #155e7d;" />
                    </div>
                    <div class="pull-left"><span style="display: none" id="loadDeptSummary"><img src="~/Content/Images/bx_loader.gif" /></span></div>
                    <table class="table table-striped table-hover table-bordered" id="deptSummaryTable">
                        <thead>
                            <tr>
                                <th style="text-align:center">SN</th>
                                <th style="text-align:center">DEPARTMENT</th>
                                <th style="text-align:center">TOTAL COUNT</th>
                            </tr>
                        </thead>
                        <tbody id="deptSummary"></tbody>
                    </table>

                </div>
                <div class="panel-footer" style="background-color:#155e7d">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12" id="breakdownDiv" style="margin-top:30px; border:1px solid #155e7d; display:none;">
    <div class="col-md-12">

        <div class="row table-responsive">
            <h4 style="color: #155e7d;" id="breakdownTableHeader"></h4>
            <div class="pull-left">
                <button type="button" class="btn btn-primary" onclick="showDeptSummaryDiv()" style="background-color: #155e7d;">BACK</button>
                <hr style="background-color:  ;" />
            </div>
            <table class="table table-striped table-hover" id="breakdownTable">
                <thead>
                    <tr style="background-color: #155e7d;">
                        <th style="color:white;">Sn</th>
                        <th style="color:white;">Transaction Date</th>
                        <th style="color:white;">Matric Number</th>
                        <th style="color:white;">Name</th>
                        <th style="color:white;">Level</th>
                        <th style="color:white;">Department</th>
                        <th style="color:white;">Faculty</th>
                        <th style="color:white;">Programme</th>
                        <th style="color:white;">Session</th>
                        <th style="color:white;">Invoice Number</th>
                        <th style="color:white;">Confirmation Number</th>
                    </tr>
                </thead>
                <tbody id="breakdown"></tbody>
            </table>
        </div>

    </div>
</div>
