﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "MonthlyBursaryPaymentReport";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/bundles/jquery")

    <link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>

    <script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>


    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/jquery-ui-1.10.3.css" rel="stylesheet" />
    <script src="~/Scripts/file-upload/jquery-ui-1.9.2.min.js"></script>

    <script type="text/javascript">

        var breakdownDataTable;
        var summaryDataTable;
        var gatewayValue;

        var feeType;
        var feeTypeName;
        var mode;
        var modeName;
        var prog;
        var progName;
        var dept;
        var deptName;

        $(document).ready(function () {

            gatewayValue = $("#etranzactGateway").val();

            $('input[type=radio][name=PaymentGateway]').change(function () {
                if (this.value == 'Etranzact') {
                    $("#PaymentGateway").val('Etranzact');
                    gatewayValue = 'Etranzact';
                }
                else if (this.value == 'Remita') {
                    $("#PaymentGateway").val('Remita');
                    gatewayValue = 'Remita';
                }
            });

            $('.date').datepicker({
                dateFormat: "mm/dd/yy",
                showOtherMonths: true,
                selectOtherMonths: true,
                autoclose: true,
                changeMonth: true,
                changeYear: true,
                yearRange: "-100:+0"
            });
        });

        function showBreakdown(departmentValId) {

            var dateFrom = $("#DateFrom").val();
            var dateTo = $("#DateTo").val();
            var gateway = gatewayValue;

            if (!dateFrom || !dateTo) {
                alert("Kindly select date-range before proceeding.");
                return;
            }

            if (!gateway || !feeType || !mode || !prog || !departmentValId) {
                alert("Validation failure.");
                return;
            }

            dept = departmentValId;

            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');

            if (breakdownDataTable != undefined) {
                breakdownDataTable.destroy();
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMonthlyPaymentBreakdown", "Payment")',
                traditional: true,
                data: { gatewayString: gateway, dateFromString: dateFrom, dateToString: dateTo, feeTypeId: feeType, paymentModeId: mode, programmeId: prog, departmentId: departmentValId },
                beforeSend: function () {
                    $("#loadContinue").show();
                },
                complete: function () {
                    $("#loadContinue").hide();
                },
                success: function (result) {
                    if (result[0] != undefined && result[0].IsError === false) {

                        deptName = result[0].DepartmentName;

                        $("#breakdown").empty();

                        for (i = 0; i < result.length; i++) {
                            var sn = i + 1;
                            $("#breakdown").append('<tr><td>' + sn + '</td><td>' + result[i].TransactionDate + '</td>' + '<td>' + result[i].MatricNumber + '</td>' + '<td>' + result[i].Name + '</td>' +
                                '<td>' + result[i].Level + '</td>' + '<td>' + result[i].DepartmentName + '</td>' + '<td>' + result[i].Faculty + '</td>' + '<td>' + result[i].ProgrammeName + '</td>' +
                                '<td>' + result[i].Session + '</td>' + '<td>' + result[i].InvoiceNumber + '</td>' + '<td>' + result[i].ConfirmationNumber + '</td><td>&#8358; ' + result[i].Amount + '</td></tr>');
                        }

                        $("#breakdownTableHeader").text(result[0].FeeTypeName + " Transaction Listing From " + $("#DateFrom").val() + " through " + $("#DateTo").val() + " " + feeTypeName + " " + modeName + " " + progName + " " + deptName);
                        breakdownDataTable = $('#breakdownTable').DataTable({
                            dom: 'Bfrtip',
                            ordering: true,
                            buttons: [
                                {
                                    extend: 'copy',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'pdf',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                }, , 'colvis'
                            ]
                        });

                        $("#breakdownDiv").fadeIn('slow');

                    } else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation Failed.' + ex);
                }
            });
        }

        function showSummary() {

            var dateFrom = $("#DateFrom").val();
            var dateTo = $("#DateTo").val();
            var gateway = gatewayValue;

            if (!dateFrom || !dateTo) {
                alert("Kindly select date-range before proceeding.");
                return;
            }

            if (!gateway) {
                alert("Kindly select payment gateway before proceeding.");
                return;
            }

            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');

            if (summaryDataTable != undefined) {
                summaryDataTable.destroy();
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMonthlyPaymentSummary", "Payment")',
                traditional: true,
                data: { gatewayString: gateway, dateFromString: dateFrom, dateToString: dateTo },
                beforeSend: function () {
                    $("#loadContinue").show();
                },
                complete: function () {
                    $("#loadContinue").hide();
                },
                success: function (result) {
                    if (result[0] != undefined && result[0].IsError === false) {

                        $("#summary").empty();

                        for (i = 0; i < result.length; i++) {
                            var sn = i + 1;
                            $("#summary").append('<tr><td>' + sn + '</td><td><a onclick="showModeSummary(' + result[i].FeeTypeId + ')">' + result[i].FeeTypeName + '</a></td>' +
                                                    '<td>' + result[i].TotalCount + '</td><td>&#8358; ' + result[i].TotalAmount + '</td></tr>');
                        }



                        $("table #summary tr").last().after('<tr><td>' + '' + '</td><td>' + '<b>Total</b>' + '</td>' + '<td>' + result[0].OverallCount + '</td>' + '<td><b>&#8358; ' + result[0].OverallAmount + '</b></td></tr>');


                        $("#summaryHeader").text("Transaction Listing From " + $("#DateFrom").val() + " through " + $("#DateTo").val());
                        summaryTableDataTable = $('#summaryTable').DataTable({
                            dom: 'Bfrtip',
                            ordering: true,
                            buttons: [
                                {
                                    extend: 'copy',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'pdf',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                }, , 'colvis'
                            ]
                        });
                        $("#summaryDiv").fadeIn('slow');







                    } else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation Failed.' + ex);
                }
            });
        }

        function showModeSummary(feeTypeIdVal) {

            var dateFrom = $("#DateFrom").val();
            var dateTo = $("#DateTo").val();
            var gateway = gatewayValue;

            if (!dateFrom || !dateTo) {
                alert("Kindly select date-range before proceeding.");
                return;
            }

            if (!gateway || !feeTypeIdVal) {
                alert("Validation failure.");
                return;
            }

            feeType = feeTypeIdVal;

            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMonthlyBreakdownByMode", "Payment")',
                traditional: true,
                data: { gatewayString: gateway, dateFromString: dateFrom, dateToString: dateTo, feeTypeId: feeTypeIdVal },
                beforeSend: function () {
                    $("#loadContinue").show();
                },
                complete: function () {
                    $("#loadContinue").hide();
                },
                success: function (result) {
                    if (result[0] && result[0].IsError === false) {

                        feeTypeName = result[0].FeeTypeName;

                        $("#modeSummary").empty();

                        for (i = 0; i < result.length; i++) {
                            var sn = i + 1;
                            $("#modeSummary").append('<tr><td>' + sn + '</td><td><a onclick="showProgSummary(' + result[i].PaymentModeId + ')">' + result[i].PaymentModeName + '</a></td>' +
                                                    '<td>' + result[i].TotalCount + '</td><td>&#8358; ' + result[i].TotalAmount + '</td></tr>');
                        }
                        $("table #modeSummary tr").last().after('<tr><td>' + '' + '</td><td>' + '<b>Total</b>' + '</td>' + '<td>' + result[0].OverallCount + '</td>' + '<td><b>&#8358; ' + result[0].OverallAmount + '</b></td></tr>');

                        //summaryDataTable = $('#summaryTable').DataTable();
                        $("#modeSummaryHeader").text("Transaction Listing From " + $("#DateFrom").val() + " through " + $("#DateTo").val() + " " + feeTypeName);
                        //excel export end

                        modeSummaryDataTable = $('#modeSummaryTable').DataTable({
                            dom: 'Bfrtip',

                            ordering: true,
                            buttons: [
                                {
                                    extend: 'copy',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'pdf',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                }, , 'colvis'
                            ]
                        });

                        //modesummary table export end

                        $("#modeSummaryDiv").fadeIn('slow');

                    } else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation Failed.' + ex);
                }
            });
        }

        function showProgSummary(paymentModeIdVal) {

            var dateFrom = $("#DateFrom").val();
            var dateTo = $("#DateTo").val();
            var gateway = gatewayValue;

            if (!dateFrom || !dateTo) {
                alert("Kindly select date-range before proceeding.");
                return;
            }

            if (!gateway || !feeType || !paymentModeIdVal) {
                alert("Validation failure.");
                return;
            }

            mode = paymentModeIdVal;

            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMonthlyBreakdownByProgramme", "Payment")',
                traditional: true,
                data: { gatewayString: gateway, dateFromString: dateFrom, dateToString: dateTo, feeTypeId: feeType, paymentModeId: paymentModeIdVal },
                beforeSend: function () {
                    $("#loadContinue").show();
                },
                complete: function () {
                    $("#loadContinue").hide();
                },
                success: function (result) {
                    if (result[0] && result[0].IsError === false) {

                        //feeTypeName = result[0].FeeTypeName;
                        modeName = result[0].PaymentModeName;

                        $("#progSummary").empty();

                        for (i = 0; i < result.length; i++) {
                            var sn = i + 1;
                            $("#progSummary").append('<tr><td>' + sn + '</td><td><a onclick="showDeptSummary(' + result[i].ProgrammeId + ')">' + result[i].ProgrammeName + '</a></td>' +
                                                    '<td>' + result[i].TotalCount + '</td><td>&#8358; ' + result[i].TotalAmount + '</td></tr>');
                        }
                        $("table #progSummary tr").last().after('<tr><td>' + '' + '</td><td>' + '<b>Total</b>' + '</td>' + '<td>' + result[0].OverallCount + '</td>' + '<td><b>&#8358; ' + result[0].OverallAmount + '</b></td></tr>');

                        //summaryDataTable = $('#summaryTable').DataTable();
                        $("#progSummaryHeader").text("Transaction Listing From " + $("#DateFrom").val() + " through " + $("#DateTo").val() + " " + feeTypeName + " " + modeName);

                        progSummaryDataTable = $('#progSummaryTable').DataTable({
                            dom: 'Bfrtip',

                            ordering: true,
                            buttons: [
                                {
                                    extend: 'copy',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'pdf',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                }, , 'colvis'
                            ]
                        });



                        $("#progSummaryDiv").fadeIn('slow');

                    } else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation Failed.' + ex);
                }
            });
        }

        function showDeptSummary(programmeIdVal) {

            var dateFrom = $("#DateFrom").val();
            var dateTo = $("#DateTo").val();
            var gateway = gatewayValue;

            if (!dateFrom || !dateTo) {
                alert("Kindly select date-range before proceeding.");
                return;
            }

            if (!gateway || !feeType || !mode || !programmeIdVal) {
                alert("Validation failure.");
                return;
            }

            prog = programmeIdVal;

            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMonthlyBreakdownByDepartment", "Payment")',
                traditional: true,
                data: { gatewayString: gateway, dateFromString: dateFrom, dateToString: dateTo, feeTypeId: feeType, paymentModeId: mode, programmeId: programmeIdVal },
                beforeSend: function () {
                    $("#loadContinue").show();
                },
                complete: function () {
                    $("#loadContinue").hide();
                },
                success: function (result) {
                    if (result[0] && result[0].IsError === false) {

                        //feeTypeName = result[0].FeeTypeName;
                        //modeName = result[0].PaymentModeName;
                        progName = result[0].ProgrammeName;

                        $("#deptSummary").empty();

                        for (i = 0; i < result.length; i++) {
                            var sn = i + 1;
                            $("#deptSummary").append('<tr><td>' + sn + '</td><td><a onclick="showBreakdown(' + result[i].DepartmentId + ')">' + result[i].DepartmentName + '</a></td>' +
                                                    '<td>' + result[i].TotalCount + '</td><td>&#8358; ' + result[i].TotalAmount + '</td></tr>');
                        }
                        $("table #deptSummary tr").last().after('<tr><td>' + '' + '</td><td>' + '<b>Total</b>' + '</td>' + '<td>' + result[0].OverallCount + '</td>' + '<td><b>&#8358; ' + result[0].OverallAmount + '</b></td></tr>');

                        //summaryDataTable = $('#summaryTable').DataTable();
                        $("#deptSummaryHeader").text("Transaction Listing From " + $("#DateFrom").val() + " through " + $("#DateTo").val() + " " + feeTypeName + " " + modeName + " " + progName);

                        deptSummaryDataTable = $('#deptSummaryTable').DataTable({
                            dom: 'Bfrtip',

                            ordering: true,
                            buttons: [
                                {
                                    extend: 'copy',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'csv',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'excel',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'pdf',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                },
                                {
                                    extend: 'print',
                                    exportOptions: {
                                        columns: ':visible'
                                    }


                                }, , 'colvis'
                            ]
                        });

                        $("#deptSummaryDiv").fadeIn('slow');

                    } else {
                        alert(result.Message);
                    }
                },
                error: function (ex) {
                    alert('Operation Failed.' + ex);
                }
            });
        }

        function showSummaryDiv() {
            $("#summaryDiv").fadeIn('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');
            modeSummaryDataTable.destroy();

        }
        function showModeSummaryDiv() {
            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeIn('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeOut('slow');
            progSummaryDataTable.destroy();
        }
        function showProgSummaryDiv() {
            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeIn('slow');
            $("#deptSummaryDiv").fadeOut('slow');
            deptSummaryDataTable.destroy();
        }
        function showDeptSummaryDiv() {
            $("#summaryDiv").fadeOut('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#modeSummaryDiv").fadeOut('slow');
            $("#progSummaryDiv").fadeOut('slow');
            $("#deptSummaryDiv").fadeIn('slow');
        }

    </script>
}

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-6">

        <div class="row">
            <h3 style="color:#155e7d">Payment Report</h3>
            <hr style="color:#155e7d" />
        </div>

        <div class="row form-inline">
            <div class="col-md-12">
                @Html.RadioButtonFor(m => m.PaymentGateway, "Etranzact", new { id = "etranzactGateway", Checked = "checked" }) Etranzact &nbsp;
                @*@Html.RadioButtonFor(m => m.PaymentGateway, "Remita", new { id = "remitaGateway" }) Remita*@
            </div>
        </div>

        <div style="border: 1px solid #155e7d;">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#dateRange" style="background-color: #155e7d; border-radius:10px !important; color:white">Select Transaction Range</a></li>
            </ul>

            <div class="tab-content">
                <div id="dateRange" class="tab-pane fade in active">
                    <br />
                    <div class="row">
                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.DateFrom, "Start:", new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control col-md-6 date", placeholder = "From...", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.DateFrom)
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.DateTo, "End:", new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control col-md-6 date", placeholder = "To", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.DateTo)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-inline">
                            <div class="col-md-2"></div>
                            <button type="button" class="btn btn-success" onclick="showSummary()" style="background-color:#155e7d;">CONTINUE</button> &nbsp;
                            <span style="display: none" id="loadContinue"><img src="~/Content/Images/bx_loader.gif" /></span>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div style="background-color:#155e7d; width:100%; height:25px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-5"></div>
</div>

<div class="col-md-12" id="summaryDiv" style="margin-top: 30px; display: none;">
    <div class="col-md-1"></div>
    <div class="col-md-8">

        <div class="row table-responsive">
            <div class="panel" style="border: 1px solid #155e7d">
                <div class="panel-heading" style="background-color: #155e7d">
                    <h3 style="text-align: center; color: white; background-color: #155e7d;" id="summaryHeader"></h3>
                </div>
                <div class="panel-body table-responsive" style="text-align: center">
                    <div class="pull-left"><span style="display: none" id="loadSummary"><img src="~/Content/Images/bx_loader.gif" /></span></div>
                    <table class="table table-striped table-hover table-bordered" id="summaryTable">
                        <thead>
                            <tr>
                                <th style="text-align: center">SN</th>
                                <th style="text-align: center">COLLECTION TYPE</th>
                                <th style="text-align: center">TOTAL COUNT</th>
                                <th style="text-align: center">TOTAL AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody id="summary"></tbody>
                    </table>

                </div>
                <div class="panel-footer" style="background-color: #155e7d">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12" id="modeSummaryDiv" style="margin-top: 30px; display: none;">
    <div class="col-md-1"></div>
    <div class="col-md-8">

        <div class="row table-responsive">
            <div class="panel" style="border: 1px solid #155e7d">
                <div class="panel-heading" style="background-color: #155e7d">
                    <h3 style="text-align: center; color: white; background-color: #155e7d;" id="modeSummaryHeader"></h3>
                </div>
                <div class="panel-body table-responsive" style="text-align: center">
                    <div class="pull-left">
                        <button type="button" class="btn btn-primary" onclick="showSummaryDiv()" style="background-color: #155e7d;">BACK</button>
                        <hr style="background-color: #155e7d;" />
                    </div>

                    <div class="pull-left"><span style="display: none" id="loadModeSummary"><img src="~/Content/Images/bx_loader.gif" /></span></div>
                    <table class="table table-striped table-hover table-bordered" id="modeSummaryTable">
                        <thead>
                            <tr>
                                <th style="text-align: center">SN</th>
                                <th style="text-align: center">INSTALLMENT TYPE</th>
                                <th style="text-align: center">TOTAL COUNT</th>
                                <th style="text-align: center">TOTAL AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody id="modeSummary"></tbody>
                    </table>

                </div>
                <div class="panel-footer" style="background-color: #155e7d">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12" id="progSummaryDiv" style="margin-top: 30px; display: none;">
    <div class="col-md-1"></div>
    <div class="col-md-8">

        <div class="row table-responsive">
            <div class="panel" style="border: 1px solid #155e7d">
                <div class="panel-heading" style="background-color: #155e7d">
                    <h3 style="text-align: center; color: white; background-color: #155e7d;" id="progSummaryHeader"></h3>
                </div>
                <div class="panel-body table-responsive" style="text-align: center">
                    <div class="pull-left">
                        <button type="button" class="btn btn-primary" onclick="showModeSummaryDiv()" style="background-color: #155e7d;">BACK</button>
                        <hr style="background-color: #155e7d;" />
                    </div>
                    <div class="pull-left"><span style="display: none" id="loadProgSummary"><img src="~/Content/Images/bx_loader.gif" /></span></div>
                    <table class="table table-striped table-hover table-bordered" id="progSummaryTable">
                        <thead>
                            <tr>
                                <th style="text-align: center">SN</th>
                                <th style="text-align: center">PROGRAMME</th>
                                <th style="text-align: center">TOTAL COUNT</th>
                                <th style="text-align: center">TOTAL AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody id="progSummary"></tbody>
                    </table>

                </div>
                <div class="panel-footer" style="background-color: #155e7d">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12" id="deptSummaryDiv" style="margin-top:30px; display:none;">
    <div class="col-md-1"></div>
    <div class="col-md-8">

        <div class="row table-responsive">
            <div class="panel" style="border:1px solid #155e7d">
                <div class="panel-heading" style="background-color:#155e7d">
                    <h3 style="text-align: center; color:white;background-color:#155e7d;" id="deptSummaryHeader"></h3>
                </div>
                <div class="panel-body table-responsive" style="text-align:center">
                    <div class="pull-left">
                        <button type="button" class="btn btn-primary" onclick="showProgSummaryDiv()" style="background-color: #155e7d;">BACK</button>
                        <hr style="background-color: #155e7d;" />
                    </div>
                    <div class="pull-left"><span style="display: none" id="loadDeptSummary"><img src="~/Content/Images/bx_loader.gif" /></span></div>
                    <table class="table table-striped table-hover table-bordered" id="deptSummaryTable">
                        <thead>
                            <tr>
                                <th style="text-align:center">SN</th>
                                <th style="text-align:center">DEPARTMENT</th>
                                <th style="text-align:center">TOTAL COUNT</th>
                                <th style="text-align:center">TOTAL AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody id="deptSummary"></tbody>
                    </table>

                </div>
                <div class="panel-footer" style="background-color:#155e7d">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12" id="breakdownDiv" style="margin-top:30px; border:1px solid #155e7d; display:none;">
    <div class="col-md-12">

        <div class="row table-responsive">
            <h4 style="color: #155e7d;" id="breakdownTableHeader"></h4>
            <div class="pull-left">
                <button type="button" class="btn btn-primary" onclick="showDeptSummaryDiv()" style="background-color: #155e7d;">BACK</button>
                <hr style="background-color: #155e7d;" />
            </div>
            <table class="table table-striped table-hover" id="breakdownTable">
                <thead>
                    <tr style="background-color: #155e7d;">
                        <th style="color:white;">Sn</th>
                        <th style="color:white;">Transaction Date</th>
                        <th style="color:white;">Matric Number</th>
                        <th style="color:white;">Name</th>
                        <th style="color:white;">Level</th>
                        <th style="color:white;">Department</th>
                        <th style="color:white;">Faculty</th>
                        <th style="color:white;">Programme</th>
                        <th style="color:white;">Session</th>
                        <th style="color:white;">Invoice Number</th>
                        <th style="color:white;">Confirmation Number</th>
                        <th style="color:white;">Amount</th>
                    </tr>
                </thead>
                <tbody id="breakdown"></tbody>
            </table>
        </div>

    </div>
</div>
