﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "EtranzactPaymentReport";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/bundles/jquery")

    <link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>

    <script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>


    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <link href="~/Content/jquery-ui-1.10.3.css" rel="stylesheet" />
    <script src="~/Scripts/file-upload/jquery-ui-1.9.2.min.js"></script>

    <script type="text/javascript">

    var breakdownDataTable;
    var summaryDataTable;
    var gatewayValue;

    var feeType;
    var feeTypeName;
    var bankCode;
    var bankName;

    $(document).ready(function () {

        gatewayValue = $("#etranzactGateway").val();
        $('.loader').hide();
        $('input[type=radio][name=PaymentGateway]').change(function () {
            if (this.value == 'Etranzact') {
                $("#PaymentGateway").val('Etranzact');
                gatewayValue = 'Etranzact';
            }
            else if (this.value == 'Remita') {
                $("#PaymentGateway").val('Remita');
                gatewayValue = 'Remita';
            }
        });

        $('.date').datepicker({
            dateFormat: "mm/dd/yy",
            showOtherMonths: true,
            selectOtherMonths: true,
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });
    });


    function showSummary() {

        var dateFrom = $("#DateFrom").val();
        var dateTo = $("#DateTo").val();
        var gateway = gatewayValue;

        if (!dateFrom || !dateTo) {
            alert("Kindly select date-range before proceeding.");
            return;
        }

        if (!gateway) {
            alert("Kindly select payment gateway before proceeding.");
            return;
        }

        $("#summaryDiv").fadeOut('slow');
        $("#feeTypeSummaryDiv").fadeOut('slow');

        if (summaryDataTable != undefined) {
            summaryDataTable.destroy();
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetPaymentEtranzactSummary", "Payment")',
            traditional: true,
            data: { gatewayString: gateway, dateFromString: dateFrom, dateToString: dateTo },
            beforeSend: function () {
                $("#loadContinue").show();
            },
            complete: function () {
                $("#loadContinue").hide();
            },
            success: function (result) {
                if (result[0] && result[0].IsError === false) {

                    $("#summary").empty();

                    for (i = 0; i < result.length; i++) {
                        var sn = i + 1;
                        $("#summary").append('<tr><td>' + sn + '</td><td><a onclick="showFeeTypeSummary(\'' + result[i].BankCode + '\')">' + result[i].BankName + '</a></td>' +
                                                '<td>' + result[i].TotalCount + '</td><td>&#8358; ' + result[i].TotalAmount + '</td></tr>');
                    }
                    $("table #summary tr").last().after('<tr><td>' + '' + '</td><td>' + '<b>Total</b>' + '</td>' + '<td>' + result[0].OverallCount + '</td>' + '<td><b>&#8358; ' + result[0].OverallAmount + '</b></td></tr>');

                    //summaryDataTable = $('#summaryTable').DataTable();
                    $("#summaryHeader").text("Transaction Listing From " + $("#DateFrom").val() + " through " + $("#DateTo").val());
                    $("#summaryDiv").fadeIn('slow');

                } else {
                    alert(result.Message);
                }
            },
            error: function (ex) {
                alert('Operation Failed.' + ex);
            }
        });
    }

        function showFeeTypeSummary(bankCodeVal) {

        var dateFrom = $("#DateFrom").val();
        var dateTo = $("#DateTo").val();
        var gateway = gatewayValue;

        if (!dateFrom || !dateTo) {
            alert("Kindly select date-range before proceeding.");
            return;
        }

        if (!gateway || !bankCodeVal) {
            alert("Validation failure.");
            return;
        }

        bankCode = bankCodeVal;

        if (breakdownDataTable != undefined) {
            breakdownDataTable.destroy();
        }

        $("#summaryDiv").fadeOut('slow');
        $("#feeTypeSummaryDiv").fadeOut('slow');

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetBreakdownByBank", "Payment")',
            traditional: true,
            data: { gatewayString: gateway, dateFromString: dateFrom, dateToString: dateTo, bankCode: bankCodeVal },
            beforeSend: function () {
                $("#loadContinue").show();
            },
            complete: function () {
                $("#loadContinue").hide();
            },
            success: function (result) {
                if (result[0] && result[0].IsError === false) {

                    bankName = result[0].BankName;

                    $("#feeTypeSummary").empty();

                    for (i = 0; i < result.length; i++) {
                        var sn = i + 1;
                        $("#feeTypeSummary").append('<tr><td>' + sn + '</td><td>' + result[i].FeeTypeName + '</td>' + '<td>' + result[i].TotalCount +
                                                '</td><td>&#8358; ' + result[i].TotalAmount + '</td></tr>');
                    }
                    $("table #feeTypeSummary tr").last().after('<tr><td>' + '' + '</td><td>' + '<b>Total</b>' + '</td>' + '<td>' + result[0].OverallCount + '</td>' + '<td><b>&#8358; ' +
                                                    result[0].OverallAmount + '</b></td></tr>');

                    //summaryDataTable = $('#summaryTable').DataTable();
                    $("#feeTypeSummaryHeader").text("Transaction Listing From " + $("#DateFrom").val() + " through " + $("#DateTo").val() + " " + bankName);
                    breakdownDataTable = $('#feeTypeSummaryTable').DataTable({
                        dom: 'Bfrtip',
                        ordering: true,
                        buttons: [
                            {
                                extend: 'copy',
                                exportOptions: {
                                    columns: ':visible'
                                }


                            },
                            {
                                extend: 'csv',
                                exportOptions: {
                                    columns: ':visible'
                                }


                            },
                            {
                                extend: 'excel',
                                exportOptions: {
                                    columns: ':visible'
                                }


                            },
                            {
                                extend: 'pdf',
                                exportOptions: {
                                    columns: ':visible'
                                }


                            },
                            {
                                extend: 'print',
                                exportOptions: {
                                    columns: ':visible'
                                }


                            }, , 'colvis'
                        ]
                    });
                    $("#feeTypeSummaryDiv").fadeIn('slow');

                } else {
                    alert(result.Message);
                }
            },
            error: function (ex) {
                alert('Operation Failed.' + ex);
            }
        });
    }


        function showSummaryDiv() {
            $("#summaryDiv").fadeIn('slow');
            $("#breakdownDiv").fadeOut('slow');
            $("#feeTypeSummaryDiv").fadeOut('slow');
        }

    </script>
}

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-6">

        <div class="row">
            <h3 style="color:#155e7d">Payment Etranzact Report</h3>
            <hr style="color:#155e7d" />
        </div>

        <div class="row form-inline">
            <div class="col-md-12">
                @Html.RadioButtonFor(m => m.PaymentGateway, "Etranzact", new { id = "etranzactGateway", Checked = "checked" }) Etranzact &nbsp;
                @*@Html.RadioButtonFor(m => m.PaymentGateway, "Remita", new { id = "remitaGateway" }) Remita*@
            </div>
        </div>

        <div style="border: 1px solid #155e7d;">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#dateRange" style="background-color: white; border-radius:10px !important; color:white">Select Transaction Range</a></li>
            </ul>

            <div class="tab-content">
                <div id="dateRange" class="tab-pane fade in active">
                    <br />
                    <div class="row">
                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.DateFrom, "Start:", new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.DateFrom, new { @class = "form-control col-md-6 date", placeholder = "From..." })
                            @Html.ValidationMessageFor(model => model.DateFrom)
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group form-inline">
                            @Html.LabelFor(model => model.DateTo, "End:", new { @class = "control-label col-md-2" })
                            @Html.TextBoxFor(model => model.DateTo, new { @class = "form-control col-md-6 date", placeholder = "To"})
                            @Html.ValidationMessageFor(model => model.DateTo)
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group form-inline">
                            <div class="col-md-2"></div>
                            <button type="button" class="btn btn-success" onclick="showSummary()" style="background-color:#155e7d;">CONTINUE</button> &nbsp;
                            <span style="display: none" id="loadContinue"><img src="~/Content/Images/bx_loader.gif" /></span>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div style="background-color:#155e7d; width:100%; height:25px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-5"></div>
</div>

<div class="col-md-12" id="summaryDiv" style="margin-top: 30px; display: none;">
    <div class="col-md-1"></div>
    <div class="col-md-8">

        <div class="row table-responsive">
            <div class="panel" style="border: 1px solid #155e7d">
                <div class="panel-heading" style="background-color: #155e7d">
                    <h3 style="text-align: center; color: white; background-color: #155e7d;" id="summaryHeader"></h3>
                </div>
                <div class="panel-body table-responsive" style="text-align: center">
                    <div class="pull-left"><span style="display: none" id="loadSummary"><img src="~/Content/Images/bx_loader.gif" /></span></div>
                    <table class="table table-striped table-hover table-bordered" id="summaryTable">
                        <thead>
                            <tr>
                                <th style="text-align: center">SN</th>
                                <th style="text-align: center">BANK</th>
                                <th style="text-align: center">TOTAL COUNT</th>
                                <th style="text-align: center">TOTAL AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody id="summary"></tbody>
                    </table>

                </div>
                <div class="panel-footer" style="background-color: #155e7d">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-md-12" id="feeTypeSummaryDiv" style="margin-top: 30px; display: none;">
    <div class="col-md-1"></div>
    <div class="col-md-8">

        <div class="row table-responsive">
            <div class="panel" style="border: 1px solid #155e7d">
                <div class="panel-heading" style="background-color: #155e7d">
                    <h3 style="text-align: center; color: white; background-color: #155e7d;" id="feeTypeSummaryHeader"></h3>
                </div>
                <div class="panel-body table-responsive" style="text-align: center">
                    <div class="pull-left">
                        <button type="button" class="btn btn-primary" onclick="showSummaryDiv()" style="background-color: #155e7d;">BACK</button>
                        <hr style="background-color: #155e7d;" />
                    </div>

                    <div class="pull-left"><span style="display: none" id="loadfeeTypeSummary"><img src="~/Content/Images/bx_loader.gif" /></span></div>
                    <table class="table table-striped table-hover table-bordered" id="feeTypeSummaryTable">
                        <thead>
                            <tr>
                                <th style="text-align: center">SN</th>
                                <th style="text-align: center">PAYMENT TYPE</th>
                                <th style="text-align: center">TOTAL COUNT</th>
                                <th style="text-align: center">TOTAL AMOUNT</th>
                            </tr>
                        </thead>
                        <tbody id="feeTypeSummary"></tbody>
                    </table>

                </div>
                <div class="panel-footer" style="background-color: #155e7d">

                </div>
            </div>
        </div>

    </div>
</div>

