﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.PaymentTransferViewModel
@{
    ViewBag.Title = "TransferPayment";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size: x-large">Transfer Payment</div>
                <h5 style="color: lightgray">Enter new payment owner's matric number and valid payment confirmation order number</h5>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("TransferPayment", "Payment", new { area = "Admin" }, FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MatricNumber, "Matric Number:", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.MatricNumber, new { @class = "form-control", @placeholder = "Enter Matric Number", @required = "required" })
                                @Html.ValidationMessageFor(model => model.MatricNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmationNumber, "Confirmation Number:", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ConfirmationNumber, new { @class = "form-control", @placeholder = "Enter Confirmation Number", @required = "required" })
                                @Html.ValidationMessageFor(model => model.ConfirmationNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-success mr5" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>