﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.ProgrammeSetUp
@{
    ViewBag.Title = "Create Programme";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateProgramme</title>
</head>
<body>
    <div class="center">
        @using (Html.BeginForm("CreateProgramme", "ProgrammeSetUp", new { area = "Admin" }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Create Course</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div>
                    @if (TempData["Message"] != null)
                    {
                        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"]);
                    }
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Programme.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Programme.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Programme.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Programme.ShortName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Programme.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Programme.ShortName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Programme.Activated, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.CheckBoxFor(model => model.Programme.Activated, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.Programme.Activated, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>

            </div>
        }
    </div>
</body>
</html>
