﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.ProgrammeSetUp
@{
    ViewBag.Title = "Create Department";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

    <div class="center">
        @using (Html.BeginForm("CreateDepartment", "ProgrammeSetUp", new { area = "Admin" }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Create Course</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div>
                    @if (TempData["Message"] != null)
                    {
                        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"]);
                    }
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.Department.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Department.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Department.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Department.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Department.Code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Department.Code, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Department.Faculty, "Faculty", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.Department.Faculty.Id, (IEnumerable<SelectListItem>)ViewBag.Faculty, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Department.Faculty.Id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>

            </div>
        }
    </div>
