﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.ProgrammeSetUp
@{
    ViewBag.Title = "CreateProgrammeDepartment";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Link Programme & Department</h2>

<body>
    <div class="center">
        @using (Html.BeginForm("CreateProgrammeDepartment", "ProgrammeSetUp", new { area = "Admin" }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Create Course</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div>
                @if (TempData["Message"] != null)
                {
                    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"]);
                }
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Programme, "Programme", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.Programme, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Programme.Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Department, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.Department.Id, (IEnumerable<SelectListItem>)ViewBag.Department, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Department.Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ProgrammeDepartment.Activated, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.CheckBoxFor(model => model.ProgrammeDepartment.Activated, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.ProgrammeDepartment.Activated, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>


        }
    </div>
</body>