﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>@ViewBag.Title - Abia State College of Health Technology Aba</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
        
    <script type="text/javascript">
        
        function SetMenuStyle() {
            var mainPage = window.location.pathname.toString();
            
            var basicSetupMenus = ["FeeType", "Fee", "PersonType", "PaymentMode", "PaymentType", "Nationality", "State", "Lga", "ResultGrade", "Genotype", "Religion", "MaritalStatus", "Relationship", "Title", "StudentCategory", "StudentType", "ModeOfStudy", "ModeOfStudy", "CourseType", "Course", "OLevelGrade", "Cgpa", "Faculty", "Department", "Programme", "OLevelType", "OLevelSubject", "News"];
            for (var i = 0; i < basicSetupMenus.length; i++)
            {
                if (mainPage.indexOf(basicSetupMenus[i]) > -1) {
                    document.getElementById('lnkBasicSetup').className = "parent active";
                    document.getElementById('lnk' + basicSetupMenus[i]).className = "active";
                    break;
                }
            }

            var otherMenus = ["AdmissionProcessing", "PostJAMBPhotoCard", "ApplicationSummary", "ListOfApplications", "PhotoCard"]
            for (var i = 0; i < otherMenus.length; i++) {
                if (mainPage.indexOf(otherMenus[i]) > -1) {
                    document.getElementById('lnkAdmission').className = "parent active";
                    document.getElementById('lnk' + otherMenus[i]).className = "active";
                    break;
                }
            }
           
        }

       
    </script>
</head>
<body onload="javascript:SetMenuStyle();">
    <div class="container " style="color: #449D44">
        <div>
            <table style="margin-bottom:7px">
                <tr>
                    <td style="padding-right:7px"><img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" /></td>
                    <td><h3><strong>The Federal Polytechnic, Ilaro</strong></h3></td>
                </tr>
            </table>

        </div>

    </div>

    <header>

        <div class="headerwrapper">
            <div class="container ">
                <div class="header-left" style="padding: 15px 0 15px 0; ">
                    <div class="pull-right">
                        <a href="" class="menu-collapse">
                            <i class="fa fa-bars"></i>
                        </a>
                    </div>
                </div>

                <div class="header-right">
                    <div class="pull-right">

                        @*<div class="pull-right">*@
                        @*<form class="form form-search" action="search-results.html">
                                <input type="search" class="form-control" placeholder="Search" />
                            </form>*@

                        @*<div class="btn-group btn-group-list btn-group-notification">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="badge">5</span>
                                </button>
                                <div class="dropdown-menu pull-right">
                                    <a href="" class="link-right"><i class="fa fa-search"></i></a>
                                    <h5>Notification</h5>
                                    <ul class="media-list dropdown-list">
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                            <div class="media-body">
                                                <strong>Nusja Nawancali</strong> likes a photo of you
                                                <small class="date"><i class="fa fa-thumbs-up"></i> 15 minutes ago</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user2.png" alt="">
                                            <div class="media-body">
                                                <strong>Weno Carasbong</strong> shared a photo of you in your <strong>Mobile Uploads</strong> album.
                                                <small class="date"><i class="fa fa-calendar"></i> July 04, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user3.png" alt="">
                                            <div class="media-body">
                                                <strong>Venro Leonga</strong> likes a photo of you
                                                <small class="date"><i class="fa fa-thumbs-up"></i> July 03, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user4.png" alt="">
                                            <div class="media-body">
                                                <strong>Nanterey Reslaba</strong> shared a photo of you in your <strong>Mobile Uploads</strong> album.
                                                <small class="date"><i class="fa fa-calendar"></i> July 03, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                            <div class="media-body">
                                                <strong>Nusja Nawancali</strong> shared a photo of you in your <strong>Mobile Uploads</strong> album.
                                                <small class="date"><i class="fa fa-calendar"></i> July 02, 2014</small>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="dropdown-footer text-center">
                                        <a href="" class="link">See All Notifications</a>
                                    </div>
                                </div><!-- dropdown-menu -->
                            </div>*@<!-- btn-group -->
                        @*<div class="btn-group btn-group-list btn-group-messages">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge">2</span>
                                </button>
                                <div class="dropdown-menu pull-right">
                                    <a href="" class="link-right"><i class="fa fa-plus"></i></a>
                                    <h5>New Messages</h5>
                                    <ul class="media-list dropdown-list">
                                        <li class="media">
                                            <span class="badge badge-success">New</span>
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                            <div class="media-body">
                                                <strong>Nusja Nawancali</strong>
                                                <p>Hi! How are you?...</p>
                                                <small class="date"><i class="fa fa-clock-o"></i> 15 minutes ago</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <span class="badge badge-success">New</span>
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user2.png" alt="">
                                            <div class="media-body">
                                                <strong>Weno Carasbong</strong>
                                                <p>Lorem ipsum dolor sit amet...</p>
                                                <small class="date"><i class="fa fa-clock-o"></i> July 04, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user3.png" alt="">
                                            <div class="media-body">
                                                <strong>Venro Leonga</strong>
                                                <p>Do you have the time to listen to me...</p>
                                                <small class="date"><i class="fa fa-clock-o"></i> July 03, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user4.png" alt="">
                                            <div class="media-body">
                                                <strong>Nanterey Reslaba</strong>
                                                <p>It might seem crazy what I'm about to say...</p>
                                                <small class="date"><i class="fa fa-clock-o"></i> July 03, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                            <div class="media-body">
                                                <strong>Nusja Nawancali</strong>
                                                <p>Hey I just met you and this is crazy...</p>
                                                <small class="date"><i class="fa fa-clock-o"></i> July 02, 2014</small>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="dropdown-footer text-center">
                                        <a href="" class="link">See All Messages</a>
                                    </div>
                                </div><!-- dropdown-menu -->
                            </div>*@<!-- btn-group -->
                        @*<div class="btn-group btn-group-option">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"></i> Activity Log</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
                                </ul>
                            </div>*@<!-- btn-group -->


                        @*<div class="navbar navbar-default ">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav ">
                                    <li>@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, null)</li>

                                </ul>
                            </div>
                        </div>*@

                        @*@Html.Partial("_LoginPartial")*@


                    </div><!-- pull-right -->

                </div><!-- header-right -->

            </div><!-- headerwrapper -->
        </div>


    </header>








    @*<div class="header-right">
                        <div class="pull-right">
                            <form class="form form-search" action="search-results.html">
                                <input type="search" class="form-control" placeholder="Search" />
                            </form>

                            <div class="btn-group btn-group-list btn-group-notification">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="badge">5</span>
                                </button>
                                <div class="dropdown-menu pull-right">
                                    <a href="" class="link-right"><i class="fa fa-search"></i></a>
                                    <h5>Notification</h5>
                                    <ul class="media-list dropdown-list">
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                            <div class="media-body">
                                                <strong>Nusja Nawancali</strong> likes a photo of you
                                                <small class="date"><i class="fa fa-thumbs-up"></i> 15 minutes ago</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user2.png" alt="">
                                            <div class="media-body">
                                                <strong>Weno Carasbong</strong> shared a photo of you in your <strong>Mobile Uploads</strong> album.
                                                <small class="date"><i class="fa fa-calendar"></i> July 04, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user3.png" alt="">
                                            <div class="media-body">
                                                <strong>Venro Leonga</strong> likes a photo of you
                                                <small class="date"><i class="fa fa-thumbs-up"></i> July 03, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user4.png" alt="">
                                            <div class="media-body">
                                                <strong>Nanterey Reslaba</strong> shared a photo of you in your <strong>Mobile Uploads</strong> album.
                                                <small class="date"><i class="fa fa-calendar"></i> July 03, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                            <div class="media-body">
                                                <strong>Nusja Nawancali</strong> shared a photo of you in your <strong>Mobile Uploads</strong> album.
                                                <small class="date"><i class="fa fa-calendar"></i> July 02, 2014</small>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="dropdown-footer text-center">
                                        <a href="" class="link">See All Notifications</a>
                                    </div>
                                </div><!-- dropdown-menu -->
                            </div><!-- btn-group -->

                            <div class="btn-group btn-group-list btn-group-messages">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge">2</span>
                                </button>
                                <div class="dropdown-menu pull-right">
                                    <a href="" class="link-right"><i class="fa fa-plus"></i></a>
                                    <h5>New Messages</h5>
                                    <ul class="media-list dropdown-list">
                                        <li class="media">
                                            <span class="badge badge-success">New</span>
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                            <div class="media-body">
                                                <strong>Nusja Nawancali</strong>
                                                <p>Hi! How are you?...</p>
                                                <small class="date"><i class="fa fa-clock-o"></i> 15 minutes ago</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <span class="badge badge-success">New</span>
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user2.png" alt="">
                                            <div class="media-body">
                                                <strong>Weno Carasbong</strong>
                                                <p>Lorem ipsum dolor sit amet...</p>
                                                <small class="date"><i class="fa fa-clock-o"></i> July 04, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user3.png" alt="">
                                            <div class="media-body">
                                                <strong>Venro Leonga</strong>
                                                <p>Do you have the time to listen to me...</p>
                                                <small class="date"><i class="fa fa-clock-o"></i> July 03, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user4.png" alt="">
                                            <div class="media-body">
                                                <strong>Nanterey Reslaba</strong>
                                                <p>It might seem crazy what I'm about to say...</p>
                                                <small class="date"><i class="fa fa-clock-o"></i> July 03, 2014</small>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <img class="img-circle pull-left noti-thumb" src="images/photos/user1.png" alt="">
                                            <div class="media-body">
                                                <strong>Nusja Nawancali</strong>
                                                <p>Hey I just met you and this is crazy...</p>
                                                <small class="date"><i class="fa fa-clock-o"></i> July 02, 2014</small>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="dropdown-footer text-center">
                                        <a href="" class="link">See All Messages</a>
                                    </div>
                                </div><!-- dropdown-menu -->
                            </div><!-- btn-group -->

                            <div class="btn-group btn-group-option">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-star"></i> Activity Log</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a></li>
                                </ul>
                            </div><!-- btn-group -->

                        </div><!-- pull-right -->

                    </div><!-- header-right -->

                </div><!-- headerwrapper -->
            </div>


        </header>*@



    <section>
        <div class="container ">
            <div class="mainwrapper">
                @*<div class="leftpanel" style="background-color: #f1f8fe">*@

                <div class="leftpanel">
                    <div class="media profile-left">
                        <a class="pull-left profile-thumb" href="profile.html">
                            <img class="img-circle" src="@Url.Content("~/Content/Images/Photos/profile.png")" alt="">
                        </a>
                        <div class="media-body">
                            @*<h4 class="media-heading">Elen Adarna</h4>
                            <small class="text-muted">Beach Lover</small>*@
                        </div>
                    </div><!-- media -->

                    <h5 class="leftpanel-title">Navigation</h5>

                    <ul class="nav nav-pills nav-stacked">
                        @*<ul class="nav nav-stacked">*@
                        @*<li><a href="index.html"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>*@
                        <li id="lnkBasicSetup" class="parent active">

                            @*<li id="lnkBasicSetup" class="parent">*@
                            <a href=""><i class="fa fa-cog"></i> <span>Basic Setup</span></a>
                            <ul class="children ">

                                @*<li id="lnkFeeType">@Ajax.ActionLink("Fee Type", "Index", "FeeType", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "contentArea", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkFee">@Ajax.ActionLink("Fees", "Index", "Fee", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "contentArea", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkPaymentType">@Ajax.ActionLink("Payment Type", "Index", "PaymentType", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkCountry">@Ajax.ActionLink("Country", "Index", "Country", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkState">@Ajax.ActionLink("State", "Index", "State", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkLga">@Ajax.ActionLink("Local Government", "Index", "Lga", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkBloodGroup">@Ajax.ActionLink("Blood Group", "Index", "BloodGroup", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkGenotype">@Ajax.ActionLink("Genotype", "Index", "Genotype", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkReligion">@Ajax.ActionLink("Religion", "Index", "Religion", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkMaritalStatus">@Ajax.ActionLink("Marital Status", "Index", "MaritalStatus", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkRelationship">@Ajax.ActionLink("Relationship", "Index", "Relationship", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkTitle">@Ajax.ActionLink("Title", "Index", "Title", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkStudentCategory">@Ajax.ActionLink("Student Category", "Index", "StudentCategory", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkStudentType">@Ajax.ActionLink("Student Type", "Index", "StudentType", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkModeOfStudy">@Ajax.ActionLink("Mode of Study", "Index", "ModeOfStudy", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkModeOfStudy">@Ajax.ActionLink("Mode of Entry", "Index", "ModeOfStudy", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkCourseType">@Ajax.ActionLink("Course Type", "Index", "CourseType", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkCourse">@Ajax.ActionLink("Course", "Index", "Course", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkGrade">@Ajax.ActionLink("Grade", "Index", "Grade", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkCgpa">@Ajax.ActionLink("CGPA", "Index", "Cgpa", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkDepartment">@Ajax.ActionLink("Department", "Index", "Department", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkSchool">@Ajax.ActionLink("School", "Index", "School", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkProgramme">@Ajax.ActionLink("Programme", "Index", "Programme", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkOLevelType">@Ajax.ActionLink("O-Level Type", "Index", "OLevelType", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkSubject">@Ajax.ActionLink("Subject", "Index", "Subject", new { Area = "Admin" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>
                                    <li id="lnkNews">@Ajax.ActionLink("News", "Index", "News", new { Area = "Common" }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "content", InsertionMode = InsertionMode.Replace }, null)</li>*@



                                <li id="lnkFeeType">@Html.ActionLink("Fee Type", "Index", "FeeType", new { Area = "Admin" }, null)</li>
                                <li id="lnkFee">@Html.ActionLink("Fees", "Index", "Fee", new { Area = "Admin" }, null)</li>
                                <li id="lnkPaymentType">@Html.ActionLink("Payment Type", "Index", "PaymentType", new { Area = "Admin" }, null)</li>
                                <li id="lnkPaymentMode">@Html.ActionLink("Payment Mode", "Index", "PaymentMode", new { Area = "Admin" }, null)</li>
                                <li id="lnkNationality">@Html.ActionLink("Nationality", "Index", "Nationality", new { Area = "Admin" }, null)</li>
                                @*<li id="lnkState">@Html.ActionLink("State", "Index", "State", new { Area = "Admin" }, null)</li>
                                    <li id="lnkLga">@Html.ActionLink("Local Government", "Index", "Lga", new { Area = "Admin" }, null)</li>*@

                                <li id="lnkResultGrade">@Html.ActionLink("Result Grade", "Index", "ResultGrade", new { Area = "Admin" }, null)</li>
                                <li id="lnkReligion">@Html.ActionLink("Religion", "Index", "Religion", new { Area = "Admin" }, null)</li>
                                @*<li id="lnkMaritalStatus">@Html.ActionLink("Marital Status", "Index", "MaritalStatus", new { Area = "Admin" }, null)</li>*@
                                <li id="lnkRelationship">@Html.ActionLink("Relationship", "Index", "Relationship", new { Area = "Admin" }, null)</li>

                                @*<li id="lnkTitle">@Html.ActionLink("Title", "Index", "Title", new { Area = "Admin" }, null)</li>*@

                                <li id="lnkPersonType">@Html.ActionLink("Person Type", "Index", "PersonType", new { Area = "Admin" }, null)</li>
                                @*<li id="lnkStudentCategory">@Html.ActionLink("Student Category", "Index", "StudentCategory", new { Area = "Admin" }, null)</li>*@
                                <li id="lnkStudentType">@Html.ActionLink("Student Type", "Index", "StudentType", new { Area = "Admin" }, null)</li>
                                @*<li id="lnkModeOfStudy">@Html.ActionLink("Mode of Study", "Index", "ModeOfStudy", new { Area = "Admin" }, null)</li>*@

                                @*<li id="lnkCourseType">@Html.ActionLink("Course Type", "Index", "CourseType", new { Area = "Admin" }, null)</li>*@
                                @*<li id="lnkCourse">@Html.ActionLink("Course", "Index", "Course", new { Area = "Admin" }, null)</li>*@

                                <li id="lnkOLevelGrade">@Html.ActionLink("O-Level Grade", "Index", "OLevelGrade", new { Area = "Admin" }, null)</li>
                                @*<li id="lnkCgpa">@Html.ActionLink("CGPA", "Index", "Cgpa", new { Area = "Admin" }, null)</li>*@
                                <li id="lnkFaculty">@Html.ActionLink("School", "Index", "Faculty", new { Area = "Admin" }, null)</li>
                                @*<li id="lnkDepartment">@Html.ActionLink("Programme", "Index", "Department", new { Area = "Admin" }, null)</li>*@

                                @*<li id="lnkSchool">@Html.ActionLink("School", "Index", "School", new { Area = "Admin" }, null)</li>*@

                                @*<li id="lnkProgramme">@Html.ActionLink("Programme", "Index", "Programme", new { Area = "Admin" }, null)</li>*@
                                <li id="lnkOLevelType">@Html.ActionLink("O-Level Type", "Index", "OLevelType", new { Area = "Admin" }, null)</li>
                                @*<li id="lnkOLevelSubject">@Html.ActionLink("O-Level Subject", "Index", "OLevelSubject", new { Area = "Admin" }, null)</li>*@

                                <li id="lnkInstitutionType">@Html.ActionLink("Institution Type", "Index", "InstitutionType", new { Area = "Admin" }, null)</li>

                                <li id="lnkNews">@Html.ActionLink("News", "Index", "News", new { Area = "Common" }, null)</li>

                            </ul>
                        </li>

                        <li id="lnkAdmission"  class="parent active">

                            <a href=""><i class="fa fa-file-text"></i> <span>Admission</span></a>

                            @*<a href=""><i class="fa fa-file-text"></i> <span>Pages</span></a>*@
                            @*<a href=""><i class="fa fa-bar-chart"></i> <span>Reports</span></a>*@

                            <ul class="children">
                                <li id="lnkAdmissionProcessing">@Html.ActionLink("Admission Processing", "Index", "AdmissionProcessing", new { Area = "Admin" }, null)</li>

                                <li id="lnkApplicationSummary">@Html.ActionLink("Application Summary", "ApplicationSummary", "Report", new { Area = "Admin" }, null)</li>
                                <li id="lnkListOfApplications">@Html.ActionLink("List of Applications", "ListOfApplications", "Report", new { Area = "Admin" }, null)</li>
                                <li id="lnkPhotoCard">@Html.ActionLink("Photo Card", "PhotoCard", "Report", new { Area = "Admin" }, null)</li>

                                @*<li><a href="notfound.html">Not Found</a></li>
                <li class="active"><a href="blank.html">Blank Page</a></li>
                <li><a href="calendar.html">Calendar</a></li>
                <li><a href="invoice.html">Invoice</a></li>
                <li><a href="locked.html">Locked Screen</a></li>
                <li><a href="media-manager.html">Media Manager</a></li>
                <li><a href="people-directory.html">People Directory</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="search-results.html">Search Results</a></li>
                <li><a href="signin.html">Sign In</a></li>
                <li><a href="signup.html">Sign Up</a></li>*@
                            </ul>
                        </li>

                        @*<li class="parent">
                            <a href=""><i class="fa fa-edit"></i> <span>Forms</span></a>
                            <ul class="children">
                                <li><a href="code-editor.html">Code Editor</a></li>
                                <li><a href="general-forms.html">General Forms</a></li>
                                <li><a href="form-layouts.html">Layouts</a></li>
                                <li><a href="wysiwyg.html">Text Editor</a></li>
                                <li><a href="form-validation.html">Validation</a></li>
                                <li><a href="form-wizards.html">Wizards</a></li>
                            </ul>
                        </li>
                        <li class="parent">
                            <a href=""><i class="fa fa-bars"></i><span>Tables</span></a>
                            <ul class="children">
                                <li><a href="basic-tables.html">Basic Tables</a></li>
                                <li><a href="data-tables.html">Data Tables</a></li>
                            </ul>
                        </li>

                        <li class="parent">
                            <a href=""><i class="fa fa-envelope-o"></i><span>Messages</span></a>

                            <ul class="children">
                                <li class="active"><a href="">SMS</a></li>
                                <li><a href="">Email</a></li>
                            </ul>
                        </li>*@


                       


                    </ul>
                </div><!-- leftpanel -->

                <div class="mainpanel">
                    <div class="pageheader">
                        <div class="media">
                            <div class="pageicon pull-left" style="margin-right:7px">
                                <i class="fa fa-home">
                                </i>
                            </div>
                            <div class="media-body">
                               
                                <ul class="breadcrumb">
                                    <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                                </ul>
                                <h4>Admin</h4>

                            </div>
                        </div><!-- media -->
                    </div><!-- pageheader -->

                    <div id="contentArea" class="contentpanel" style="margin-top:0px; padding-top:0px">
                        @RenderBody()
                        <!-- CONTENT GOES HERE -->

                    </div><!-- contentpanel -->
                </div>
            </div><!-- mainwrapper -->
        </div>

    </section>





    @*<script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/modernizr.min.js"></script>
        <script src="js/pace.min.js"></script>
        <script src="js/retina.min.js"></script>
        <script src="js/jquery.cookies.js"></script>
        <script src="js/custom.js"></script>*@













    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink("Ilaro Poly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @*<script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/jquery-1.11.1.min.js"></script>
        <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/modernizr.min.js"></script>
        <script src="~/Scripts/pace.min.js"></script>
        <script src="~/Scripts/retina.min.js"></script>
        <script src="~/Scripts/jquery.cookies.js"></script>
        <script src="~/Scripts/custom.js"></script>

        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

    @RenderSection("scripts", required: false)





</body>
</html>