﻿@*@model System.Data.DataTable

@if (Model != null && Model.ExcelData != null && Model.ExcelData.Rows.Count > 0)
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <p>
                            <input class="btn btn-white btn-lg" type="submit" name="btnSave" id="btnSave" value="Save" />
                            <input class="btn btn-white btn-lg" type="submit" name="btnSave" id="btnCancel" value="Cancel" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <b>Uploaded File Summary</b>

                    <div class="pull-right record-count-label">
                        <label class="caption">Sum of Selected Course Unit</label><span id="spFirstSemesterTotalCourseUnit" class="badge">55</span>
                        <label class="caption">Min Unit</label><span id="spFirstSemesterMinimumUnit" class="badge">90</span>
                        <label class="caption">Max Unit</label><span id="spFirstSemesterMaximumUnit" class="badge">8</span>
                        <span class="caption">Total Course</span><span class="badge">56</span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive " style="font-size:9pt">
                        <table class="table table-condensed grid-table table-striped">
                            <thead>
                                <tr class="well" style="height:35px; vertical-align:middle">
                                    @for (int i = 0; i < Model.ExcelData.Columns.Count; i++)
                                    {
                                        <th class="rotate" style="border-right: 1px solid gainsboro;"><div><span>@Model.ExcelData.Columns[i].Caption</span></div></th>
                                    }
                                </tr>
                            </thead>

                            @for (int i = 0; i < Model.ExcelData.Rows.Count; i++)
                            {
                                <tr>
                                    @for (int j = 0; j < Model.ExcelData.Columns.Count; j++)
                                    {
                                        <td style="border-right: 1px solid gainsboro;">
                                            <span>@Model.ExcelData.Rows[i][j]</span>
                                        </td>
                                    }
                                </tr>
                            }
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
}*@

