﻿@model Abundance_Nk.Model.Model.Invoice

@{
    ViewBag.Title = "Invoive";
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/misc.css" rel="stylesheet" />

<br />

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#aPrint").on('click', function () {
                $(".printable").print();
                return false;
            });

        });

    </script>
}

<div class="printable">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    @if (Model == null || Model.Person == null || Model.Payment == null) { return; }
                </div>
                <div class="row">
                    <div class="col-xs-6">

                        <h5 class="lg-title mb10">From</h5>

                        <div>
                            <strong>@Model.Person.FullName</strong><br>
                            <span><b>Email</b>:</span> @Model.Person.Email
                            <br>
                            <span><b>Phone</b>:</span> @Model.Person.MobilePhone <br />
                            <span><b>Department</b>: @Model.Department</span><br/>
                            @if (!string.IsNullOrEmpty(Model.Level))
                            {
                                <span><b>Level</b>: @Model.Level</span><br />
                            }
                            <span><b>Session</b>: @Model.Session</span>

                            <br />
                            @if (Model != null)
                            {
                                <span><b>Etranzact Payment Type</b>: @Model.paymentEtranzactType.Name</span><br/>
                                <span><b>Payment Option</b>: @Model.Payment.PaymentMode.Name.ToUpper()</span> <br/><br/><br />
                                if (Model.Payment != null && Model.Payment.FeeType != null && !string.IsNullOrEmpty(Model.JambRegistrationNumber))
                                {

                                    <span><b> JAMB Reg.No.</b>: @Model.JambRegistrationNumber </span>
                                }
                               
                            }

                        </div>
                    </div><!-- col-sm-6 -->

                    <div class="col-xs-6 text-right">
                        <h5 class="subtitle mb10">Invoice No.</h5>
                        <h4 class="text-primary">@Model.Payment.InvoiceNumber</h4>

                        <h5 class="subtitle mb10">To</h5>

                        <div>
                            <strong>Abia State College of Health Sciences and Management Technology, Aba</strong><br>
                           Abia State.<br>
                        </div>

                        <br />
                        <p><strong>Invoice Date:</strong> @DateTime.Now.ToLongDateString()</p>

                    </div>
                </div><!-- row -->

                <div class="table-responsive">
                    @if (Model.Paid)
                    {
                        <div style="color:red; font-weight:bold; font-size:28pt; margin:0; border:0; padding:0 ">PAID</div>
                    }
                    <table class="table table-bordered table-dark table-invoice" style="margin-top:0; padding-top:0;">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Unit Price (₦)</th>
                                <th>Total Price (₦)</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            
                            @if(@Model.Payment.FeeDetails != null)
                            {
                                for(int i = 0;i < Model.Payment.FeeDetails.Count;i++)
                                {
                                    <tr>
                                        <td>
                                            <h5><a href="">@Model.Payment.FeeDetails[i].Fee.Name</a></h5>
                                        </td>
                                        <td>1</td>
                                        <td>@Model.Payment.FeeDetails[i].Fee.Amount.ToString()</td>
                                        <td>@Model.Payment.FeeDetails[i].Fee.Amount.ToString()</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <h5><a href="">@Model.Payment.FeeType.Name</a></h5>
                                    </td>
                                    <td>1</td>
                                    <td>@Model.Payment.FeeDetails.Sum(p => p.Fee.Amount).ToString("n")</td>
                                    <td>@Model.Payment.FeeDetails.Sum(p => p.Fee.Amount).ToString("n")</td>

                                </tr>
                            }

                            

                            @if(Model.Payment.AdditionalFee != null && Model.Payment.AdditionalFee.Count > 0)
                            {
                                <tr>
                                    <td>
                                        <h5><a href="">Additional Fee</a></h5>
                                        <p></p>
                                    </td>
                                    <td>1</td>
                                    <td>@Model.Payment.AdditionalFee.Sum(p => p.Fee.Amount).ToString("n")</td>
                                    <td>@Model.Payment.AdditionalFee.Sum(p => p.Fee.Amount).ToString("n")</td>
                                </tr>
                            }
                           
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p> </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p></p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- table-responsive -->

                <table class="table table-total">
                    <tbody>
                        <tr>
                    <td>Sub Total:</td>
                    @if (Model.Payment.AdditionalFee != null && Model.Payment.AdditionalFee.Count > 0)
                    {
                        <td>@(Model.Payment.FeeDetails.Sum(p => p.Fee.Amount) + Model.Payment.AdditionalFee.Sum(p => p.Fee.Amount))</td>
                    }
                    else
                    {
                        <td>@Model.Payment.FeeDetails.Sum(p => p.Fee.Amount) </td>
                    }
                    </tr>
                        <tr>
                            <td>VAT:</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <td>TOTAL:</td>
                        @if (Model.Payment.AdditionalFee != null && Model.Payment.AdditionalFee.Count > 0)
                        {
                            <td>@(Model.Payment.FeeDetails.Sum(p => p.Fee.Amount) + Model.Payment.AdditionalFee.Sum(p => p.Fee.Amount))</td>
                        }
                        else
                        {
                            <td>@Model.Payment.FeeDetails.Sum(p => p.Fee.Amount) </td>
                        }
</tr>
                    </tbody>
                </table>


            </div><!-- panel-body -->
            <div class="well nomargin" style="margin:20px">
                Thank you for choosing our school.
            </div>

        </div><!-- panel -->
    </div>


</div>

















