﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>@ViewBag.Title - Abia State College of Health Technology Aba</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/style.default.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-override.css" rel="stylesheet" />
	<link href="~/Content/misc.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap" rel="stylesheet">

	<link rel="apple-touch-icon" sizes="57x57" href="~/Content/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="~/Content/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="~/Content/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="~/Content/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="~/Content/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="~/Content/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="~/Content/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="~/Content/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="~/Content/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="~/Content/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/Content/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="~/Content/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/Content/favicon/favicon-16x16.png">
	<link rel="manifest" href="~/Content/favicon/manifest.json">

	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="~/Content/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">

			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="http://www.abscohtech.edu.ng/web/" title="Abscohtch Home"><img class="img-circle" src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" width="70px" /></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav ubunt">
                    <li>@Html.ActionLink("Home", "Index", new { Controller = "Home", Area = "" })</li>

                    <li><a href="#">Portal User Guide</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Applicants<span class="caret"></span></a>
                        <ul class="dropdown-menu ubunt" role="menu" aria-labelledby="dLabel">
                            <li>@Html.ActionLink("Generate Invoice", "PostJambFormInvoiceGeneration", "Form", new { Area = "Applicant" }, null)</li>
                            <li>@Html.ActionLink("Fill Application Form", "PostJambProgramme", "Form", new { Area = "Applicant" }, null)</li>
                            <li>@Html.ActionLink("Generate Sundry Fee Invoice", "GenerateSundryFees", "Payment", new { Area = "Student" }, null)</li>
                            <li>@Html.ActionLink("Check Admission Status", "CheckStatus", "Admission", new { Area = "Applicant" }, null)</li>
                            <li>@Html.ActionLink("Check Utme Result", "Index", "PostUtmeResult", new { Area = "Applicant" }, null)</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Generate Invoice<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a id="btnAcceptance" href="#">Acceptance Invoice</a></li>
                            <li>@Html.ActionLink("School Fee Invoice", "Index", "Payment", new { Area = "Student", feeType = Abundance_Nk.Web.Models.Utility.Encrypt("3") }, null)</li>
                            <li>@Html.ActionLink("Hostel Invoice", "GeneratHostelInvoice", "Payment", new { Area = "Student", feeType = Abundance_Nk.Web.Models.Utility.Encrypt("11") }, null)</li>
                            <li>@Html.ActionLink("Pay Other Fees", "PayOtherFees", "Payment", new { Area = "Student" }, null)</li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><a id="btnPReceipt" href="#">Print Receipt</a></li>

                  
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Session Registration", "Logon", "Registration", new { Area = "Student" }, null)</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("Check Semester Result", "Check", "Result", new { Area = "Student" }, null)</li>

                    @if (User.Identity.Name.Contains("/"))
    {

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Student<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                        <li>@Html.ActionLink("Invoices", "Fees", "Home", new { Area = "Student" }, null)</li>
                        <li>@Html.ActionLink("Session Registration", "Logon", "Home", new { Area = "Student" }, null)</li>
                        <li>@Html.ActionLink("Receipts", "PaymentHistory", "Home", new { Area = "Student" }, null)</li>
                        <li>@Html.ActionLink("Results", "Result", "Home", new { Area = "Student" }, null)</li>
                    </ul>
                </li>

}
else
{


if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li>@Html.ActionLink("Basic Setup", "Index", "PersonType", new { Area = "Admin" }, null)</li>

                        <li class="divider"></li>

                        <li>@Html.ActionLink("Application Summary", "ApplicationSummary", "Report", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Application Form Summary", "ApplicationFormSummary", "Report", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("List of Applicants", "ListOfApplications", "Report", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Photo Card", "PhotoCard", "Report", new { Area = "Admin" }, null)</li>

                        <li class="divider"></li>

                        <li>@Html.ActionLink("Process Application", "Index", "AdmissionProcessing", new { Area = "Admin" }, null)</li>
                        @*<li>@Html.ActionLink("Clear Applicant", "Applicant", "Clearance", new { Area = "Admin" }, null)</li>*@


                        <li class="divider"></li>
                        <li>@Html.ActionLink("Correct Applicant Details", "Index", "Support", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Correct O level", "CorrectOlevel", "Support", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Retrieve Pin", "PinRetrieval", "Support", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Delete Duplicate Matric Number", "DeleteDuplicateMatricNumber", "Support", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Update Payment", "UpdatePayment", "Support", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Update Matric Number", "UpdateMatricNumberFromPin", "Support", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Correct Returning Student", "CorrectReturningStudentDetail", "Support", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Update Fees", "ManageFees", "FeeDetail", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Upload Admission List", "UploadAdmission", "UploadAdmission", new { Area = "Admin" }, null)</li>

                        <li class="divider"></li>
                        <li>@Html.ActionLink("View Department Courses", "Index", "Courses", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Edit Department Courses", "Edit", "Courses", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Add And Update Courses", "AddAndUpdateCourses", "Courses", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Activate Courses", "ActivateCourses", "Courses", new { Area = "Admin" }, null)</li>

                        <li class="divider"></li>
                        <li>@Html.ActionLink("Bulk Course Registration", "RegisterCourse", "StudentCourseRegistration", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Student Details", "StudentDetails", "StudentCourseRegistration", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Print Course Form", "PrintStudentCourseForm", "StudentCourseRegistration", new { Area = "Admin" }, null)</li>
                        <li class="divider"></li>
                        @*<li>@Html.ActionLink("Download Result Sheet", "Download", "Staff", new {Area = "Admin"}, null)</li>
            <li>@Html.ActionLink("Upload Result Sheet", "Upload", "Staff", new {Area = "Admin"}, null)</li>
            <li>@Html.ActionLink("View Uploaded Result", "ViewResultSheet", "Staff", new { Area = "Admin" }, null)</li>*@
                        <li>@Html.ActionLink("Upload Composite Sheet", "UploadCompositeSheeet", "Staff", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("View Master Sheet", "MasterGradeSheet", "Report", new { Area = "Admin" }, null)</li>

                    </ul>
                </li>
}
else if (User.IsInRole("ICT"))
{
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                        <li>@Html.ActionLink("Correct Applicant Details", "Index", "Support", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Correct O level", "CorrectOlevel", "Support", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Delete Duplicate Matric Number", "DeleteDuplicateMatricNumber", "Support", new { Area = "Admin" }, null)</li>
                        <li>@Html.ActionLink("Correct Returning Student", "CorrectReturningStudentDetail", "Support", new { Area = "Admin" }, null)</li>

                        <li class="divider"></li>
                        <li>@Html.ActionLink("Print Course Form", "PrintStudentCourseForm", "StudentCourseRegistration", new { Area = "Admin" }, null)</li>
                    </ul>
                </li>
}
}

}
                </ul>

				<div>
					@Html.Partial("_LoginPartial")
				</div>
			</div>

		</div>


	</nav>
	<br />
	<br />
<div class="container ubunt">
	<br/>
	@RenderBody()

	<hr/>
	<div class="row m-t--50">
		<div class="col-lg-12 ">
			<p style="color:#16597A; text-align:center">If you experience any difficulties or issues kindly call 07088391544 , 09059424123 , 09053630262 or email support@lloydant.com</p>
		</div>

	</div>
	<hr />
	<!-- Footer -->
	<footer class="navbar-fixed-bottom">
		<div class="row container">
			<div class="col-lg-6">
				<p>&copy; @DateTime.Now.Year - Abia State College Of Health Sciences And Management Technology</p>
			</div>
			<div class="col-lg-6 pull-right">
				<p class="align-right"><a href="http://www.lloydant.com">Powered by <img src="@Url.Content("~/Content/Images/lloydant.png")" alt=""/></a>
				</p>
			</div>
		</div>
	</footer>
</div>



	<!-- Start of Smartsupp Live Chat script -->
	@*<script type="text/javascript">


		var _smartsupp = _smartsupp || {};
		_smartsupp.key = "8d8c5c64fa82b02ea860a7f80d5a93c351259935";

				//
		_smartsupp.cookieDomain = '.abscohtech-edu.net';
		_smartsupp.requireLogin = true;
		// disable email
		_smartsupp.loginEmailControl = false;
		// append checkbox control to confirm something
		_smartsupp.loginControls = [{
			xtype: 'textinput',
			name: 'number',
			label: 'Phone',
			required: true
		}, {
			xtype: 'textinput',
			name: 'identifier',
			label: 'Application / Matric No',
			required: true
		}];

		window.smartsupp||(function(d) {
			var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
			s=d.getElementsByTagName('script')[0];c=d.createElement('script');
			c.type='text/javascript';c.charset='utf-8';c.async=true;
			c.src='//www.smartsuppchat.com/loader.js';s.parentNode.insertBefore(c,s);
		})(document);

		
	</script>*@
	<!-- End of Smartsupp Live Chat script -->
	@*<script>
	// customize banner & logo
	smartsupp('banner:set', 'bubble');
	smartsupp('chat:avatar', '/assets/images/demo-logo-1.png');

	// customize texts
	smartsupp('chat:translate', {
		online: {
			title: 'Support',
			infoTitle: 'LLOYDANT'
		},
		offline: {
			title: 'OFFLINE'
		}
	});

	// customize colors
	smartsupp('theme:colors', {
		primary: '#155F7E',
		banner: '#999999',
		primaryText: '#ffffff'
	});
	</script>*@

   
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5e1c9b0b7e39ea1242a465b4/1duhv07gr';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)

</body>


</html>
