﻿@using Abundance_Nk.Web.Models
@model Abundance_Nk.Model.Model.Receipt

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-7 col-sm-7 col-md-7">
                    <img class="img-circle " src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" />
                    <address>
                        <strong>Abia State College of Health Sciences and Management Technology, Aba, Abia State. </strong>
                       
                    </address>

                </div>
                <div class="col-xs-5 col-sm-5 col-md-5 text-left" style="padding-left: 0;">
                    <p>
                        @*<em>Name: <b>@Model.Name</b></em>*@
                        <b>@Model.Name</b>
                    </p>
                    <p>
                        <em>Date:<b> @Model.Date.ToLongDateString()</b></em>
                    </p>
                    <p>
                        <em>Receipt #: <b>@Model.Number</b></em>
                    </p>
                    <p>
                        <em>Confirmation Order #: <b>@Model.ConfirmationOrderNumber</b></em>
                    </p>
                    @if (Model.MatricNumber != null)
                    {
                        <p>
                            <em>Matric NO: <b>@Model.MatricNumber</b></em>
                        </p>
                    }
                      @if (Model.Programme != null)
                    {
                        <p>
                            <em>Programme: <b>@Model.Programme</b></em>
                        </p>
                    }
                        @if (Model.Department != null)
                    {
                        <p>
                            <em>Department: <b>@Model.Department</b></em>
                        </p>
                    }
                          @if (Model.Level != null)
                    {
                        <p>
                            <em>Level: <b>@Model.Level</b></em>
                        </p>
                    }
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center text-danger">
                        <h1>Receipt</h1>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Qty</th>
                                <th class="text-center">Rate (N)</th>
                                <th class="text-center">Total (N)</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            @if (Model.Installment != null)
                            {
                                <td class="col-md-9"><em>@Model.Purpose (@Model.Installment)</em></td>
                            }
                            else
                            {
                                <td class="col-md-9"><em>@Model.Purpose</em></td>
                            }
                            <td class="col-md-1" style="text-align: center"> 1 </td>
                            <td class="col-md-1 text-center">@Model.Amount.ToString("n")</td>
                            <td class="col-md-1 text-center">@Model.Amount.ToString("n")</td>
                        </tr>
                            @if (Model.AdditionalFees > 0)
                            {
                                <tr>
                                    <td class="col-md-9"><em>Additional Fee</em></td>
                                    <td class="col-md-1" style="text-align: center"> 1 </td>
                                    <td class="col-md-1 text-center">@Model.AdditionalFees.ToString("n")</td>
                                    <td class="col-md-1 text-center">@Model.AdditionalFees.ToString("n")</td>
                                </tr>
                            }
                           
                            <tr>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td class="text-right">
                                    <p>
                                        <strong>Subtotal:&nbsp;</strong>
                                    </p>
                                    <p>
                                        <strong>Tax:&nbsp;</strong>
                                    </p>
                                </td>
                                <td class="text-center">
                                    <p>
                                        <strong>@(Model.Amount + Model.AdditionalFees)</strong>
                                    </p>
                                    <p>
                                        <strong></strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left"> 
                                    @Html.GenerateQrCode(Model.QRVerification)  
                                 </td>
                                <td> &nbsp; </td>
                                <td class="text-right"><h4><strong>Total:&nbsp;</strong></h4></td>
                                <td class="text-center text-danger"><h4><strong>@(Model.Amount + Model.AdditionalFees)</strong></h4></td>
                            </tr>
                        </tbody>
                    </table>
                  
                </div>
            </div>
        </div>
    </div>
</div>

