﻿@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <link href="~/Content/pretty-menu.css" rel="stylesheet" />
    <script src="~/Scripts/prettify.js"></script>
    <script src="~/Scripts/custom.js"></script>

</head>

<body>
    <div class="row">
        <div class="col-md-3">
            <ul class="leftmenu">
                <li>
                    <a href="#gettingstarted">Basic</a>
                    <ul class="children">
                        <li id="lnkPersonType">@Html.ActionLink("Your Bio-Data", "Index", "PersonType", new { Area = "Admin" }, null)</li>
                        <li id="lnkStudentType">@Html.ActionLink("Register Course", "Index", "CourseRegistration", new { Area = "Student" }, null)</li>
                        <li id="lnkReligion">@Html.ActionLink("Check Result", "Index", "Religion", new { Area = "Admin" }, null)</li>
                    </ul>
                </li>
                <li>
                    <a href="#css">Payment</a>
                    <ul class="children">
                        <li id="lnkFee">@Html.ActionLink("Pay School Fees", "Index", "Fee", new { Area = "Admin" }, null)</li>
                    </ul>
                </li>

            </ul>
        </div><!-- col-md-3 -->
        <div class="col-md-9">
            @RenderBody()
        </div><!-- col-md-9 -->
    </div>

    @RenderSection("scripts", required: false)

</body>

</html>



