﻿@model Abundance_Nk.Model.Model.Invoice

@{
    ViewBag.Title = "Invoive";
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/misc.css" rel="stylesheet" />

<br />

@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $("#aPrint").on('click', function () {
            $(".printable").print();
            return false;
        });

    </script>
}

<div class="printable">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
            <div class="row">
                @if (TempData["Message"] != null)
                {
                    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                }

                @if (Model == null || Model.Person == null || Model.Payment == null) { return; }
            </div>
                <div class="row">
                    <div class="col-xs-6">

                        <h5 class="lg-title mb10">From</h5>

                        <div>
                            <strong>@Model.Person.FullName</strong><br>
                            <abbr title="Phone">Email:</abbr> @Model.Person.Email
                            <br>
                            <abbr title="Phone">Phone:</abbr> @Model.Person.MobilePhone
                            <br />
                            <br />
                            @if (Model != null)
                            {
                                if (!string.IsNullOrEmpty(Model.JambRegistrationNumber))
                                { 
                                    <span><b>Payment Type:</b>: @Model.Payment.Fee.Type.Name</span>
                                }
                                else if (Model.Payment != null && Model.Payment.Fee.Type != null && !string.IsNullOrEmpty(Model.JambRegistrationNumber))
                                {
                                    <br />
                                    <span><b>JAMB Reg. No.</b>: @Model.JambRegistrationNumber</span>
                                }
                            }
                            
                        </div>
                    </div><!-- col-sm-6 -->

                    <div class="col-xs-6 text-right">
                        <h5 class="subtitle mb10">Invoice No.</h5>
                        <h4 class="text-primary">@Model.Payment.InvoiceNumber</h4>

                        <h5 class="subtitle mb10">To</h5>

                        <div>
                            <strong>Abia State College of Health Technology Aba</strong><br>
                           Abia State.<br>
                        </div>

                        <br />
                        <p><strong>Invoice Date:</strong> @DateTime.Now.ToLongDateString()</p>

                    </div>
                </div><!-- row -->

                <div class="table-responsive">
                    <table class="table table-bordered table-dark table-invoice">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5><a href="">@Model.Payment.Fee.Type.Name</a></h5>
                                </td>
                                <td>1</td>
                                <td>@Model.Payment.Fee.Amount</td>
                                <td>@Model.Payment.Fee.Amount</td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p></p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p> </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p></p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- table-responsive -->

                <table class="table table-total">
                    <tbody>
                        <tr>
                            <td>Sub Total:</td>
                            <td>@Model.Payment.Fee.Amount</td>
                        </tr>
                        <tr>
                            <td>VAT:</td>
                            <td>N 0.00</td>
                        </tr>
                        <tr>
                            <td>TOTAL:</td>
                            <td>@Model.Payment.Fee.Amount</td>
                        </tr>
                    </tbody>
                </table>


            </div><!-- panel-body -->
            <div class="well nomargin" style="margin:20px">
                Thank you for choosing our school.
            </div>

        </div><!-- panel -->
   </div>
   
  
                    </div>















    @*<div class="alert alert-success fade in" style="border:1px solid green">
                <div>
                    <table style="margin-bottom:7px">
                        <tr>
                            <td style="padding-right:7px"><img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" /></td>
                            <td>
                                <h3><strong>THE FEDERAL POLYTECHNIC, ILARO</strong></h3>
                                <p>
                                    P.M.B. 50, ILARO, OGUN STATE.
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <br />

            <h2>Acknowledgement Slip For @Model.CurrentSession.Name Academic Session </h2>

            <hr class="no-top-padding" />

            <div class="row">
                <div class="col-md-12" style="text-align:justify">

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                </div>
            </div>

            <hr class="no-top-padding" />
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-actions no-color">
                    <input class="btn btn-default btn-xs" type="button" name="aPrint" id="aPrint" value="Print Slip" /> |
                    @Html.ActionLink("Fill Another Form", "PostJAMBProgramme") | <a href="http://www.federalpolyilaro.edu.ng/web/">Back to Home</a>
                </div>
            </div>
        </div>*@













