﻿@using Abundance_Nk.Model.Model
@model Abundance_Nk.Web.Areas.Student.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "Pay Fee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function() {
            $('#btnClick').on('click', function() {
                var applicationFormId = $('#AdmissionList_Form_Number').val();
                if (applicationFormId) {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GenerateAcceptanceInvoice", "Admission",new{area = "Applicant"})',
                        traditional: true,
                        datatype: 'json',
                        data: { applicationFormNo: applicationFormId },
                        beforeSend: function () {
                            $("#btnClick").hide();
                            $("#gifdiv").show();
                        },
                        complete: function () {
                            $("#btnClick").show();
                            $("#gifdiv").hide();
                        },
                        success: function (data) {
                            var payment = JSON.parse(data);
                            if (payment.IsError == false) {

                                $("#btnClick").show();
                                $("#gifdiv").hide();

                                window.location.href = 'http://www.abscohtech-edu.net/Common/Credential/Invoice?pmid=' + payment.Id;

                            } else {
                                alert("Operation failed!" + payment.ErrorMessage);
                            }
                        },
                        error: function () {
                            alert("Operation failed!");
                            $("#btnClick").show();
                        }
                    });
                } else {
                    alert("kindly input Parameters required to continue");
                }
            });
           
        });
    </script>
    }
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 panel-body">

            <div class="row">
                <div class="col-md-12">
                    <div class=" text-success">
                        <h1><b>Pay Acceptance Fee</b>
                        </h1>
                    </div>


                    <section id="loginForm">
                       
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <h5>Please enter your <b>Application Form Number</b> in the box below to generate your Acceptance Fee invoice</h5>
                            <hr class="no-top-padding"/>

                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AdmissionList.Form.Number, new {@class = "col-md-4 control-label"})
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(model => model.AdmissionList.Form.Number, "Form Number", new {@class = "form-control", required = "required"})
                                            @Html.ValidationMessageFor(model => model.AdmissionList.Form.Number, null, new {@class = "text-danger"})
                                        </div>
                                    </div>
                                  
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.FeeType.Id, new { @class = "col-md-4 control-label" })
                                            <div class="col-md-8">
                                                @Html.HiddenFor(m => m.FeeType.Id)


                                                @Html.DropDownListFor(m => m.FeeType.Id, (IEnumerable<SelectListItem>)ViewBag.FeeType, new { @class = "form-control", disabled = true, id = "feeTypeId" })
                                                @Html.ValidationMessageFor(m => m.FeeType.Id, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-8">
                                            <div style="display:none" id="gifdiv">
                                                <img src="~/Content/Images/bx_loader.gif" class="load" />
                                            </div>
                                            <input type="button" value="Submit" class="btn btn-default" id="btnClick"/>
                                        </div>
                                    </div>
                                    <hr/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    @if (TempData["Message"] != null)
                                    {
                                        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message) TempData["Message"])
                                    }
                                </div>
                            </div>
                    </section>

                </div>
            </div>
        </div>
    </div>




