﻿@model Abundance_Nk.Web.Areas.Student.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "Generate Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".load").hide();

            $('#btnClick').on('click', function () {
                $(".load").show();

            });

        });
    </script>
}

<div class="row">
    <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class=" text-success">
                    <h1>
                        <b>Generate Student Receipt</b>
                    </h1>
                </div>

                <section id="loginForm">
                    @using (Html.BeginForm("GenerateReceipt", "Payment", new { Area = "Student" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <h5>Please enter your <b>Confirmation Order Number</b> AND <b>Invoice Number</b> in the box below to generate your Receipt</h5>
                        <hr class="no-top-padding" />

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Payment.InvoiceNumber, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Payment.InvoiceNumber, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Payment.InvoiceNumber, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Payment.ConfirmationNumber, "Confirmation Order Number", new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Payment.ConfirmationNumber, new {@class = "form-control", required = "required"})
                                        @Html.ValidationMessageFor(model => model.Payment.ConfirmationNumber, null, new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <input type="submit" value="Submit" class="btn btn-default" id="btnClick"/><img src="~/Content/Images/bx_loader.gif" class="load" />
                                    </div>
                                </div>
                                <hr/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    }
                </section>

            </div>
        </div>
    </div>
</div>
