﻿@model Abundance_Nk.Web.Areas.Student.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "Pay Fee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function() {

            swal("PLEASE NOTE!", "For new students who don't have Matric Number yet kindly use your application form number to proceed", "warning");

            @*var Id;
            $("#Student_MatricNumber").focusout(function () {
                var matriNumber = $("#Student_MatricNumber").val();
                if (matriNumber && matriNumber != "") {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetStudntId", "Payment", new {area = "Student"})',
                        traditional: true,
                        datatype: 'json',
                        data: { matricNumber: matriNumber },
                        success: function (data) {
                            var person = JSON.parse(data);
                            if (person.IsError == false) {

                                $("#btnClick").show();
                                $("#gifdiv").hide();
                                Id = person.Id

                            } else {
                                alert("Matric Number or form Number not valid");
                            }
                        },
                        error: function () {
                            alert("Matric Number or form Number not valid");
                            $("#btnClick").show();
                        }
                    });
                }

            });*@

            $('#btnClick').on('click', function() {
                var matricNumber = $('#Student_MatricNumber').val();

                if (matricNumber && matricNumber != "") {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GenerateHostelInvoice", "Admission", new {area = "Applicant"})',
                        traditional: true,
                        datatype: 'json',
                        data: { matricNumber: matricNumber },
                        beforeSend: function () {
                            $("#btnClick").hide();
                            $("#gifdiv").show();
                        },
                        complete: function () {
                            $("#btnClick").show();
                            $("#gifdiv").hide();
                        },
                        success: function (data) {
                            var payment = JSON.parse(data);
                            if (payment.IsError == false) {

                                $("#btnClick").show();
                                $("#gifdiv").hide();
                                swal("Success", "Operation Successful", "success");
                                window.location.href = 'http://www.abscohtech-edu.net/Common/Credential/Invoice?pmid=' + payment.Id;
                               // window.location.href = 'http://localhost:2253/Common/Credential/Invoice?pmid=' + payment.Id;

                            } else {
                                alert("Operation failed!" + payment.ErrorMessage);
                            }
                        },
                        error: function () {
                            swal("Error", "Operation failed", "error");
                            $("#btnClick").show();
                        }
                    });
                } else {
                    alert("kindly enter Matric Number or Application Number to continue");
                }
              
            });

        });
    </script>
}
<div class="row">
    <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class=" text-success">
                    <h1>
                        <b>Pay Hotel Fee</b>
                    </h1>
                </div>


                <section id="loginForm">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <h5>Please enter your <b>Matric Number</b> in the box below to generate your Hostel Fee invoice</h5>
                    <hr class="no-top-padding" />

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Student.MatricNumber, "Matric Number",new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Student.MatricNumber, new { @class = "form-control", required = "required" })
                                    @Html.ValidationMessageFor(model => model.Student.MatricNumber, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.FeeType.Id, new { @class = "col-md-4 control-label" })
                                <div class="col-md-8">
                                    @Html.HiddenFor(m => m.FeeType.Id)


                                    @Html.DropDownListFor(m => m.FeeType.Id, (IEnumerable<SelectListItem>)ViewBag.FeeTypes, new { @class = "form-control", disabled = true })
                                    @Html.ValidationMessageFor(m => m.FeeType.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <div style="display:none" id="gifdiv">
                                        <img src="~/Content/Images/bx_loader.gif" class="load" />
                                    </div>
                                    <input type="button" value="Submit" class="btn btn-default" id="btnClick" disable="true" />
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @if (TempData["Message"] != null)
                            {
                                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                            }
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>




