﻿@model Abundance_Nk.Web.Areas.Student.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "Pay Fee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class=" text-success text-center">
                    <h1><b>Pay Sundry Fee</b></h1>
                     </div>


                <section id="loginForm">
                    @using(Html.BeginForm("GenerateSundryFees","Payment",new { Area = "Student" },FormMethod.Post,new { @class = "form-horizontal",role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <p class="text-center text-bold">
                            All new students must pay sundry fees before they can proceed to make school fee payments. If you are combining two O-level results
                            kindly select sundry fee(Two Sittings) below otherwise select sundry Fee(One sitting). Ensure that you select
                            the correct fields as corrections might not be entertained.
                        </p>

                        <hr class="no-top-padding" />

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AdmissionList.Form.Number,new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.AdmissionList.Form.Number,new { @class = "form-control",required = "required" })
                                        @Html.ValidationMessageFor(model => model.AdmissionList.Form.Number,null,new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FeeType.Id,new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.HiddenFor(m => m.FeeType.Id)


                                        @Html.DropDownListFor(m => m.FeeType.Id,(IEnumerable<SelectListItem>)ViewBag.FeeTypes,new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.FeeType.Id,null,new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <input type="submit" value="Next" class="btn btn-default" />
                                    </div>
                                </div>
                                <hr />

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if(TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message",(Abundance_Nk.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    }
                </section>




            </div>
        </div>
    </div>
</div>




