﻿@model Abundance_Nk.Web.Areas.Student.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "PayOther Fees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $(".load").hide();

            $('#btnClick').on('click', function () {
                $(".load").show();


            });
             swal("PLEASE NOTE!", "For new students who don't have Matric Number yet kindly use your application form number to proceed", "warning");

            $("#FeeType_Id").change(function() {
                var feeTypeId = $('#FeeType_Id option:selected').val();
                if (feeTypeId == "15") {
                    $('#paymentModeId').show();
                }
            });
        });
    </script>
}
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>

<div class="row">
    <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 panel-body">

        <div class="row">
            <div class="col-md-12">
                <div class=" text-success">
                    <h1>
                        <b>Generate Other Fees Invoice</b>
                    </h1>
                </div>

                <section id="loginForm">
                    @using (Html.BeginForm("PayOtherFees", "Payment", new { Area = "Student" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <h5>Please enter your <b>Matri Number Or Application Form Number and select the feeType and session</b> in the box below to generate your Invoice</h5>
                        <hr class="no-top-padding" />



                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Student.MatricNumber, "Matric Number", new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(model => model.Student.MatricNumber, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.Student.MatricNumber, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FeeType.Id, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.FeeType.Id, (IEnumerable<SelectListItem>)ViewBag.FeeType, new { @class = "form-control", required = true })
                                        @Html.ValidationMessageFor(m => m.FeeType.Id, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Session.Id, "Session", new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control", required = true })
                                        @Html.ValidationMessageFor(m => m.Session.Id, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Level.Id, "Level", new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.Level.Id, (IEnumerable<SelectListItem>)ViewBag.Levels, new { @class = "form-control", required = true })
                                        @Html.ValidationMessageFor(m => m.Level.Id, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group" style="display: none" id="paymentModeId">
                                    @Html.LabelFor(m => m.PaymentMode.Id, "Payment Mode", new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.PaymentMode.Id, (IEnumerable<SelectListItem>)ViewBag.PaymentModes, new { @class = "form-control", required = true })
                                        @Html.ValidationMessageFor(m => m.PaymentMode.Id, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <input type="submit" value="Submit" class="btn btn-default" id="btnClick" disable="true" />
                                        <img src="~/Content/Images/bx_loader.gif" class="load" />
                                    </div>
                                </div>
                                <hr />
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    }
                </section>

            </div>
        </div>
    </div>
</div>
