﻿@model Abundance_Nk.Model.Model.Fee

@{
    ViewBag.Title = "Delete Fee";
}

<div class="alert alert-success fade in nomargin">
    <h3>@ViewBag.Title</h3>
</div>

<div class="confirm-delete-text">Are you sure you want to delete this?</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
        }

        @if (Model == null) { return; }
        
        <dt class="space-bottom">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="space-bottom">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="space-bottom">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd class="space-bottom">
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt class="space-bottom">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="space-bottom">
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
<hr />