﻿@model Abundance_Nk.Model.Model.Fee

@{
    ViewBag.Title = "Edit Fee";
}



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $(document).ready(function () { 
            $('.datepicker').datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                }); 
        });
    </script>
}

<div class="alert alert-success fade in nomargin">
    <h3>@ViewBag.Title</h3>
</div>

@Html.Partial("_IndexSetupHeader", -1)

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
        }

        @if (Model == null) { return; }

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Fee Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                @Html.TextBoxFor(f => f.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>
             
        <div class="form-group ">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<hr />
