﻿@model IEnumerable<Abundance_Nk.Model.Model.Fee>
@using GridMvc.Html

@{
    ViewBag.Title = "Fees";
    ViewBag.IsIndex = true;
}

<div class="alert alert-success fade in nomargin">
    <h3>@ViewBag.Title</h3>
</div>

@*@if (Model != null)
{
    @Html.Partial("_IndexSetupHeader", Model.Count())
}*@

@if (TempData["Message"] != null)
{
    <br />
    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
}

@if (Model == null) { return; }

<div class="panel panel-default">
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                @Html.ActionLink("Create New", "Create")

                <div class="pull-right record-count-label">
                    <span class="caption">Record Count</span><span class="badge">@Model.Count()</span>
                </div>
            </div>
        </div>

        @Html.Grid(Model).Columns(columns =>
        {
            columns.Add()
                .Encoded(false)
                .Sanitized(false)
                .RenderValueAs(d =>
                    @<div style="width:41px">
                        <a href="@Url.Action("Edit", new { id = d.Id })" title="Edit">
                            <img src="@Url.Content("~/Content/Images/edit_icon.png")" alt="Edit" />
                        </a>

                        <a href="@Url.Action("Delete", new { id = d.Id })" title="Delete">
                            <img src="@Url.Content("~/Content/Images/delete_icon.png")" alt="Delete" />
                        </a>
                    </div>);

            //columns.Add(f => f.Type.Name).Titled("Type");
            //columns.Add(f => f.DateEntered).Titled("Date Entered").Format("{0:d}");

            columns.Add(f => f.Name).Titled("Name");
            columns.Add(f => f.Amount).Titled("Amount").Format("{0:n}").Css("align-right");
            columns.Add(f => f.Description).Titled("Description");

        }).WithPaging(15)
    </div>
</div>

     













        @*<h2>Index</h2>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateEntered)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type.Name)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateEntered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.Id })

                    </td>
                </tr>
            }

            </table>

            <iframe src="~/WebForm1.aspx" style="width:100%; height:100%"></iframe>*@

