﻿@model Abundance_Nk.Model.Model.AdmissionLetter
@using Abundance_Nk.Web.Models
@using GridMvc.Html

@{
    Layout = null;
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>

<br />
<div class="container" style="font-size: smaller">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div>
                    <center>
                        <table style="margin-bottom:7px">
                            <tr>
                                <td>
                                    <h3><strong>ABIA STATE COLLLEGE OF HEALTH SCIENCES AND MANAGEMENT TECHNOLOGY</strong></h3>

                                </td>

                            </tr>
                            <tr style="text-align:center">
                                <td>P.M.B. 7166, ABA,</td>
                            </tr>
                            <tr style="text-align:center">
                                <td>ABIA STATE NIGERIA</td>
                            </tr>
                            <tr style="text-align:center">
                                <td><img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" /></td>
                            </tr>

                        </table>
                    </center>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                return;
            }
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <b>Acting Registrar: Elder B.O Ibendiegbu </b>
                <br />
                <i>B.SC, B.Ed.(MSVU), M.Ed.(Dal) Canada,</i>
                <br />
            </div>
            <div class="pull-left ">
                <b><i>Rector:</i> Prof. Chidi Ezeama, <i>Ph.D</i></b>
                <br />
                <i>Professor of Health,</i>
                <br />
                <i>Ph.D, M.Sc., MBA., B.Sc.</i>
                <br />
                <i>MNIM, MNIPR, MTAMN</i>
                <br />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <b>Our Ref:</b>  ..........................................
                <br />
                <b>Your Ref:</b>  ..........................................
                <br />
            </div>
            <div class="pull-right">
                <b>Date:</b> @DateTime.Now.ToLongDateString()
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 ">
            <div>
                <b>To: @Model.Person.FullName </b> <br />
                <b>Application No: @Model.ApplicationForm.Number</b> <br />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-justify">
            <center>
                <p>
                    <h5 class="sectitle"><b>NOTICE OF ADMISSION </b></h5>
                </p>
            </center>

            <p>
                I am pleased to inform you that you have been offered Provisional Admission to Abia State College of Health Sciences and Management Technology, Aba for the @Model.Session.Name Academic session.
            </p>
            <table style="font-family: arial; font-size: smaller">
                <tr>
                    @if (Model.Programme.Id == 5)
                    {
                        <td>Programme : <b>ND MORNING</b> </td>
                    }
                    else
                    {
                        <td>Programme : <b>@Model.Programme.Name.ToUpper()</b> </td>
                    }
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>Department : <b>@Model.Department.Name.ToUpper()</b></td>
                </tr>
                <tr>
                    <td>Duration : <b>TWO YEARS</b></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>Session : <b>@Model.Session.Name</b></td>
                </tr>
            </table>
                <p>
                    The confirmation of this offer is subject to your presentation of the evidence(s) of minimum entry qualification for the course offered. <br />
                    You are required to accept this offer by the prompt payment of an acceptance fee of Twenty thousand naira only (&#8358 20, 000) on Etranzact at any of the designated banks below within two weeks of notice of this offer.
                </p>
            <p>

                <table style="font-family: arial; font-size: smaller">
                    <tr>
                        <td>1. Eco Bank Plc </td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>3. Fedility Bank Plc</td>
                    </tr>
                    <tr>
                        <td>2. KeyStone Bank Plc </td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>4. Skye Bank Plc</td>
                    </tr>
                  
                </table>

                Candidates should return to the portal with the acquired pin to print out the provisional admission letter, then proceed to the admission office with their credentials for screening, registration materials and authorization document to pay school fees.
                Registration must be completed within one month of acceptance of offer of admission after which the admission will be withdrawn. <br />
                Please, adhere strictly to paying at the scheduled bank as no complain of paying to the wrong bank will be entertained.<br />
                Please, note that if it is discovered at anytime  that you do not possess any of the qualifications which you claim, you will be required to withdraw from the institution.<br />
            </p>
            <p>
                Congratulations ! Welcome to Abia State College of Health Sciences and Management Technology
            </p>
            <p>
                <table>
                    <tr>
                        <td style="float: left"><img src="@Url.Content("~/Content/Images/Registrar_Signature.jpg")" alt="" style="width: 200px; height:110px" /></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            @*<img src="@Model.applicationForm.BarcodeUrl" height="70" width="250"/>*@
                            <div class="pull-right">
                                @Html.GenerateQrCode(Model.QRVerification)
                            </div>
                        </td>
                    </tr>
                </table>
            </p>
            <p>

                <b>Elder B.O Ibendiegbu</b>
                <br />
                <b>FOR: ACTING REGISTRAR</b>
            </p>

        </div>
    </div>


</div>