﻿@using Abundance_Nk.Model.Model
@using Abundance_Nk.Web.Models
@model Abundance_Nk.Model.Model.AdmissionLetter
@{
    Layout = null;
    ViewBag.Title = "Admission Letter";
}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<script src="~/Scripts/prettify.js"></script>
<script src="~/Scripts/custom.js"></script>

<div class="container">

    <div class="row">
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">

                <img class="pull-left" src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="100px" />
            </div>
            <div class="col-md-10">
                <div class="row">
                    <h3>ABIA STATE COLLLEGE OF HEALTH SCIENCES AND MANAGEMENT TECHNOLOGY,ABA</h3>
                    <div class="pull-left">

                        <p class="text-capitalize">
                            p.m.b 2000 <br /> Aba <br /> Abia state, nigeria
                        </p>
                    </div>
                    <div class="pull-right">
                        <p>
                            website: www.abscohtech-edu.net <br />
                            email: abscohtech_vc@abscohtech-edu.net <br />
                            phone: 0803-000-0000; 0805-000-0000
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="col-md-12">
        <div class="row pull-left">

            <b>Rector:</b> <br />
            Professor Chidi Ezeama <cite>OD, MHA, PhD, FNCO, FNOA, FWASH</cite> <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 pull-left">
            <p class="text-uppercase"> </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-justify">
            <p>
                Name of Candidate: <strong>@Model.Person.FullName</strong> <br /><br />
                Dear Sir / Madam <br />
            <p class="text-center">
                <h4 class="sectitle"><strong>OFFER OF PROVISIONAL ADMISSION INTO @Model.Programme.Name.ToUpper() PROGRAMME</strong> </h4>
            </p>
            <p>
                We are pleased to inform you that you have been offered provisional admission into the Abia State College of Health Sciences and Management Technology to pursue a study:

                <div>
            <p>Discipline: <strong>@Model.Department.Name.ToUpper()</strong> </p>
            <p>
                College: <strong>@Model.Department.Faculty.Name.ToUpper()</strong>
            </p>
            <p>
                Academic Session : <strong>@Model.Session.Name.ToUpper()</strong>
            </p>

            @if (Model.Programme.Id == (int)Programmes.CERTIFICATECOURSE && Model.Department.Id == 6 || Model.Department.Id == 7 || Model.Department.Id == 42 || Model.Department.Id == 8 || Model.Department.Id == 11 || Model.Department.Id == 43)
            {<p>
                Duration :
                <strong> 3 years</strong>
            </p>
            }
            else
            {
                <p>
                    Duration :
                    <strong> 2 years</strong>
                </p>
            }

        </div>
        </p>

        <p>
            Yours sincerely
        </p>
        <p class="pull-left">
            <img src=@Url.Content("~/Content/Images/Registrar_signature.jpg") alt="" style="max-height: 50px" />
            <br />
            <strong>Elder B.O Ibendiogwu</strong>  <br />
            <strong>Acting Registrar</strong>  <br />
            For: Registrar
        </p>
        <div class="pull-right">
            @Html.GenerateQrCode(Model.QRVerification)
        </div>
    </div>
</div>
</div>