﻿@model Abundance_Nk.Model.Model.PaymentHistory

@{
    Layout = null;
    ViewBag.Title = "Financial Clearance Slip";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/misc.css" rel="stylesheet" />

<br />


<div class="printable">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    @if (TempData["Message"] != null)
                    {
                        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                    }

                    @if (Model == null || Model.Student == null || Model.Payments == null) { return; }
                </div>
                <div class="row">
                    <div class="col-xs-6">

                        

                        <div>
                            <strong>@Model.Student.FullName</strong><br>
                            <abbr title="Phone">Email:</abbr> @Model.Student.Email
                            <br>
                            <abbr title="Phone">Phone:</abbr> @Model.Student.MobilePhone
                            <br />
                            
                            @if (!string.IsNullOrEmpty(Model.Student.MatricNumber))
                            {
                                <span><b>Matric No.:</b>: @Model.Student.MatricNumber</span>
                            }

                        </div>
                    </div><!-- col-sm-6 -->

                    <div class="col-xs-6 text-right">
                        @*<h5 class="subtitle mb10">Invoice No.</h5>
                        <h4 class="text-primary">@Model.Payment.InvoiceNumber</h4>*@

                        @*<h5 class="subtitle mb10">To</h5>*@

                        <div>
                            <strong> Abia State College of Health Sciences and Management Technology </strong><br>
                            P.M.B. 50, Aba, Abia State.<br>
                        </div>

                        <br />
                        <p><strong>Invoice Date:</strong> @DateTime.Now.ToLongDateString()</p>

                    </div>
                </div>
                <h3>FINANCIAL CLEARANCE SLIP</h3>
                <div >
                    <table class="table table-bordered table-dark table-invoice">
                        <thead>
                            <tr>
                                <th>
                                    Item
                                </th>
                                <th>
                                    Bank
                                </th>
                                <th>
                                    Invoice No
                                </th>
                                <th>
                                    Receipt No
                                </th>
                                <th>
                                    Confirmation Order No
                                </th>
                                <th>
                                    Amount (₦)
                                </th>
                                @*<th>
                                    Date Paid
                                </th>*@
                            </tr>
                        </thead>


                        @for (int i = 0; i < Model.Payments.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Payments[i].FeeTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Payments[i].BankName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Payments[i].InvoiceNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Payments[i].ReceiptNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Payments[i].ConfirmationOrderNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model.Payments[i].Amount)
                                </td>
                            </tr>
                        }

                    </table>


                    @*<table class="table table-bordered table-dark table-invoice">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Unit Price (₦)</th>
                                <th>Total Price (₦)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h5><a href="">@Model.Payment.FeeType.Name</a></h5>
                                </td>
                                <td>1</td>
                                <td>@Model.Payment.FeeDetails.Sum(p => p.Fee.Amount).ToString("n")</td>
                                <td>@Model.Payment.FeeDetails.Sum(p => p.Fee.Amount).ToString("n")</td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p></p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p> </p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <h5><a href=""></a></h5>
                                    <p></p>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>*@


                </div><!-- table-responsive -->

                <table class="table table-total">
                    <tbody>
                        <tr>
                            <td>Sub Total:</td>
                            <td>@Model.Payments.Sum(p => p.Amount.Value).ToString("n")</td>
                        </tr>
                        <tr>
                            <td>VAT:</td>
                            <td>0.00</td>
                        </tr>
                        <tr>
                            <td>TOTAL:</td>
                            <td>@Model.Payments.Sum(p => p.Amount.Value).ToString("n")</td>
                        </tr>
                    </tbody>
                </table>


            </div><!-- panel-body -->
            @*<div class="well nomargin" style="margin:20px">
                Thank you for choosing our school.
            </div>*@

        </div><!-- panel -->
    </div>


</div>
