﻿@using Abundance_Nk.Web.Models
@model Abundance_Nk.Web.Areas.Admin.ViewModels.VerificationViewModel
@{
    ViewBag.Title = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-override.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@if (TempData["Message"] != null)
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br />
                @Html.Partial("_Message", TempData["Message"])
            </div>
        </div>
    </div>
}

@if (Model != null)
{

    <br />
    <div class="container-fluid" id="printable">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 offset-sm-0" style="background:#fff  url('@Url.Content("~/Content/Images/absu.png")'); height:100%; background-repeat: no-repeat; background-size: 100%; background-position: center center;">
                <div class="card" style="background: rgba(255, 255, 255, .9);">
                    <div class="row">

                        <table class="table" style="width: 100%; height: 20%;">

                            <tbody>
                                <tr>
                                    <td style="width: 50%; border: 0px solid transparent;">
                                        <div class="col-md-12">
                                            <img src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="100px" />
                                            <h3 style="font-weight: bold;">ABIA STATE COLLEGE OF HEALTH SCIENCES AND TECHNOLOGY, ABA</h3>
                                            <p>Abia State</p>
                                        </div>
                                    </td>

                                    <td style="width: 50%; border: 0px solid transparent;">
                                        <div class="col-md-12" style="text-align: right;">
                                            @Html.GenerateQrCode(Model.receipt.QRVerification)<br><br>
                                            <div class="col-md-12" style="width: 100%;">
                                                <sub style="font-weight: bold;">Receipt Serial #: <label class="text-capitalize text-bold" style="font-size: 1.7em;"><br />@Model.receipt.Number</label></sub>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>



                        <table class="table" style="width: 100%; height: 40%;">

                            <tbody>
                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent;">

                                        <div class="col-md-12 text-uppercase text-center">
                                            <h3>PAYMENT RECEIPT</h3>
                                            <hr>
                                        </div>
                                    </td>
                                </tr>




                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">NAME: </label>
                                            <label class="text-capitalize">@Model.receipt.Name</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding: 5px; width: 100%; border: 0px solid transparent; font-size: 20px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">Matric Number: </label>
                                            <label class="text-capitalize">@Model.receipt.MatricNumber</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 20px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">Department: </label>
                                            <label class="text-capitalize">@Model.receipt.Department</label>
                                        </div>
                                    </td>
                                </tr>

                                @*<tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 20px;">

                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">Faculty: </label>
                                            <label class="text-capitalize">@Model.receipt.Faculty</label>
                                        </div>
                                    </td>
                                </tr>*@

                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 20px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">Programme: </label>
                                            <label class="text-capitalize">@Model.receipt.Programme</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 20px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">Level: </label>
                                            <label class="text-capitalize">@Model.receipt.Level</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent;">
                                        <div class="col-md-12">
                                            <hr>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 20px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">E-tranzact Receipt No: </label>
                                            <label class="text-capitalize">@Model.receipt.Number</label>
                                        </div>
                                    </td>
                                </tr>


                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 20px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">E-tranzact Confirmation No: </label>
                                            <label class="text-capitalize">@Model.receipt.ConfirmationOrderNumber</label>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 20px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">Session: </label>
                                            <label class="text-capitalize">@Model.receipt.Session</label>
                                        </div>
                                    </td>
                                </tr>

                                @*<tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 20px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">Payment Mode: </label>
                                            <label class="text-capitalize">@Model.receipt.PaymentMode</label>
                                        </div>
                                    </td>
                                </tr>*@

                                <tr>
                                    <td style="width: 100%; border: 0px solid transparent; font-size: 20px;">
                                        <div class="col-md-12 form-group" style="margin-bottom: 0px !important; font-size: 20px;">
                                            <label class="text-uppercase text-bold">Payment Date: </label>
                                            <label class="text-capitalize">@Model.receipt.Date.ToShortDateString()</label>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>








                        <br>
                        <div class="col-md-12">
                            <br><br>
                            <table class="table table-striped table-bordered" style="border: 1px solid #ccc; width: 100%;">
                                <thead>
                                    <tr style="border-bottom: 1px solid #ccc; ">
                                        <th scope="col" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 20px; border-right: 1px solid #ccc;">S/N</th>
                                        <th scope="col" style="padding: 5px; width: 80%; border-bottom: 1px solid #ccc;  font-size: 20px; border-right: 1px solid #ccc;">PAYMENT TYPE</th>
                                        <th scope="col" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 20px;">AMOUNT(N)</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="border-bottom: 1px solid #ccc;">
                                        <th scope="row" style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 20px; border-right: 1px solid #ccc;">1</th>
                                        <td style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 20px; ">@Model.receipt.Purpose.ToUpper()</td>
                                        <td style="padding: 5px; width: 10%; border-bottom: 1px solid #ccc; font-size: 20px; border-left: 1px solid #ccc;">@Model.receipt.Amount.ToString("n")</td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #ccc;">
                                        <th scope="row"></th>
                                        <td style="padding: 5px; width: 10%;  border-right: 1px solid #ccc; font-size: 20px;"><b>TOTAL</b></td>
                                        <td style="padding: 5px; width: 10%; font-size: 20px;"><b>@Model.receipt.Amount.ToString("n")</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12 text-center text-capitalize" style="margin-top: 20px; text-align: center;">
                            <br><br>
                            <p>
                                <b>Amount in words:</b> @Model.receipt.AmountInWords Naira Only
                            </p>
                        </div>


                        <div class="col-md-12 text-center" style="margin-top: 60px; text-align: center;">
                            @if (Model.PaymentVerification != null && Model.PaymentVerification.User != null)
                            {
                                <img src="@Model.PaymentVerification.User.SignatureUrl" class="image-responsive" height="50px" width="120px" />
                                <br />
                                <h4 class="text-uppercase">@Model.PaymentVerification.User.Username</h4>
                            }
                            Faculty Finance Officer
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
}

