﻿@{
    ViewBag.Title = "Verification Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/responsive-tabs.js"></script>
<script type="text/javascript">
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>
<div style="color: black">
    <h3>
        Verified Payment Report
    </h3>
</div>
<div class="alert alert-dismissible alert-success">
    <p>
        <b>Verified Payment Report</b> Shows the verified Payment Report.
    </p>
</div>
<iframe src="@Url.Content("~/Reports/Presenter/VerifcationReport.aspx?sessionId=" + ViewBag.sessionId + "&levelId=" + ViewBag.levelId + "&progId=" + ViewBag.progId + "&deptId=" + ViewBag.deptId + "&semesterId=" + ViewBag.semesterId + "&courseId=" + ViewBag.courseId)" style="width: 100%;" frameborder="0" scrolling="no" id="iframe" onload=' javascript:resizeIframe(this); '></iframe>

<br />