﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.VerificationViewModel
@{
    ViewBag.Title = "VerifySchoolFees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Verify School Fees</h2>

@using (Html.BeginForm("VerifySchoolFees", "VerifySchoolFees", new { area = "Admin" }, FormMethod.Get))
{
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentEtranzact.ConfirmationNo, "Verification Code", new { @class = "col-sm-2 control-label " })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.PaymentEtranzact.ConfirmationNo, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    <input type="submit" value="Verify" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
