﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.MenuViewModel
@{
    ViewBag.Title = "EditMenu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">

    @if (TempData["Message"] != null)
    {

        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
    }
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">Add Role Menu</h4>
        </div>
        <div class="panel-body">

            @using (Html.BeginForm("EditMenu", "Menu", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.ValidationSummary(true)

                        @Html.HiddenFor(m => m.Menu.Id)

                        <div class="form-group">
                            @Html.LabelFor(m => m.MenuGroup.Name, " Menu Group", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.MenuGroup.Id, (IEnumerable<SelectListItem>)ViewBag.MenuGroup, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(m => m.MenuGroup.Id, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Menu.Area, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Menu.Area, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(m => m.Menu.Area, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Menu.Controller, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Menu.Controller, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(m => m.Menu.Controller, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Menu.Action, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Menu.Action, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(m => m.Menu.Action, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Menu.DisplayName, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Menu.DisplayName, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(m => m.Menu.DisplayName, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Menu.Activated, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.CheckBoxFor(m => m.Menu.Activated, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Menu.Activated, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>
</div>
