﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.MenuViewModel
@{
    ViewBag.Title = "ViewMenuInRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>View Menu In Role</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">

                    @using (Html.BeginForm("ViewMenuInRole", "Menu", new { Area = "Admin" }, FormMethod.Post))
                    {
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Role.Name, "Role:", new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.Role.Id, (IEnumerable<SelectListItem>)ViewBag.Role, new { @class = "form-control", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.Role.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <input class="btn btn-success mr5 " type="submit" name="submit" id="submit" value="View" />

                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
            <br />
            <div class="panel-body">
                <div class="col-md-12">


                    @if (Model.MenuInRoleList != null && Model.MenuInRoleList.Count > 0)
                    {
                        <div class="panel panel-danger">
                            <div class="panel-body">
                                <table class="table-bordered table-hover table-striped table-responsive table">
                                    <tr>
                                        <th>
                                            Menu
                                        </th>
                                        <th>
                                            Menu Group
                                        </th>
                                        <th>
                                            Activated
                                        </th>
                                        <th>
                                            Edit
                                        </th>
                                        <th>
                                            Delete
                                        </th>
                                    </tr>

                                    @for (int i = 0; i < Model.MenuInRoleList.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                @Model.MenuInRoleList[i].Menu.DisplayName
                                            </td>
                                            <td>
                                                @Model.MenuInRoleList[i].Menu.MenuGroup.Name
                                            </td>
                                            <td>
                                                @Model.MenuInRoleList[i].Activated
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "EditMenuInRole", "Menu", new { Area = "Admin", mid = Model.MenuInRoleList[i].Id }, new { @class = "btn btn-success " })
                                            </td>
                                            <td>
                                                @Html.ActionLink("Delete", "ConfirmDeleteMenuInRole", "Menu", new { Area = "Admin", mid = Model.MenuInRoleList[i].Id }, new { @class = "btn btn-success " })
                                            </td>
                                        </tr>
                                    }

                                </table>

                            </div>
                        </div>
                    }


                </div>
            </div>

        </div>
    </div>
    <div class="col-md-1"></div>
</div>
