﻿@{
    ViewBag.Title = "Statement";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsive-tabs.js"></script>

    <script type="text/javascript">
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
    </script>
}

<div style="color:black">
    <h3>
        Statement of Result
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b>Statement of Result</b> can be viewed by selecting Session from the drop dowm below, then click the Display Report button to display an exportable and printable report.
    </p>
</div>

<iframe src="~/Reports/Presenter/Result/StatementOfSemesterResult.aspx?sid=@ViewBag.StudentId" style="width:100%; " frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'></iframe>

<br />


