﻿body {
}

 .space-bottom {
        padding-bottom:7px;
    }

.confirm-delete-text {
    font-size: 18px;
    color: red;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
}

 .align-right {
        text-align: right;
    }
 .record-count-label
 {
    font-size: 11pt;
    text-align: right;
 }
 .record-count-label .caption
 {
    font-size: 9pt;
    margin-right:5px;
 }
 .no-top-padding
 {
     margin-top: 0px; 
     padding-top: 0px;
 }

 .form-control-long {
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   padding: 1px;
   height: auto;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
   font-size: 13px;
}

 .text-bold
 {
     font-weight:bold;
 }

 .margin-bottom-0
 {
     margin-bottom:0px;
 }
 .margin-bottom-3
 {
     margin-bottom:3px;
 }

 .margin-bottom-5
 {
     margin-bottom:5px;
 }
  .margin-bottom-7
 {
     margin-bottom:7px;
 }

 .padding-bottom-3
 {
     padding-bottom:3px;
 }

 .padding-bottom-5
 {
     padding-bottom:5px;
 }
 .padding-bottom-10
 {
     padding-bottom:10px;
 }

 ul.nav li.dropdown:hover ul.dropdown-menu2,
 ul.nav li.dropdown:hover ul.dropdown-menu{ 
     display: block; 
     position:absolute;
 }


.row hr {
    height: 1px;
    color: #337ab7;
    background-color: #337ab7;
    border: none;
}




 
 .navbar-nav2 {
  /*margin: 7.5px -15px;*/
  margin: 0px;
}
.navbar-nav2 > li > a {
     padding-top: 0px;
  padding-bottom: 0px;

  /*padding-top: 3px;
  padding-bottom: 3px;*/
  /*line-height: 20px;*/
}
@media (max-width: 767px) {
  .navbar-nav2 .open .dropdown-menu2 {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .navbar-nav2 .open .dropdown-menu2 > li > a,
  .navbar-nav2 .open .dropdown-menu2 .dropdown-header {
    /*padding: 5px 15px 5px 25px;*/
    padding: 0;
  }
  .navbar-nav2 .open .dropdown-menu2 > li > a {
    line-height: 5px;
    /*line-height: 20px;*/
  }
  .navbar-nav2 .open .dropdown-menu2 > li > a:hover,
  .navbar-nav2 .open .dropdown-menu2 > li > a:focus {
    background-image: none;  

  }
}
@media (min-width: 768px) {
  .navbar-nav2 {
    float: left;
    margin: 0;
  }
  .navbar-nav2 > li {
    float: left;
  }
  .navbar-nav2 > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}


.tiny-table-row {
    padding: 0px;
    /*padding-top: 0px;*/
    margin: 0px;
    /*margin-top: 0px;*/
    vertical-align: middle;
    
}
.tiny-table-cell{
    padding-bottom: 0; 
    padding-top: 0; 
    margin-bottom: 0; 
    margin-top: 0; 
    vertical-align: middle;
}

.shadow {
  /*-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;*/

   min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid whitesmoke;
  /*border: 1px solid #e3e3e3;*/
  /*background-color: #f5f5f5;
  
  border-radius: 4px;*/

  /*-webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);*/

  -webkit-box-shadow: 3px 5px 4px -2px rgba(0,0,0,0.1);
-moz-box-shadow: 3px 5px 4px -2px rgba(0,0,0,0.1);
box-shadow: 3px 5px 4px -2px rgba(0,0,0,0.1);
}


 .radiobuttonlist2
{
    font: 12px Verdana, sans-serif;
    color: #000;
}
 
.radiobuttonlist2 input
{
    width: 18px;
    height: 18px;
}
.radiobuttonlist2 label
{
    color: #3E3928;
    /*background-color:#E8E5D4;*/
    padding-left: 2px;
    padding-right: 6px;
    padding-top: 2px;
    /*padding-bottom: 2px;*/
    /*border: 1px solid #AAAAAA;*/
    margin: 0px 0px 7px 0px;
    white-space: nowrap;
    clear: left;
    margin-right: 10px;
    font-weight: normal;
}
.radiobuttonlist2 span.selectedradio label
{
    background-color: #F7F5E8;
    color: #000000;
    font-weight: bold;
    border-bottom-color: #F3F2E7;
    padding-top:4px;
 
}
.radiobuttonlist2 label:hover
{
    /*color: #CC3300;*/
    color: #2c9c39;
    font-weight: bold;
    cursor:pointer;
    /*background: #D1CFC2;*/
}
 
.radiobuttoncontainer
{
    position:relative;
    z-index:1;
}
 
.radiobuttonbackground
{
    position:relative;
    z-index:0;
    border: solid 1px #AcA899; 
    padding: 10px; 
    background-color:#F3F2E7;
}


