

@import url('bootstrap.css');
@import url('bootstrap-override.css');
@import url('prettify.css');


body {
  /*line-height: 21px;*/

  line-height: 2px;
  background: #fff;
  color: #636e7b;
}

.mainwrapper {
  width: 1000px;
  margin: auto;
}

.logopanel {
  padding: 10px 0;
  margin-bottom: 10px;
}

.logopanel h1 {
  font-size: 30px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  letter-spacing: -1.5px;
  color: #1d2939;
  line-height: 30px;
  margin: 0;
}

.logopanel h1 span {
   color: #1caf9a;
}

.leftmenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leftmenu li a {
  display: block;
  color: #636e7b;
}

.leftmenu li a:hover {
  text-decoration: none;
  color: #1d2939;
}

.leftmenu > li > a {
  font-weight: 500;
  color: #515a65;
  background: #d7dadd;
  padding: 7px 10px;
  margin-bottom: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.leftmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leftmenu ul li a {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
}

.leftmenu ul li:last-child a {
  border-bottom: 0;
}

.content {
  margin-top: 60px;
  background: #fff;
  padding: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.sectitle {
  border-bottom: 1px solid #eee;
  padding-bottom: 7px;
}

h4.sectitle {
  margin-top: 20px;
}

h5.sectitle {
  margin-top: 20px;
  border: 0;
  padding: 0;
}

