﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.StudentViewModel

@{
    ViewBag.Title = "UploadStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
@using (Html.BeginForm("UploadStudent", "UploadStudentInformation", new { area = "admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <h3>Choose Programme</h3>
        <hr style="margin-top:0" />
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">

                        @Html.LabelFor(model => model.Session.Id, new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.SessionId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Session.Id, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">

                        @Html.LabelFor(model => model.StudentLevel.Programme.Id, new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.StudentLevel.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.ProgrammeId, new { @class = "form-control", @id ="Programme" })
                        @Html.ValidationMessageFor(model => model.StudentLevel.Programme.Id, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">

                        @Html.LabelFor(model => model.StudentLevel.Department.Id, "Course", new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.StudentLevel.Department.Id, (IEnumerable<SelectListItem>)ViewBag.DepartmentId, new { @class = "form-control", @id = "Department" })
                        @Html.ValidationMessageFor(model => model.StudentLevel.Department.Id, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">

                        @Html.LabelFor(model => model.StudentLevel.Level.Id, "Level", new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.StudentLevel.Level.Id, (IEnumerable<SelectListItem>)ViewBag.LevelId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StudentLevel.Level.Id, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.File, new { id = "file", type = "file", style = "color:transparent;", @class = "form-control custom-text-black" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                       
                        <input type="text" id="tbx-file-path" readonly="readonly" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group">
                    <div class="col--2"></div>
                    <div class="col-sm-10">
                        <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Upload Excel File" />

                    </div>
                </div>
            </div>
      
        </div>

    </div>
}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.print.js"></script>
<script type="text/javascript">

    $(document).ready(function () {


        //Programme Dropdown Selectedchange event

        $("#Programme").change(function () {
            $("#Department").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartmentByProgrammeId", "UploadStudentInformation")', // Calling json method
                dataType: 'json',
                data: { id: $("#Programme").val() },
                // Get Selected Country ID.
                success: function (departments) {
                    $("#Department").append('<option value="' + 0 + '"> -- Select -- </option>');
                    $.each(departments, function (i, departments) {

                        $("#Department").append('<option value="' + departments.Value + '">' +
                             departments.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
            return false;
        })


    })
</script>

