﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.UploadAdmissionViewModel
@{
    ViewBag.Title = "EditAdmittedStudentDepartment";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("EditAdmittedStudentDepartment", "UploadAdmission", new { area = "Admin" }, FormMethod.Post))
{
    @Html.HiddenFor(model => model.AdmissionListDetail.Id)
    @Html.HiddenFor(model => model.AdmissionListDetail.Form.Id)
    <div class="col-md-12">
        <div class="form-group" style="color:black">
            <h4>Edit Admission Details</h4>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AdmissionListDetail.Form.Person.FullName, new { @class = "col-sm-2 control-label " })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.AdmissionListDetail.Form.Person.FullName, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.AdmissionListDetail.Form.Person.FullName, null, new { @class = "text-danger" })
        </div>

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AdmissionListDetail.Form.Number, new { @class = "col-sm-2 control-label " })
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.AdmissionListDetail.Form.Number, new { @class = "form-control", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.AdmissionListDetail.Form.Number, null, new { @class = "text-danger" })
        </div>

    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AdmissionListDetail.Deprtment.Id, new { @class = "col-sm-2 control-label " })
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.AdmissionListDetail.Deprtment.Id, (IEnumerable<SelectListItem>)ViewBag.DepartmentId, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AdmissionListDetail.Deprtment.Id, null, new { @class = "text-danger" })
        </div>

    </div>
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Update" />

        </div>
    </div>

}

