﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.UploadAdmissionViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="alert alert-success fade in nomargin">
    <h3>@ViewBag.Title</h3>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-12">
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
            <div>
                <h4><p class="custom-text-black text-center ">UPLOAD PAYMENT</p></h4>
            </div>
            @using (Html.BeginForm("UploadPayment", "UploadAdmission", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <div class="panel panel-default ">
                    <div class="panel-body ">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.File, new { id = "file", type = "file", style = "color:transparent;",@class = "form-control custom-text-black" })
                                 </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.AdmissionListBatch.IUploadedFilePath, new { id = "", name = "" })
                                    <input type="text" id="tbx-file-path" readonly="readonly" />
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                               <i class="glyphicon-upload"></i><input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Upload Excel File" />
                               
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>

        @if (Model == null || Model.AppliedCourseList == null) { return; }

        @if (Model != null && Model.AppliedCourseList != null)
        {
            using (Html.BeginForm("SaveUploadedPayments", "UploadAdmission", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.AppliedCourseList)
                
            <div class="col-md-12">

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Name</th>
                            <th>Invoice number</th>
                            <th>Confirmation number</th>

                        </tr>
                    </thead>

                    <tbody style="color:black;">
                        @{ int N = 0;}
                        @for (var itemIndex = 0; itemIndex < Model.AppliedCourseList.Count; itemIndex++)
                        {
                           
                            <tr>
                                @{ N = itemIndex + 1; }
                                <td>@N</td>
                                <td>@Html.DisplayTextFor(m => m.AppliedCourseList[itemIndex].Person.FullName)</td>
                                <td>@Html.DisplayTextFor(m => m.AppliedCourseList[itemIndex].ApplicationForm.Payment.InvoiceNumber)</td>
                                <td>@Html.DisplayTextFor(m => m.AppliedCourseList[itemIndex].ApplicationForm.Payment.ConfirmationNumber)</td>
                            </tr>

                        }

                    </tbody>
                </table>

            </div>
             
            <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                               <i class="glyphicon-upload"></i><input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Save Upload" />
                               
                            </div>
                        </div>
        
              }
         }
        
    </div>
</div>