﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.UploadAdmissionViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<link href="~/Content/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />


<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Content/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Content/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Content/DataTables-1.10.15/vfs_fonts.js"></script>



    <script type="text/javascript">
        var jqXHRData;
    var jqueryVersion = $.noConflict(true);
    jqueryVersion(document).ready(function () {
        jqueryVersion("#myTable").DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }

                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }


                }, , 'colvis'
            ]
        });

        jqueryVersion("#divDepartmentOption").hide();
        jqueryVersion("#AdmissionListDetail_Form_ProgrammeFee_Programme_Id").change(function () {

            jqueryVersion("#AdmissionListDetail_Deprtment_Id").empty();

            var selectedProgramme = $("#AdmissionListDetail_Form_ProgrammeFee_Programme_Id").val();
            var programme = $("#AdmissionListDetail_Form_ProgrammeFee_Programme_Id").val();
            jqueryVersion.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartmentByProgrammeId")', // we are calling json method
                dataType: 'json',
                data: { id: programme },
                success: function (departments) {
                    jqueryVersion("#AdmissionListDetail_Deprtment_Id").append('<option value="' + 0 + '"> -- Select -- </option>');

                    jqueryVersion.each(departments, function (i, department) {
                        $("#AdmissionListDetail_Deprtment_Id").append('<option value="' + department.Value + '">' + department.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
        });

        //Load Department Option
        jqueryVersion("#AdmissionListDetail_Deprtment_Id").change(function () {

            var department = jqueryVersion("#AdmissionListDetail_Deprtment_Id").val();
            var programme = jqueryVersion("#AdmissionListDetail_Form_ProgrammeFee_Programme_Id").val();

            jqueryVersion("#AdmissionListDetail_DepartmentOption_Id").empty();

            jqueryVersion.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartmentOptionByDepartment")', // we are calling json method
                dataType: 'json',
                data: { id: department, programmeid: programme },
                success: function (departmentOptions) {
                    //$("#hfDepartmentOptionExist").val(departmentOptions[0]);

                    if (departmentOptions == "" || departmentOptions == null || departmentOptions == undefined) {
                        jqueryVersion("#divDepartmentOption").hide();
                    }
                    else {
                        jqueryVersion("#AdmissionListDetail_DepartmentOption_Id").append('<option value="' + 0 + '"> -- Select -- </option>');
                        jqueryVersion.each(departmentOptions, function (i, Option) {
                            jqueryVersion("#AdmissionListDetail_DepartmentOption_Id").append('<option value="' + Option.Value + '">' + Option.Text + '</option>');
                        });
                        if (programme > 2) {
                            jqueryVersion("#divDepartmentOption").show();
                        }

                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve department Options.' + ex);
                }
            });

        })


    })
</script>



<div class="alert alert-success fade in nomargin">
    <h3>@ViewBag.Title</h3>
</div>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-12">
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
            <div>
                <h4><p class="custom-text-black text-center ">UPLOAD ADMISSION LIST</p></h4>
            </div>
            @using (Html.BeginForm("UploadAdmission", "UploadAdmission", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="panel panel-default ">
                    <div class="panel-body ">
                        <div class="col-md-12">
                            <div class="form-group">
                                <cite><p class="custom-text-black"> Select the programme and department then the excel file to upload</p></cite>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CurrentSession.Id, new { @class = "control-label custom-text-black" })
                                    @Html.DropDownListFor(model => model.CurrentSession.Id, (IEnumerable<SelectListItem>)ViewBag.SessionId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CurrentSession.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AdmissionListType.Name, new { @class = "control-label custom-text-black" })
                                    @Html.DropDownListFor(model => model.AdmissionListType.Id, (IEnumerable<SelectListItem>)ViewBag.AdmissionListTypeId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AdmissionListType.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AdmissionListDetail.Form.ProgrammeFee.Programme.Id, new { @class = "control-label custom-text-black" })
                                    @Html.DropDownListFor(model => model.AdmissionListDetail.Form.ProgrammeFee.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.ProgrammeId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AdmissionListDetail.Form.ProgrammeFee.Programme.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AdmissionListDetail.Deprtment.Id, "Course", new { @class = "control-label custom-text-black" })
                                    @Html.DropDownListFor(model => model.AdmissionListDetail.Deprtment.Id, (IEnumerable<SelectListItem>)ViewBag.DepartmentId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AdmissionListDetail.Deprtment.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="divDepartmentOption" class="form-group">
                                    @Html.LabelFor(model => model.AdmissionListDetail.DepartmentOption.Id, "Course Option", new { @class = "control-label custom-text-black" })
                                    @Html.DropDownListFor(model => model.AdmissionListDetail.DepartmentOption.Id, (IEnumerable<SelectListItem>)ViewBag.DepartmentOptionId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.AdmissionListDetail.DepartmentOption.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>
                           
                            <div class="col-md-6">
                                <div class="form-group">
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.CurrentSession.Name, "Select File", new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-10">
                                    <input type="file" title="Upload Result" id="file" name="file" class="form-control" />
                                    <br />
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                               <i class="glyphicon-upload"></i><input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Upload Excel File" />
                               
                            </div>
                        </div>
                    </div>
                </div>

            }

        </div>

        @if (Model == null || Model.AppliedCourseList == null) { return; }

        @if (Model != null && Model.AppliedCourseList != null)
        {
            using (Html.BeginForm("SaveAdmissionList", "UploadAdmission", FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.CurrentSession.Id)
                @Html.HiddenFor(model => model.AdmissionListType.Id)
                @Html.HiddenFor(model => model.AdmissionListDetail.Form.ProgrammeFee.Programme.Id)
                @Html.HiddenFor(model => model.AdmissionListDetail.Deprtment.Id)
                @Html.HiddenFor(model => model.AppliedCourseList)
                
            <div class="col-md-12">

                <table class="table table-bordered table-hover table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>Name</th>
                            <th>Application Number</th>
                            <th>Applied Department</th>

                        </tr>
                    </thead>

                    <tbody style="color:black;">
                        @{ int N = 0;}
                        @for (var itemIndex = 0; itemIndex < Model.AppliedCourseList.Count; itemIndex++)
                        {
                           
                            <tr>
                                @{ N = itemIndex + 1; }
                                <td>@N</td>
                                <td>@Html.DisplayTextFor(m => m.AppliedCourseList[itemIndex].Person.FullName)</td>
                                <td>@Html.DisplayTextFor(m => m.AppliedCourseList[itemIndex].ApplicationForm.Number)</td>@Html.HiddenFor(m => m.AppliedCourseList[itemIndex].ApplicationForm.Number)
                                <td>@Html.DisplayTextFor(m => m.AppliedCourseList[itemIndex].Department.Name)</td>
                            </tr>




                        }

                    </tbody>
                </table>

            </div>
             
            <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                               <i class="glyphicon-upload"></i><input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Save Upload" />
                               
                            </div>
                        </div>
        
              }
         }
        
    </div>
</div>