﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.UserViewModel
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
        }

        @using (Html.BeginForm("EditRole", "User", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.User.Id)

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="fa fa-edit"> Edit</i></h4>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.User.Username, "Username: ", new { @class = "control-label " })
                                @Html.DisplayFor(model => model.User.Username, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.User.Role.Name, "Role", new { @class = "control-label " })
                                @Html.DropDownListFor(model => model.User.Role.Id, (IEnumerable<SelectListItem>)ViewBag.Role, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(model => model.User.Role.Name)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input class="btn btn-success btn-sm mr5" type="submit" name="submit" id="submit" value="Save" />

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
    <div class="col-md-1"></div>
</div>

