﻿@using Abundance_Nk.Web.Models
@model Abundance_Nk.Web.Areas.Admin.ViewModels.ELearningViewModel

@{
                /**/

                ViewBag.Title = "Submitted Assignment";
                Layout = "~/Areas/Student/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/jquery-1.11.1.min.js"></script>

    <div>
        <div class="panel">
            <div class="panel-header">
                <h3 class="panel-title"><i class="fa fa-fw fa-download"></i>My Assignment Submission</h3>
            </div>
            <div class="panel-body">


                <div class="row">
                    <div class="col-md-12">
                        <h4><b>Assignment Topic:</b> @Model.EAssignmentSubmission.EAssignment.Assignment</h4>

                    </div>
                    <div class="col-md-12">
                        <h4><b>Instruction:</b> @Model.EAssignmentSubmission.EAssignment.Instructions</h4>

                    </div>
                    <div class="col-md-12">
                        <h4><b>Course:</b> @Model.EAssignmentSubmission.EAssignment.Course.Name (@Model.EAssignmentSubmission.EAssignment.Course.Code)</h4>

                    </div>
                </div>
                <hr />
                <br />
                @if (Model.EAssignmentSubmission.EAssignment.Publish)
                {
                    <div class="row">
                        <div class="col-md-6">
                            <h6>
                                <b>Remark:</b>
                                @Model.EAssignmentSubmission.Remarks
                            </h6>
                        </div>
                        <div class="col-md-6">
                            <h6>
                                <b>Score:</b>
                                @Model.EAssignmentSubmission.Score/@Model.EAssignmentSubmission.EAssignment.MaxScore
                            </h6>
                        </div>
                    </div>
                    <hr />
                }
                <br />
                <div class="col-md-12">

                    <div class="form-group">

                        <div class="col-sm-10">
                            @Html.TextAreaFor(model => model.EAssignmentSubmission.TextSubmission, new { @class = "form-control", @readonly = "true",  @cols = "120", @rows = "20" })

                        </div>
                    </div>
                </div>
                <br />
                <div>
                    <button id="showPdfPreview" class="btn btn-invoice" onclick="showPdf('@Url.Content(Model.EAssignmentSubmission.AssignmentContent)')">Show PDF</button>
                    <button id="hidePdfPreview" style="display:none" class="btn btn-info">Hide PDF</button>
                </div>
                <div id="iframeMessage" style="display:none">
                    @*<object type="application/pdf" data="@Model.EAssignmentSubmission.AssignmentContent" width="100%" height="500"></object>*@
                </div>



            </div>
        </div>
    </div>


<script>
    function showPdf(url) {
        $('#iframeMessage').html("");
        var pdfLink = url;
        var iframe = '<object type="application/pdf" data="' + pdfLink + '" width="100%" height="500"></object>'
        $('#iframeMessage').append(iframe);
        $('#iframeMessage').show();
        $('#showPdfPreview').hide('false');
        $('#hidePdfPreview').show();
        return false;
    }
    $(document).ready(function () {
        //$('#showPdfPreview').on('click', function () {
        //    $('#iframeMessage').show('true');
        //    $('#showPdfPreview').show('false');
        //    $('#hidePdfPreview').show('true');
        //})
        $('#hidePdfPreview').on('click', function () {
            $('#iframeMessage').hide();
            $('#showPdfPreview').show();
            $('#hidePdfPreview').hide();
        })
    })

</script>