﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.MatricNumberViewModel
@{
    ViewBag.Title = "MatricNumberGenerationReport";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<link href="~/Content/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />


<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Content/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Content/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Content/DataTables-1.10.15/vfs_fonts.js"></script>
<script type="text/javascript">
    var jqXHRData;
    var jqueryVersion = $.noConflict(true);
    jqueryVersion(document).ready(function () {

        jqueryVersion("#myTable").DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }

                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }


                }, , 'colvis'
            ]
        });

        if ($("#DepartmentOption").val() && $("#DepartmentOption").val() !== "0") {
            $("#divDepartmentOption").show();
        }

        var programmeName = $("#Programme option:selected").text();
        var departmentName = $("#Department option:selected").text();
        var departmentOptionName = $("#DepartmentOption option:selected").text() === "" || $("#DepartmentOption option:selected").text() == undefined
            || $("#DepartmentOption option:selected").text() === "-- Select --" ? "" : $("#DepartmentOption option:selected").text();
        var sessionName = $("#Session_Id option:selected").text();



    })
</script>




<div class="row">

    <div class="col-md-12">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-dark-head">
                <h4>Matriculation Number Generation report</h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">

                    @using (Html.BeginForm("Report", "MatricNumber", new { area = "Admin" }, FormMethod.Post))
                    {

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Programme.Name, "Programme", new { @class = "col-sm-12 control-label " })
                                    <div class="col-sm-11">
                                        @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.Programme, new { @class = "form-control", @id = "Programme", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Programme.Id, null, new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Department.Name, "Department", new { @class = "col-sm-12 control-label " })
                                    <div class="col-sm-12">
                                        @Html.DropDownListFor(model => model.Department.Id, (IEnumerable<SelectListItem>)ViewBag.Department, new { @class = "form-control", @id = "Department", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Department.Id, null, new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Session.Name, "Session", new { @class = "col-sm-12 control-label " })
                                    <div class="col-sm-12">
                                        @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control", @required = "required" })
                                        @Html.ValidationMessageFor(model => model.Session.Id, null, new { @class = "text-danger" })
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="col-md-12"></div>
                                    <div class="col-md-12">
                                        <input class="btn btn-success mr5" onclick="ButtonClick()" type="submit" name="submit" id="submit" value="Submit" />
                                    </div>
                                    <div id="loading" style="display: none">
                                        <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                        <span>Loading ...</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    <br />

                </div>


                <div class="col-md-12">
                    @if (Model.StudentModels != null && Model.StudentModels.Count > 0)
                    {

                        <div class="panel panel-danger">
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table id="myTable" class="table-bordered table-hover table-striped table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    SN
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                                @*<th>
                                                        Phone
                                                    </th>
                                                    <th>
                                                        Email
                                                    </th>*@
                                                <th>
                                                    Application Number
                                                </th>
                                                <th>
                                                    Matric Number
                                                </th>
                                                @*<th>
                                                        Programme
                                                    </th>
                                                    <th>
                                                        Department
                                                    </th>
                                                    <th>
                                                        Session
                                                    </th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.StudentModels.Count; i++)
                                            {
                                                var SN = i + 1;
                                                <tr>
                                                    <td>
                                                        @SN
                                                    </td>
                                                    <td>
                                                        @Model.StudentModels[i].Name
                                                    </td>
                                                    @*<td>
                                                            @Model.StudentModels[i].MobilePhone
                                                        </td>
                                                        <td>
                                                            @Model.StudentModels[i].Email
                                                        </td>*@
                                                    <td>
                                                        @Model.StudentModels[i].ApplicationNumber
                                                    </td>
                                                    <td>
                                                        @Model.StudentModels[i].MatricNumber
                                                    </td>
                                                    @*<td>
                                                            @Model.StudentModels[i].ProgrammeName
                                                        </td>
                                                        <td>
                                                            @Model.StudentModels[i].DepartmentName
                                                        </td>
                                                        <td>
                                                            @Model.StudentModels[i].SessionName
                                                        </td>*@
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>

</div>



