﻿
@using Abundance_Nk.Web.Models
@model Abundance_Nk.Web.Areas.Admin.ViewModels.ELearningViewModel
@{
    /**/

    /**/

    /**/

    /**/

    ViewBag.Title = "General Class Attendance";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", TempData["Message"])
}

@section Scripts {


    <link href="~/Scripts/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
    <link href="~/Scripts/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.flash.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.html5.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/buttons.print.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/jszip.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/pdfmake.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.15/vfs_fonts.js"></script>


    <script type="text/javascript">


        $(document).ready(function () {
            $.extend($.fn.dataTable.shadows, {
                responsive: false
            });

            $("#attendanceTable").DataTable({
                dom: 'Bfrtip',
                ordering: true,
                buttons: [
                    {
                        extend: 'copy',
                        title:'Summarised Class Attendance',
                        exportOptions: {
                            columns: ':visible',
                            modifier: {
                                orientation: 'Potrait'
                            }
                        },
                        orientation: 'Potrait'


                    },
                    {
                        extend: 'csv',
                        title: 'Summarised Class Attendance',
                        exportOptions: {
                            columns: ':visible',
                            modifier: {
                                orientation: 'Potrait'
                            }
                        },
                        orientation: 'Potrait'

                    },
                    {
                        extend: 'excel',
                        title: 'Summarised Class Attendance',
                        exportOptions: {
                            columns: ':visible',
                            modifier: {
                                orientation: 'Potrait'
                            }
                        },
                        orientation: 'Potrait'


                    },
                    {
                        extend: 'pdf',
                        title: 'Summarised Class Attendance',
                        exportOptions: {
                            columns: ':visible',
                            header: true,
                            modifier: {
                                orientation: 'Potrait'
                            }



                        },
                        orientation: 'Potrait'


                    },
                    {
                        extend: 'print',
                        title: 'Summarised Class Attendance',
                        exportOptions: {
                            columns: ':visible',
                            modifier: {
                                orientation: 'Potrait'
                            }
                        },
                        orientation: 'Potrait'


                    }, , 'colvis'
                ]
            });
        })
    </script>

    <style>
        .btn-success {
            color: #1cc88a;
            background-color: transparent;
            border: 2px solid #eee;
            border-radius: 3px !important;
        }

        .btn-danger {
            color: #ca2819;
            background-color: transparent;
            border: 2px solid #eee;
            border-radius: 3px !important;
        }
    </style>
}
<br />
@if (Model.GeneralAttendanceList != null && Model.GeneralAttendanceList.Count > 0)
{
     var columns = Model.GeneralAttendanceList.Count + 3;
    <div class="panel">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table-bordered table-hover table-striped  table" id="attendanceTable">

                    <thead>
                        <tr class="table-head-alt text-center">
                            <th colspan="@columns" style="font-weight:600">@Model.Course.Code - @Model.Course.Name </th>
                        </tr>
                        <tr lass="table-head-alt text-center">
                            <th colspan="@columns" style="font-weight:400">General Class Attendance</th>
                        </tr>

                        <tr>
                            <th>S/N</th>
                            <th>
                                Student Name
                            </th>
                            <th>
                                Matric Number
                            </th>
                            @for (int i = 0; i < Model.GeneralAttendanceList.Count; i++)
                            {

                                <th>
                                    @Model.GeneralAttendanceList[i].Topics
                                </th>
                            }
                        </tr>

                    </thead>
                    <tbody>

                        @for (int i = 0; i < Model.GeneralAttendanceList.FirstOrDefault().CourseRegistrationDetailList.Count; i++)
                        {
                            var sn = i + 1;
                            <tr>
                                <td>@sn</td>
                                <td>
                                    @Model.GeneralAttendanceList.FirstOrDefault().CourseRegistrationDetailList[i].CourseRegistration.Student.FullName
                                </td>
                                <td>
                                    @Model.GeneralAttendanceList.FirstOrDefault().CourseRegistrationDetailList[i].CourseRegistration.Student.MatricNumber
                                </td>

                                @for (int j = 0; j < Model.GeneralAttendanceList.Count; j++)
                                {
                                    if (@Model.GeneralAttendanceList[j].AttendanceClassLists[i].IsPresent)
                                    {
                                        <td>Present</td>
                                    }
                                    else
                                    {
                                        <td style="color:red">Absent</td>
                                    }
                                }


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}


