﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.AdmissionViewModel

@{
    int generatedSchoolFeesReceiptStatus = (int)Abundance_Nk.Model.Model.ApplicantStatus.Status.GeneratedSchoolFeesReceipt;
}


<h3>Generate School Fees Receipt</h3>

<div class="row">
    <div class="col-sm-12">
        <div class="well">
            @*<div class="form-group margin-bottom-0">
                @Html.LabelFor(model => model.ApplicationForm.Number, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.ApplicationForm.Number, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>*@

            <div class="form-group margin-bottom-3">
                @Html.LabelFor(model => model.SchoolFeesInvoiceNumber, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.DisplayFor(model => model.SchoolFeesInvoiceNumber, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group margin-bottom-3">
                @Html.LabelFor(model => model.SchoolFeesConfirmationOrderNumber, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9 ">
                    @Html.TextBoxFor(model => model.SchoolFeesConfirmationOrderNumber, new { @class = "form-control" })
                </div>

            </div>

            <div class="form-group ">
                <div class="col-sm-3 "></div>
                <div class="col-sm-9 ">
                    <div class="form-inline">
                        <div class="form-group">
                            <button class="btn btn-success btn-metro mr5" type="button" name="btnGenerateSchoolFeesReceipt" id="btnGenerateSchoolFeesReceipt" value="Next">Generate Receipt</button>
                        </div>

                        <div class="form-group margin-bottom-0">
                            <div id="divProcessingSchoolFeesReceipt" style="display:none">
                                <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                <span>Processing ...</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @*<br />*@
            <div id="divGenerateSchoolFeesReceipt"></div>
        </div>
    </div>
</div>

<div class="form-inline">
    <div class="form-group margin-bottom-0 divSchoolFeesReceipt" style="display:none">
        @Html.ActionLink("Print Receipt", "Receipt", new { ivn = Model.SchoolFeesInvoiceNumber, fid = Model.ApplicationForm.Id, st = generatedSchoolFeesReceiptStatus }, new { @class = "btn btn-white btn-lg ", target = "_blank" })
        @Html.ActionLink("Print Financial Clearance Slip", "FinancialClearanceSlip", "Credential", new { Area = "Common", pid = Model.ApplicationForm.Person.Id }, new { @class = "btn btn-white btn-lg ", target = "_blank", id = "alFinancialClearanceSlip" })
        <button class="btn btn-white btn-lg" type="button" name="btnSchoolFeesReceiptNext" id="btnSchoolFeesReceiptNext">Next Step</button>
    </div>

</div>
