﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.AdmissionViewModel

@{
    int generatedAcceptanceReceiptStatus = (int)Abundance_Nk.Model.Model.ApplicantStatus.Status.GeneratedAcceptanceReceipt;
}

<h3>Generate Acceptance Receipt</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="well ">
           
            <div class="form-group ">
                @Html.LabelFor(model => model.AcceptanceInvoiceNumber, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9 ">
                    @Html.DisplayFor(model => model.AcceptanceInvoiceNumber, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group margin-bottom-3 ">
                @Html.LabelFor(model => model.AcceptanceConfirmationOrderNumber, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9 ">
                    @Html.TextBoxFor(model => model.AcceptanceConfirmationOrderNumber, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group ">
                <div class="col-sm-3 "></div>
                <div class="col-sm-9 ">
                    <div class="form-inline">
                        <div class="form-group">
                            <button class="btn btn-success btn-metro mr5" type="button" name="btnGenerateAcceptanceReceipt" id="btnGenerateAcceptanceReceipt" value="Next">Generate Receipt</button>
                        </div>

                        <div class="form-group margin-bottom-0">
                            <div id="divProcessingAcceptanceReceipt" style="display:none">
                                <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                <span>Processing ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12" id="divGenerateAcceptanceReceipt"></div>
            </div>
            
        </div>
    </div>

</div>

<div class="form-inline divAcceptanceReceipt" style="display:none">
    <div class="form-group ">
        @Html.ActionLink("Print Admission Letter", "AdmissionLetter", "Credential", new { Area = "Common", fid = Model.ApplicationForm.Id }, new { @class = "btn btn-white btn-lg ", target = "_blank", id = "alPrintAcceptanceReceipt" })
        @Html.ActionLink("Print Receipt", "Receipt", new { ivn = Model.AcceptanceInvoiceNumber, fid = Model.ApplicationForm.Id, st = generatedAcceptanceReceiptStatus }, new { @class = "btn btn-white btn-lg ", target = "_blank", id = "alPrintAcceptanceReceipt" })
        <button class="btn btn-white btn-lg" type="button" name="btnAcceptanceReceiptNext" id="btnAcceptanceReceiptNext">Next Step</button>
    </div>
</div>