﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.AdmissionViewModel


<h3>Generate School Fees Invoice</h3>
<div class="row">
    <div class="col-sm-12 ">
        <div class="well">

            @*<div class="form-group margin-bottom-0">
                @Html.LabelFor(model => model.ApplicationForm.Number, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9" style="font-weight:bold">
                    @Html.DisplayFor(model => model.ApplicationForm.Number)
                </div>
            </div>*@

            <div class="form-group ">
                @Html.LabelFor(model => model.AcceptanceReceiptNumber, new { @class = "control-label col-sm-3" })
                <div class="col-sm-9" >
                    @Html.DisplayFor(model => model.AcceptanceReceiptNumber, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PaymentMode.Id, "Payment Option", new { @class = "control-label col-sm-3" })
                <div class="col-sm-9" style="font-weight:bold">
                    @Html.DropDownListFor(model => model.PaymentMode.Id, (IEnumerable<SelectListItem>)ViewBag.PaymentModes, new { @class = "form-control", required = "required" })
                    @Html.ValidationMessageFor(model => model.PaymentMode.Id, null, new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="form-group ">
                    @Html.LabelFor(model => model.AcceptanceConfirmationOrderNumber, new { @class = "control-label col-sm-3" })
                    <div class="col-sm-9" style="font-weight:bold">
                        @Html.DisplayFor(model => model.AcceptanceConfirmationOrderNumber, new { @class = "form-control" })
                    </div>
                </div>*@

            <div class="form-group ">
                <div class="col-sm-3 "></div>
                <div class="col-sm-9 ">
                    <div class="form-inline">
                        <div class="form-group">
                            <button class="btn btn-success btn-metro mr5" type="button" name="btnGenerateSchoolFeesInvoice" id="btnGenerateSchoolFeesInvoice">Generate Invoice</button>
                        </div>

                        <div class="form-group margin-bottom-0">
                            <div id="divProcessingSchoolFeesInvoice" style="display:none">
                                <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                <span>Processing ...</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-inline">
            <div class="form-group  margin-bottom-0 divSchoolFeesInvoice" style="display:none">
                <a id="aSchoolFeesInvoiceNumber" href="#" target="_blank" class="btn btn-white btn-lg">Print Invoice</a>
            </div>
        </div>

        <br />
        <div id="divGenerateSchoolFeesInvoice"></div>
    </div>

</div>