﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.AdmissionViewModel

@{
    ViewBag.Title = "Status Checking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-4 " style="vertical-align:bottom">
        <div class="panel panel-default well" style="height:315px">
            <div class="panel-body">

            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section id="loginForm">
                    @using (Html.BeginForm("CheckStatus", "Admission", new { Area = "Applicant" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h5>Please enter your <b>Application Form Number</b> and Scratch Card <b>PIN</b> below to check your Application Status.</h5>
                        <hr class="no-top-padding" />

                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ApplicationForm.Number, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.ApplicationForm.Number, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(m => m.ApplicationForm.Number, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ScratchCard.Pin, new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.PasswordFor(m => m.ScratchCard.Pin, new { @class = "form-control", required = "required" })
                                        @Html.ValidationMessageFor(m => m.ScratchCard.Pin, null, new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" value="Log in" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
