﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.AdmissionViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .step{
        font-size:11pt;
        color: green;
        
    }
</style>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsive-tabs.js"></script>

    <script type="text/javascript">
    //$("#alPrintAcceptanceReceipt").replaceWith("<div class='btn btn-white btn-lg'>Print Acceptance Receipt</div>")

    $(document).ready(function () {
        var formId = $("#ApplicationForm_Id").val();
        var formNo = $("#ApplicationForm_Number").val();
        var applicantStatus = $('#ApplicantStatusId').val();
        var invoiceUrl = "/Applicant/Admission/Invoice?ivn=";
        var acceptanceInvoiceNo = $("#AcceptanceInvoiceNumber").val();
        var schoolFeesInvoiceNo = $("#SchoolFeesInvoiceNumber").val();

        UpdateTabState(applicantStatus);

        //$(".InvoiceNumber").prop("href", invoiceUrl + invoiceNo);
        $("#aAcceptanceInvoiceNumber").prop("href", invoiceUrl + acceptanceInvoiceNo);
        $("#aSchoolFeesInvoiceNumber").prop("href", invoiceUrl + schoolFeesInvoiceNo);

        function RemoveAttribut(tab) {
            //alert(tab);
            tab.removeAttr("data-toggle");
            tab.removeAttr("href");
        }
        function RemoveClass(tab, step) {
            tab.removeClass("active");
            step.removeClass("active");
        }
        function AddClass(tab, step) {
            tab.addClass("active");
            step.addClass("active");

            //tab.attr('data-toggle', 'button');
        }

        $('#btnAcceptanceReceiptNext').on('click', function (e) {
            $('#ApplicantStatusId').val(4);
            RemoveClass($('#tab2'), $('#step2'));
            UpdateTabState(4);
        })

        $('#btnVerifyOlevelNext').on('click', function (e) {
            $('#ApplicantStatusId').val(6);
            RemoveClass($('#tab3'), $('#step3'))
            UpdateTabState(6);
        })

        $('#btnSchoolFeesReceiptNext').on('click', function (e) {
            $('#ApplicantStatusId').val(10);
            RemoveClass($('#tab5'), $('#step5'))
            UpdateTabState(9);
        })



        $("#btnGenerateAcceptanceInvoice").on('click', function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: '@Url.Action("GenerateAcceptanceInvoice", "Admission")',
                traditional: true,
                datatype: 'json',
                data: { applicationFormNo: formNo },
                beforeSend: function () {
                    $("#divProcessingAcceptanceInvoice").show();
                },
                complete: function () {
                    $("#divProcessingAcceptanceInvoice").hide();
                },
                success: function (data) {
                    var payment = JSON.parse(data);

                    $('.divAcceptanceInvoice').show();
                    $("#btnGenerateAcceptanceInvoice").prop('disabled', true);

                    var url = invoiceUrl + payment.InvoiceNumber;
                    $("#aAcceptanceInvoiceNumber").prop("href", url);

                    alert("Acceptance Invoice has been successfully generated! Click on the 'Print Invoice' button to print the invoice, then proceed to bank for payment.")
                },
                error: function () {
                    $('.divAcceptanceInvoice').hide();
                    alert("Operation failed!");
                }
            });
        });
        
        $("#btnGenerateAcceptanceReceipt").on('click', function (e) {
            e.preventDefault();

            var nextApplicantStatus = 4;
            var acceptanceInvoiceNo = $("#AcceptanceInvoiceNumber").val();
            var orderConfirmationNo = $("#AcceptanceConfirmationOrderNumber").val();

            if (acceptanceInvoiceNo == "" || acceptanceInvoiceNo == undefined) {
                alert("Acceptance Invoice Number not set! Please contact your system administrator.");
                return;
            }
            else if (orderConfirmationNo == "" || orderConfirmationNo == undefined) {
                alert("Please enter your Acceptance Confirmation Order Number!");
                return;
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("GenerateAcceptanceReceipt", "Admission")',
                    traditional: true,
                    datatype: 'json',
                    data: { fid: formId, ivn: acceptanceInvoiceNo, con: orderConfirmationNo, st: nextApplicantStatus },

                    beforeSend: function () {
                        $("#divProcessingAcceptanceReceipt").show();
                    },
                    complete: function () {
                        $("#divProcessingAcceptanceReceipt").hide();
                    },
                    success: function (data) {
                        //alert(data.indexOf("success"));
                        UpdateButtonState($("#btnGenerateAcceptanceReceipt"), data);

                        $('#divGenerateAcceptanceReceipt').html(data);

                        if (data.indexOf("success") > -1) {
                            $('.divAcceptanceReceipt').show();
                            $('#AcceptanceConfirmationOrderNumber').prop('disabled', true);
                        }
                        else {
                            $('.divAcceptanceReceipt').hide();
                            $('#AcceptanceConfirmationOrderNumber').prop('disabled', false);
                        }
                            
                        
                    },
                    error: function () {
                        $('.divAcceptanceReceipt').hide();
                        alert("Operation failed!");
                    }
                });
            });

            $("#btnGenerateSchoolFeesReceipt").on('click', function (e) {
                e.preventDefault();

                var nextApplicantStatus = 9;
                var schoolFeesInvoiceNo = $("#SchoolFeesInvoiceNumber").val();
                var orderConfirmationNo = $("#SchoolFeesConfirmationOrderNumber").val();

                if (schoolFeesInvoiceNo == "" || schoolFeesInvoiceNo == undefined) {
                    alert("School Fees Invoice Number not set! Please contact your system administrator.");
                    return;
                }
                else if (orderConfirmationNo == "" || orderConfirmationNo == undefined) {
                    alert("Please enter your School Fees Order Confirmation Number!");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GenerateSchoolFeesReceipt", "Admission")',
                    traditional: true,
                    datatype: 'json',
                    data: { fid: formId, ivn: schoolFeesInvoiceNo, con: orderConfirmationNo, st: nextApplicantStatus },
                    //data: { fid: formId, ivn: schoolFeesInvoiceNo, con: orderConfirmationNo, st: applicantStatus },

                    beforeSend: function () {
                        $("#divProcessingSchoolFeesReceipt").show();
                    },
                    complete: function () {
                        $("#divProcessingSchoolFeesReceipt").hide();
                    },
                    success: function (data) {
                        UpdateButtonState($("#btnGenerateSchoolFeesReceipt"), data);

                        //RemoveClass($('#tab5'), $('#step5'));
                        //UpdateTabState(9);

                        $('#divGenerateSchoolFeesReceipt').html(data);
                        if (data.indexOf("success") > -1) {
                            $('.divSchoolFeesReceipt').show();
                            $('#SchoolFeesConfirmationOrderNumber').prop('disabled', true);
                        }
                        else {
                            $('.divSchoolFeesReceipt').hide();
                            $('#SchoolFeesConfirmationOrderNumber').prop('disabled', false);
                        }
                    },
                    error: function () {
                        $('.divSchoolFeesReceipt').hide();
                        alert("Operation failed!");
                    }
                });
            });
        
            $("#btnVerifyOlevelResult").on('click', function (e) {
                var form = $('form').serialize()

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("VerifyOlevelResult", "Admission")',
                    traditional: true,
                    datatype: 'json',
                    data: form,

                    beforeSend: function () {
                        $("#divVerifyOlevelResult").show();
                    },
                    complete: function () {
                        $("#divVerifyOlevelResult").hide();
                    },
                    success: function (data) {
                        UpdateButtonState($("#btnVerifyOlevelResult"), data);
                        $('#divVerifyOlevelResultData').html(data);
                                               
                        if (data.indexOf("success") > -1) {
                            $('#divVerifyOlevelResultNextButton').show();
                        }
                        else {
                            $('#divVerifyOlevelResultNextButton').hide();
                        }
                    },
                    error: function () {
                        alert("Operation failed!");
                    }
                });
        });

        $("#btnGenerateSchoolFeesInvoice").on('click', function (e) {
            e.preventDefault();

            var paymentMode = $("#PaymentMode_Id").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GenerateSchoolFeesInvoice", "Admission")',
                traditional: true,
                datatype: 'json',
                data: { formNo: formNo, paymentModeId: paymentMode },

                beforeSend: function () {
                    $("#divProcessingSchoolFeesInvoice").show();
                },
                complete: function () {
                    $("#divProcessingSchoolFeesInvoice").hide();
                },
                success: function (data) {
                    var payment = JSON.parse(data);

                    $('.divSchoolFeesInvoice').show();
                    $("#btnGenerateSchoolFeesInvoice").prop('disabled', true);

                    var url = invoiceUrl + payment.InvoiceNumber;
                    $("#aSchoolFeesInvoiceNumber").prop("href", url);

                    alert("School Fees Invoice has been successfully generated! Click on the 'Print Invoice' button to print the invoice, then proceed to bank for payment.")
                },
                error: function () {
                    $('.divSchoolFeesInvoice').hide();
                    alert("Operation failed!");
                }
            });
        });




        function UpdateButtonState(button, data) {
            if (data.indexOf("success") > -1) {
                button.prop('disabled', true);
            }
            else {
                button.prop('disabled', false);
            }
        }

        function UpdateTabState(applicantStatus) {
            RemoveClass($('#tab1'), $('#step1'));

            if (applicantStatus == 2) {
                RemoveAttribut($('#tab2 a'));
                RemoveAttribut($('#tab3 a'));
                RemoveAttribut($('#tab4 a'));
                RemoveAttribut($('#tab5 a'));
                RemoveAttribut($('#tab6 a'));

                AddClass($('#tab1'), $('#step1'));

                $('#divRejectReason').hide();
                $('#divStudentInformationForm').hide();
            }
            else if (applicantStatus == 3) {
                $('#btnGenerateAcceptanceInvoice').prop('disabled', true);

                RemoveAttribut($('#tab3 a'));
                RemoveAttribut($('#tab4 a'));
                RemoveAttribut($('#tab5 a'));
                RemoveAttribut($('#tab6 a'));

                AddClass($('#tab2'), $('#step2'));
                $('.divAcceptanceInvoice').show();

                var acceptanceConfirmationorderNo = $("#AcceptanceConfirmationOrderNumber").val();
                if (acceptanceConfirmationorderNo != '') {
                    $('.divAcceptanceReceipt').show();
                }
                else {
                    $('.divAcceptanceReceipt').hide();
                }

                $('#divRejectReason').hide();
                $('#divStudentInformationForm').hide();
            }
            else if (applicantStatus == 4) {
                $('#btnGenerateAcceptanceInvoice').prop('disabled', true);
                $('#btnGenerateAcceptanceReceipt').prop('disabled', true);
                $('#AcceptanceConfirmationOrderNumber').prop('disabled', true);

                RemoveAttribut($('#tab5 a'));
                RemoveAttribut($('#tab6 a'));

                AddClass($('#tab4'), $('#step4'));

                $('.divAcceptanceReceipt').show();
                $('.divAcceptanceInvoice').show();
                $('#divStudentInformationForm').hide();
                $('#divRejectReason').hide();
            }
            else if (applicantStatus == 5) {
                $('#btnGenerateAcceptanceInvoice').prop('disabled', true);
                $("#btnGenerateSchoolFeesInvoice").prop('disabled', true);
                $('#AcceptanceConfirmationOrderNumber').prop('disabled', true);

                RemoveAttribut($('#tab5 a'));
                RemoveAttribut($('#tab6 a'));

                AddClass($('#tab4'), $('#step4'));

                $('.divAcceptanceReceipt').show();
                $('.divAcceptanceInvoice').show();
                $('.divSchoolFeesInvoice').show();

                var schoolFeesConfirmationorderNo = $("#SchoolFeesConfirmationOrderNumber").val();
                if (schoolFeesConfirmationorderNo != '') {
                    $('.divSchoolFeesReceipt').show();
                }
                else {
                    $('.divSchoolFeesReceipt').hide();
                }

                $('#divRejectReason').hide();
                $('#divStudentInformationForm').hide();
            }
            else if (applicantStatus == 6) {
                $('#btnGenerateAcceptanceInvoice').prop('disabled', true);
                $('#AcceptanceConfirmationOrderNumber').prop('disabled', true);
                $("#btnVerifyOlevelResult").prop('disabled', true);

                RemoveAttribut($('#tab4 a'));
                RemoveAttribut($('#tab5 a'));
                RemoveAttribut($('#tab6 a'));

                AddClass($('#tab3'), $('#step3'));

                $('.divAcceptanceReceipt').show();
                $('.divAcceptanceInvoice').show();
                $('#divStudentInformationForm').hide();
                $('#divVerifyOlevelResultNextButton').hide();
                $('#divRejectReason').show();
            }
            else if (applicantStatus == 7) {
                $('#AcceptanceConfirmationOrderNumber').prop('disabled', true);
                $('#btnGenerateAcceptanceInvoice').prop('disabled', true);
                $('#btnGenerateAcceptanceReceipt').prop('disabled', true);
                $("#btnVerifyOlevelResult").prop('disabled', true);

                RemoveAttribut($('#tab5 a'));
                RemoveAttribut($('#tab6 a'));

                AddClass($('#tab4'), $('#step4'));

                $('.divAcceptanceReceipt').show();
                $('.divAcceptanceInvoice').show();
                $('.divSchoolFeesReceipt').show();
                $('#divStudentInformationForm').hide();
                $('#divVerifyOlevelResultNextButton').show();
                $('#divRejectReason').hide();
            }
            else if (applicantStatus == 8) {
                $('#btnGenerateAcceptanceInvoice').prop('disabled', true);
                $("#btnGenerateSchoolFeesInvoice").prop('disabled', true);
                $('#btnGenerateAcceptanceReceipt').prop('disabled', true);
                $('#AcceptanceConfirmationOrderNumber').prop('disabled', true);
                $("#btnVerifyOlevelResult").prop('disabled', true);

                RemoveAttribut($('#tab6 a'));
                AddClass($('#tab5'), $('#step5'));

                $('.divAcceptanceReceipt').show();
                $('.divAcceptanceInvoice').show();
                $('.divSchoolFeesInvoice').show();
                $('#divRejectReason').hide();
                $('#divStudentInformationForm').hide();
                $('#divVerifyOlevelResultNextButton').show();
                //$('.divSchoolFeesReceipt').show();
            }
            else if (applicantStatus == 9) {
                $('#btnGenerateAcceptanceInvoice').prop('disabled', true);
                $("#btnGenerateSchoolFeesInvoice").prop('disabled', true);
                $('#btnGenerateAcceptanceReceipt').prop('disabled', true);
                $("#btnGenerateSchoolFeesReceipt").prop('disabled', true);
                $('#AcceptanceConfirmationOrderNumber').prop('disabled', true);
                $('#SchoolFeesConfirmationOrderNumber').prop('disabled', true);
               
                $("#btnVerifyOlevelResult").prop('disabled', true);
                
                AddClass($('#tab6'), $('#step6'));

                $('.divAcceptanceReceipt').show();
                $('.divAcceptanceInvoice').show();
                $('.divSchoolFeesInvoice').show();
                $('.divSchoolFeesReceipt').show();
                $('#divStudentInformationForm').hide();
                $('#divVerifyOlevelResultNextButton').show();
                $('#divRejectReason').hide();
            }
            else if (applicantStatus == 10 || applicantStatus == 11) {
                $('#btnGenerateAcceptanceInvoice').prop('disabled', true);
                $("#btnGenerateSchoolFeesInvoice").prop('disabled', true);
                $('#btnGenerateAcceptanceReceipt').prop('disabled', true);
                $("#btnGenerateSchoolFeesReceipt").prop('disabled', true);
                $('#AcceptanceConfirmationOrderNumber').prop('disabled', true);
                $('#SchoolFeesConfirmationOrderNumber').prop('disabled', true);
                $("#btnVerifyOlevelResult").prop('disabled', true);

                AddClass($('#tab6'), $('#step6'));

                $('.divAcceptanceReceipt').show();
                $('.divAcceptanceInvoice').show();
                $('.divSchoolFeesInvoice').show();
                $('.divSchoolFeesReceipt').show();
                $('#divStudentInformationForm').show();
                $('#divVerifyOlevelResultNextButton').show();
                $('#divRejectReason').hide();
            }
        }
    });

    //(function ($) {
    //    fakewaffle.responsiveTabs(['xs', 'sm']);
    //})(jQuery);

    //$('#myTab a').click(function (e) {
    //    e.preventDefault();
    //    $(this).tab('show');
    //});

    //function resizeIframe(obj) {
    //    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    //}

    //function beginRequest() {
    //    $("#busy").hide();
    //}
    //function endRequest(request, status) {
    //    $("#busy").show();
    //}

    </script>
}




<div class="row">
    <div class="col-md-12">
        <h2>
            Admission
        </h2>
    </div>
</div>

@using (Html.BeginForm("Index", "Admission", new { Area = "Applicant" }, FormMethod.Post, new { id = "frmApplicantStatus" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        
    @Html.HiddenFor(m => m.IsAdmitted)
    @Html.HiddenFor(m => m.ApplicantStatusId)
    @Html.HiddenFor(m => m.AppliedCourse.Programme.Id)
    @Html.HiddenFor(m => m.ApplicationForm.Id)
    @Html.HiddenFor(m => m.ApplicationForm.Person.Id)
    @Html.HiddenFor(m => m.ApplicationForm.RejectReason)
    @Html.HiddenFor(m => m.ApplicationForm.Rejected)
    @Html.HiddenFor(m => m.ApplicationForm.Number)
    @Html.HiddenFor(m => m.Loaded)

    <div class="row">
        <div class="col-md-12">
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>
    </div>

    if (Model.ApplicationForm == null || Model.IsAdmitted == false)
    {
        <div style="margin-bottom:15px; text-align:justify">
            <blockquote>
                <p style="color:red; font-weight:bold">
                    We regret to inform you that you have not been considered for a Provissional Admission into Abia State College of Health Sciences and Management Technology for this academic session yet.
                </p>

            </blockquote>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        return;
    }

    @*<div class="alert alert-success fade in nomargin">
        <h4>Status: <b>@Html.DisplayFor(model => model.Applicant.Status.Name)</b></h4>
        
    </div>*@
    @*<br />*@
    <div class="shadow">
        <div class="row">
            <div class="col-sm-12 ">
                <div >
                    <div class="col-sm-12 form-group">
                        <h4>Current Status: <b style="color:green">@Html.DisplayFor(model => model.Applicant.Status.Name)</b></h4>
                    </div>

                        <div class="form-group margin-bottom-0">
                            @Html.LabelFor(model => model.ApplicationForm.Person.FullName, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9" >
                                @Html.DisplayFor(model => model.ApplicationForm.Person.FullName)
                            </div>
                        </div>

                        <div class="form-group margin-bottom-0">
                            @Html.LabelFor(model => model.ApplicationForm.Number, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9" >
                                @Html.DisplayFor(model => model.ApplicationForm.Number)
                            </div>
                        </div>

                    <div class="form-group margin-bottom-0">
                        @Html.LabelFor(model => model.AppliedCourse.Department.Name, new { @class = "control-label col-sm-3" })
                        <div class="col-sm-9">
                            @Html.DisplayFor(model => model.AppliedCourse.Department.Name, new { @class = "form-control" })
                        </div>
                    </div>

                        <div class="form-group margin-bottom-0">
                            @Html.LabelFor(model => model.AppliedCourse.Programme.Name, new { @class = "control-label col-sm-3" })
                            <div class="col-sm-9" >
                                @Html.DisplayFor(model => model.AppliedCourse.Programme.Name, new { @class = "form-control" })
                            </div>
                        </div>

                       


                    </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="hd" id="hd" >
   
    @Html.HiddenFor(model => model.AcceptanceInvoiceNumber)
    @Html.HiddenFor(model => model.SchoolFeesInvoiceNumber)

    <br />

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs responsive" id="myTab">
                <li id="tab1" class="test-class active"><a class="deco-none misc-class" href="#step1" data-toggle="tab"><span class="step">Step </span><span class="badge">1</span></a></li>
                <li id="tab2"><a class="deco-none" href="#step2" data-toggle="tab"> <span class="step">Step </span><span class="badge">2</span></a></li>
                @*<li id="tab2"><a class="deco-none" href="#step2" >Step 2</a></li>*@
                <li id="tab3"><a class="deco-none" href="#step4" data-toggle="tab"><span class="step">Step </span><span class="badge">3</span></a></li>
                <li id="tab4"><a class="deco-none" href="#step4" data-toggle="tab"><span class="step">Step </span><span class="badge">4</span></a></li>
                <li id="tab5"><a class="deco-none" href="#step5" data-toggle="tab"><span class="step">Step </span><span class="badge">5</span></a></li>
                <li id="tab6"><a class="deco-none" href="#step6" data-toggle="tab"><span class="step">Step </span><span class="badge">6</span></a></li>
            </ul>

            <div class="tab-content responsive ">
                <div class="tab-pane active " id="step1">
                    @Html.Partial("_Step1", Model)
                </div>

                <div class="tab-pane" id="step2">
                    @Html.Partial("_Step2", Model)
                </div>

                <div class="tab-pane" id="step3">
                    @Html.Partial("_Step3", Model)
                </div>

                <div class="tab-pane" id="step4">
                    @Html.Partial("_Step4", Model)

                </div>

                <div class="tab-pane" id="step5">
                    @Html.Partial("_Step5", Model)
                </div>

                <div class="tab-pane" id="step6">
                    @Html.Partial("_Step6", Model)
                </div>
            </div>
        </div>
    </div>


}





