﻿@using Abundance_Nk.Model.Model
@model Abundance_Nk.Web.Areas.Admin.ViewModels.StaffViewModel
@{
    ViewBag.Title = "Upload";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h2>Upload Result Sheets</h2>
@if(TempData["Message"] != null)
{
    @Html.Partial("_Message",(Abundance_Nk.Model.Model.Message)TempData["Message"])
}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        function populateCourses() {
            $("#Course").empty();
            var values = new Array();
            //vals = [$("#Department").val(), $("#Level").val(), $("#Semester").val()];
            values[0] = $("#Department").val();
            values[1] = $("#Level").val();
            values[2] = $("#Semester").val();
            values[3] = $("#Programme").val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCourses", "StudentCourseRegistration")', // Calling json method
                traditional: true,
                data: { ids: values },
                // Get Selected Country ID.
                success: function (courses) {

                    $.each(courses, function (i, course) {
                        $("#Course").append('<option value="' + course.Value + '">' +
                             course.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve courses.' + ex);
                }
            });

        }
        //Programme Drop down Selected-change event
        $("#Programme").change(function () {
            
            $("#Department").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartments", "Staff")', // Calling json method
                dataType: 'json',
                data: { id: $("#Programme").val() },
                // Get Selected Country ID.
                success: function (departments) {
                    $("#Department").append('<option value="' + 0 + '">' +
                            '-- Select Department --' + '</option>');
                    $.each(departments, function (i, department) {
                        $("#Department").append('<option value="' + department.Value + '">' +
                             department.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
            return false;
        })
        //Session Drop down Selected change event
        $("#Session").change(function() {

            $("#Semester").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSemester", "Staff")', // Calling json method
                dataType: 'json',
                data: { id: $("#Session").val() },
                // Get Selected Country ID.
                success: function(semesters) {
                    $("#Semester").append('<option value="' + 0 + '">' +
                        '-- Select Semester --' + '</option>');
                    $.each(semesters, function(i, semester) {
                        $("#Semester").append('<option value="' + semester.Value + '">' +
                            semester.Text + '</option>');
                    });
                },
                error: function(ex) {
                    alert('Failed to retrieve semesters.' + ex);
                }
            });
            return false;
        });

    });
</script>

@using (Html.BeginForm("Upload", "Staff", new { area = "Admin" }, FormMethod.Post))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <p style="font-size: large; color: white">
                <i class="fa fa-upload"></i> Upload Result Sheet
            </p>
        </div>
        <div class="panel-body">

            <div class="form-group">
                @Html.LabelFor(model => model.Session.Name, "Session", new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Session.Id, (IEnumerable<SelectListItem>)ViewBag.Session, new { @class = "form-control", @required = "required", @id = "Session" })
                    @Html.ValidationMessageFor(model => model.Session.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Semester.Name, "Semester", new { @class = "col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.Semester.Id, (IEnumerable<SelectListItem>)ViewBag.Semester, new { @class = "form-control", @required = "required", @id = "Semester" })
                    @Html.ValidationMessageFor(model => model.Semester.Name)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Programme.Name, "Programme", new { @class = "col-sm-2 control-label " })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.Programme, new { @class = "form-control", @id = "Programme", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Programme.Id, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Department.Name, "Department", new { @class = "col-sm-2 control-label " })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.Department.Id, (IEnumerable<SelectListItem>)ViewBag.Department, new { @class = "form-control", @id = "Department", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Department.Id, null, new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Level.Name, "Level", new { @class = "col-sm-2 control-label " })
                <div class="col-sm-10">
                    @Html.DropDownListFor(model => model.Level.Id, (IEnumerable<SelectListItem>)ViewBag.Level, new { @class = "form-control", @id = "Level", @required = "required" })
                    @Html.ValidationMessageFor(model => model.Level.Id, null, new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input class="btn btn-success mr5 " type="submit" name="submit" id="submit" value="View" />

                </div>
            </div>

        </div>
    </div>

}

<br />
@if (Model.ResultFormatDownloads != null && Model.ResultFormatDownloads.Count() > 0)
{
    <div class="panel panel-danger">
        <div class="panel-body">
            <table class="table-bordered table-hover table-striped table-responsive table">
                <tr>
                    <th>
                        Course Code
                    </th>
                    <th>
                        Course Name
                    </th>
                   
                    <th>

                    </th>
                    <th>

                    </th>
                </tr>

                @for (int i = 0; i < Model.ResultFormatDownloads.Count(); i++)
                {
                    <tr>
                        <td>
                            @Model.ResultFormatDownloads[i].CourseCode
                        </td>
                        <td>
                            @Model.ResultFormatDownloads[i].CourseName
                        </td>
                        @using(Html.BeginForm("ProcessUpload","Staff",new { area = "Admin" },FormMethod.Post,new { enctype = "multipart/form-data" }))
                        {
                            Model.Cid = Model.ResultFormatDownloads[i].CourseId;
                            Model.Programme = new Programme() { Id = Model.Programme.Id };
                            @Html.HiddenFor(model => model.Cid)
                            @Html.HiddenFor(model => model.Programme.Id)
                            @Html.HiddenFor(model => model.Department.Id)
                            @Html.HiddenFor(model => model.Session.Id)
                            
                            <td>
                                <input type="file" title="Upload Result" id="file" name="file" class="form-control" />
                            </td>
                            <td>
                                <input class="btn btn-success mr5 " type="submit" name="submit" id="submit" value="Upload" />

                            </td>
                        }
                    </tr>
                }

            </table>

        </div>
    </div>
}
