﻿@{
    ViewBag.Title = "Portal Home";
}

<link href="~/Content/pretty-menu.css" rel="stylesheet" />
<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('#btnAcceptance').on('click', function() {
            swal("Attention", "Kindly visit the admissions department with a copy of your screening fee teller if you have paid for verification", "warning");
        });
        $('#btnPReceipt').on('click', function () {
            swal("Attention", "Kindly Visit the Admissions Department to Print Your Receipt", "warning");
        });
    });
</script>
<div class="jumbotron">
    <h1>Welcome!</h1>
    <p>Please kindly read the instructions below and click on the link applicable to you.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Instruction</h2>
        <div class="panel panel-default">
            <div class="panel-body text-justify">
                <p><h4>Enter correct information only and ensure that you do not spell your names wrongly.</h4></p>
                <p>Note that your information and personal details are linked to your Confirmation Order Number, your invoice number and the form you purchase. You would not be able to correct or change the information with which you obtain your Confirmation Order Number, your invoice and or your Application form after submitting that information or purchasing the form. If you make any mistake, do not use the Confirmation Order Number or invoice so generated to obtain a form. Rather, generate another number and invoice with your correct information and proceed with those details.</p>
            </div>
        </div>
    </div>
</div>

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h2>Features</h2>
    </div>
</div>

<div class="row text-justify">
    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail" style="height:245px">
            <div class="caption">
                <h4>Generate Application Form Invoice</h4>
                <p>
                    To fill your application form, you must generate an invoice. This should be taken to any of the designated banks where you would pay the exact amount on the invoice.
                </p>
                <p>
                    @Html.ActionLink("Generate Application Invoice", "PostJambFormInvoiceGeneration", "Form", new { Area = "Applicant" }, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail" style="height: 245px">
            <div class="caption">
                <h4>Fill Application Form</h4>
                <p>If you have generated your invoice and have made payment at the bank and have obtained an eTranzact <b>Confirmation Order Number</b>, Click the link below to proceed.</p>
                <p>
                    @Html.ActionLink("Fill Application Form", "PostJambProgramme", "Form", new { Area = "Applicant" }, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature" >
        <div class="thumbnail" style="height: 245px">
            <div class="caption">
                <h4>Generate School fees Invoice</h4>
                <p>
                    To pay for any type of fees, you must generate an invoice. This should be taken to any of the designated banks where you would pay the exact amount on the invoice.
                </p>
                <p>
                    @Html.ActionLink("Generate Fees Invoice", "Index", "Payment", new { Area = "Student" }, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail" style="height: 245px">
            <div class="caption">
                <h4>Print Receipt</h4>
                <p>If you have generated your invoice and have made payment at the bank and have obtained an eTranzact <b>Confirmation Order Number</b>, Click the link below to proceed.</p>
                <p>
                    @Html.ActionLink("Print Fees Receipt", "Logon", "Registration", new { Area = "Student" }, new { @class = "btn btn-success" })
                </p>
            </div>
        </div>
    </div>

</div>


    <!-- /.row -->
@*</div>*@


@*<div class="jumbotron">

    <h1>We Innovate</h1>
    <p class="lead">The purpose of this website is to encourage you to take up a course in the Federal Polytechnic, Ilaro and to help you select the course most appropriate to</p>
    <p><a href="http://asp.net" class="btn btn-success btn-large">Learn more &raquo;</a></p>

</div>


<div class="row">
    <div class="col-md-4">
        <h2>Historical Background</h2>
        <hr class="no-top-padding" style=":green;" />
        <p>
            The Federal Polytechnic, Ilaro was established by Decree No.33 of July 25, 1979.  It was opened to students on November 15, 1979 on a temporary site provided by its host community, the ancient town of Ilaro, Ogun State
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Philosophy</h2>
        <hr class="no-top-padding" />
        <p>The philosophy of the Polytechnic is reflected in its motto “Technology towards Development”.  This philosophy is being pursued by the provision of courses of instruction, training and research in technology, applied science, commerce, management and other fields of study that may be approved from time to time by the National Board for Technical Education (NBTE).</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Objectives</h2>
        <hr class="no-top-padding" />
        <p>To provide technical and practical-oriented training to meet the manpower requirements for the industrial, agricultural, commercial and economic development of Nigeria.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <hr class="no-top-padding" />
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="panel panel-success-alt">
            <div class="panel-heading">
                <div style="font-size: medium">Prospective Student</div>
            </div>
            <div class="panel-body">


            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="panel panel-success-alt">
            <div class="panel-heading">
                <div style="font-size:medium">Admissions</div>
            </div>
            <div class="panel-body">


            </div>
        </div>


    </div>
    <div class="col-md-4">
        <div class="panel panel-success-alt">
            <div class="panel-heading">
                <div style="font-size: medium">Registration</div>
            </div>
            <div class="panel-body">

            </div>
        </div>

    </div>
</div>*@

