﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostJambViewModel

@{
    //Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div style="font-size:x-large">UTME Details/Mode of Reference</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group margin-bottom-3">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.ApplicantJambDetail.JambRegistrationNumber)
                    </div>
                    <div class="col-md-7 text-bold">
                        @Html.DisplayFor(model => model.ApplicantJambDetail.JambRegistrationNumber)
                    </div>
                </div> 
               
            </div>

            <div class="col-md-6">
                <div class="form-group margin-bottom-3">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.ApplicantJambDetail.JambScore)
                    </div>
                    <div class="col-md-7 text-bold">
                        @Html.DisplayFor(model => model.ApplicantJambDetail.JambScore)
                    </div>
                </div> 

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group margin-bottom-3">
                    <div class="col-md-5">
                        @Html.LabelFor(model => model.ApplicantJambDetail.InstitutionChoice.Id)
                    </div>
                    <div class="col-md-7 text-bold">
                        @Html.DisplayFor(model => model.ApplicantJambDetail.InstitutionChoice.Name)
                    </div>
                </div> 

            </div>

            <div class="col-md-6">
                <div class="form-group">

                </div>
            </div>
        </div>


    </div>
</div>


