﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostJambViewModel

@{
    //Layout = null;
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div style="font-size:x-large">O-Level Result</div>
    </div>
    <div class="panel-body">

      


        <div class="row">
            <div class="col-md-6">
                <h5>First Sitting</h5>
                <hr class="no-top-padding" />

                <div>
                    <div class="form-group margin-bottom-3">
                        @Html.LabelFor(model => model.FirstSittingOLevelResult.Type.Id, "Type", new { @class = "control-label col-md-3" })
                        <div class="col-md-9 text-bold">
                            @Html.DisplayFor(model => model.FirstSittingOLevelResult.Type.Name)
                        </div>
                    </div>

                    <div class="form-group margin-bottom-3">
                        @Html.LabelFor(model => model.FirstSittingOLevelResult.ExamNumber, new { @class = "control-label col-md-3" })
                        <div class="col-md-9 text-bold">
                            @Html.DisplayFor(model => model.FirstSittingOLevelResult.ExamNumber)
                        </div>
                    </div>

                    <div class="form-group margin-bottom-3">
                        @Html.LabelFor(model => model.FirstSittingOLevelResult.ExamYear, new { @class = "control-label col-md-3" })
                        <div class="col-md-9 text-bold">
                            @Html.DisplayFor(model => model.FirstSittingOLevelResult.ExamYear)
                        </div>
                    </div>
                </div>

                <table class="table table-condensed table-responsive" style="background-color:whitesmoke">
                    <tr>
                        <th>
                            Subject
                        </th>
                        <th>
                            Grade
                        </th>
                        <th></th>
                    </tr>

                    @for (int i = 0; i < 9; i++)
                    {
                        if (Model.FirstSittingOLevelResultDetails[i].Subject != null)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.FirstSittingOLevelResultDetails[i].Subject.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.FirstSittingOLevelResultDetails[i].Grade.Name)
                                </td>
                            </tr>
                        }

                        @*<tr>
                            <td>
                                @Html.DisplayFor(model => model.FirstSittingOLevelResultDetails[i].Subject.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FirstSittingOLevelResultDetails[i].Grade.Name)
                            </td>
                        </tr>*@
                    }

                </table>

            </div>


            <div class="col-md-6">
                <h5>Second Sitting</h5>
                <hr class="no-top-padding" />

                @if (Model.SecondSittingOLevelResult != null && !string.IsNullOrEmpty(Model.SecondSittingOLevelResult.ExamNumber) && Model.SecondSittingOLevelResult.ExamYear > 0)
                {
                    <div>
                        <div class="form-group margin-bottom-3">
                            @Html.LabelFor(model => model.SecondSittingOLevelResult.Type.Id, "Type", new { @class = "control-label col-md-3" })
                            <div class="col-md-9 text-bold">

                                @Html.DisplayFor(model => model.SecondSittingOLevelResult.Type.Name)
                            </div>
                        </div>

                        <div class="form-group margin-bottom-3">
                            @Html.LabelFor(model => model.SecondSittingOLevelResult.ExamNumber, new { @class = "control-label col-md-3" })
                            <div class="col-md-9 text-bold">

                                @Html.DisplayFor(model => model.SecondSittingOLevelResult.ExamNumber)
                            </div>
                        </div>

                        <div class="form-group margin-bottom-3">
                            @Html.LabelFor(model => model.SecondSittingOLevelResult.ExamYear, new { @class = "control-label col-md-3" })
                            <div class="col-md-9 text-bold">
                                @Html.DisplayFor(model => model.SecondSittingOLevelResult.ExamYear)
                            </div>
                        </div>
                    </div>


                    <table class="table table-condensed table-responsive" style="background-color:whitesmoke">
                        <tr>
                            <th>
                                Subject
                            </th>
                            <th>
                                Grade
                            </th>
                            <th></th>
                        </tr>

                        @for (int i = 0; i < 9; i++)
                        {
                            if (Model.SecondSittingOLevelResultDetails[i].Subject != null)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.SecondSittingOLevelResultDetails[i].Subject.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.SecondSittingOLevelResultDetails[i].Grade.Name)
                                    </td>
                                </tr>
                            }

                            @*<tr>
                                <td>
                                    @Html.DisplayFor(model => model.SecondSittingOLevelResultDetails[i].Subject.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.SecondSittingOLevelResultDetails[i].Grade.Name)
                                </td>
                            </tr>*@
                        }

                    </table>
                }
            </div>

        </div>

    </div>
</div>

