﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostJambViewModel

@{
    //Layout = null;
}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-size:x-large">Tertiary Institution</div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PreviousEducation.SchoolName, new { @class = "control-label " })
                        @Html.TextBoxFor(model => model.PreviousEducation.SchoolName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PreviousEducation.SchoolName)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PreviousEducation.Course, new { @class = "control-label " })
                        @Html.TextBoxFor(model => model.PreviousEducation.Course, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PreviousEducation.Course)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-inline">
                            <div>Start Date</div>
                            @Html.DropDownListFor(model => model.PreviousEducation.StartYear.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationStartYearId, new { @class = "form-control" })
                            @Html.DropDownListFor(model => model.PreviousEducation.StartMonth.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationStartMonthId, new { @class = "form-control" })
                            @Html.DropDownListFor(model => model.PreviousEducation.StartDay.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationStartDayId, new { @class = "form-control" })

                            <div>
                                <div class="form-group">
                                    @Html.ValidationMessageFor(model => model.PreviousEducation.StartYear.Id, "The Start Year Field is required!", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(model => model.PreviousEducation.StartMonth.Id, "The Start Month Field is required!", new { @class = "text-danger" })
                                    @Html.ValidationMessageFor(model => model.PreviousEducation.StartDay.Id, "The Start Day Field is required!", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        @*@Html.LabelFor(model => model.YearFrom, new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.YearFrom, (IEnumerable<SelectListItem>)ViewBag.YearFromId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.YearFrom)*@
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-inline">
                            <div>End Date</div>
                                @Html.DropDownListFor(model => model.PreviousEducation.EndYear.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationEndYearId, new { @class = "form-control" })
                                @Html.DropDownListFor(model => model.PreviousEducation.EndMonth.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationEndMonthId, new { @class = "form-control" })
                                @Html.DropDownListFor(model => model.PreviousEducation.EndDay.Id, (IEnumerable<SelectListItem>)ViewBag.PreviousEducationEndDayId, new { @class = "form-control" })

                                <div>
                                    <div class="form-group">
                                        @Html.ValidationMessageFor(model => model.PreviousEducation.EndYear.Id, "The End Year Field is required!", new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => model.PreviousEducation.EndMonth.Id, "The End Month Field is required!", new { @class = "text-danger" })
                                        @Html.ValidationMessageFor(model => model.PreviousEducation.EndDay.Id, "The End Day Field is required!", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </div>

                        @*@Html.LabelFor(model => model.YearTo, new { @class = "control-label " })
                    @Html.DropDownListFor(model => model.YearTo, (IEnumerable<SelectListItem>)ViewBag.YearToId, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.YearTo)*@
                    </div>
                </div>
           </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PreviousEducation.Qualification.Id, new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.PreviousEducation.Qualification.Id, (IEnumerable<SelectListItem>)ViewBag.QualificationId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PreviousEducation.Qualification.Id)
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PreviousEducation.ResultGrade.Id, new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.PreviousEducation.ResultGrade.Id, (IEnumerable<SelectListItem>)ViewBag.ResultGradeId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PreviousEducation.ResultGrade.Id)
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"> @*IT Duration*@
                        @Html.LabelFor(model => model.PreviousEducation.ITDuration.Id, new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.PreviousEducation.ITDuration.Id, (IEnumerable<SelectListItem>)ViewBag.ITDurationId, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PreviousEducation.ITDuration.Id)
                    </div>
                </div>
                <div class="col-md-6">
                    @*<div class="form-group">
                    @Html.LabelFor(model => model.PreviousEducation.PreND, new { @class = "control-label " })
                    @Html.TextBoxFor(model => model.PreviousEducation.PreND, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PreviousEducation.PreND)
                    </div>*@
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.PreviousEducation.PreNDYearFrom, new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.PreviousEducation.PreNDYearFrom, (IEnumerable<SelectListItem>)ViewBag.PreNDYearFromId, new { @class = "form-control" })*@
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @*@Html.LabelFor(model => model.PreviousEducation.PreNDYearTo, new { @class = "control-label " })
                        @Html.DropDownListFor(model => model.PreviousEducation.PreNDYearTo, (IEnumerable<SelectListItem>)ViewBag.PreNDYearToId, new { @class = "form-control" })*@
                    </div>
                </div>
            </div>


        </div>
    </div>
