﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostJambViewModel

@{
    Layout = null; // "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/style.default.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">
        $("#aPrint").on('click', function () {
            $(".printable").print();
            return false;
        });
    </script>
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />

<div class="container">
    <div class="row">
        <div class="well col-md-8 col-sm-offset-2">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-2 text-left" style="margin-right:25px">
                    <img src="@Url.Content("~/Content/Images/school_logo.jpg")" alt="" />
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <h2>
                        <p class="text-center">
                            <strong>ABIA STATE COLLEGE OF HEALTH TECHNOLOGY, ABA</strong>
                        </p>
                    </h2>
                    <p class="text-center">
                        <small>(Acknowledgment Slip)</small>
                    </p>
                    <p class="text-center">
                        <b><small>Form Number: @Model.ApplicationFormNumber</small></b>
                    </p>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    <img src="@Url.Content(Model.Person.ImageFileUrl)" alt="" style="max-height: 100px; align-content:center" />
                </div>
            </div>

            <hr class="no-top-padding" />
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase text-bold" style="font-size:12px">Surname</td>
                                <td> &nbsp; </td>
                                <td class="text-left" style="font-size:10px">@Model.Person.LastName</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase text-bold" style="font-size:12px">Other Name</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size:10px">@Model.Person.FirstName @Model.Person.OtherName</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size:12px">Gender</td>
                                <td> &nbsp; </td>
                                <td class="text-left" style="font-size:10px">@Model.Person.Sex.Name</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size:12px">Date of Birth</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size:10px">@Model.Person.DateOfBirth.ToString().Replace("12:00:00 AM","")</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>


                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size: 12px">Nationality</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size: 10px">Nigerian</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size: 12px">State Of Origin</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size: 10px">@Model.Person.State.Name</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size: 12px">Local Government</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size: 10px">@Model.Person.LocalGovernment.Name</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size: 12px">Email</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size: 10px">@Model.Person.Email</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size: 12px">Phone Number</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size: 10px">@Model.Person.MobilePhone</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size: 12px">Jamb Registration Number</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size: 10px">@Model.ApplicantJambDetail.JambRegistrationNumber</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size: 12px">Jamb Score</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size: 10px">@Model.ApplicantJambDetail.JambScore</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size: 12px">Course Applied For</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size: 10px">@Model.AppliedCourse.Department.Name</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>

                        <tbody>
                            <tr>
                                <td class="text-left text-uppercase" style="font-size: 12px">Examination Number</td>
                                <td> &nbsp; </td>
                                <td class="text-left text-uppercase" style="font-size: 10px">@Model.ApplicationForm.ExamNumber</td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        </thead>
                        <tbody>
                        <td class="text-left"></td>
                        <td> &nbsp; </td>
                        <td class="text-left text-uppercase"></td>
                        <td class="text-center text-danger">
                            <div class="pull-right">
                                <small><br />Powered By Lloydant</small>
                                <img src="@Url.Content("~/Content/Images/lloydant.png")" alt="" />
                            </div>

                        </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="row">
                <button class="btn btn-white btn-lg " onclick="window.print();"><i class="fa fa-print mr5"></i> Print Slip</button>
            </div>
        </div>


    </div>
</div>




