﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostJAMBFormPaymentViewModel

@{
    ViewBag.Title = "Post JAMB Programme";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>

<script type="text/javascript">

    $(function () {

        //var drop = document.getElementById('feeType');
        //drop.options[1].style.visibility = "hidden";

        var items = $('#AppliedCourse_Option_Id option').val();
        if (items > 0) {
            $("#divDepartmentOption").show();
        } else {
            $("#divDepartmentOption").hide();
        }

        var selectedProgramme = $("#Programme_Id").val();
        if (selectedProgramme != 1) {
            $("#divJambNo").hide();
        } else {
            $("#divJambNo").show();
        }

        @*$("#Programme_Id").change(function () {
            var programme = $("#Programme_Id").val();
            if (programme == 3) {
                $("#divJambNo").hide();
            }
            else {
                $("#divJambNo").show();
            }

            $("#AppliedCourse_Department_Id").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartmentByProgrammeId")', // we are calling json method
                dataType: 'json',
                data: { id: programme },
                success: function (departments) {
                    $("#AppliedCourse_Department_Id").append('<option value="' + 0 + '"> -- Select -- </option>');

                    $.each(departments, function (i, department) {
                        $("#AppliedCourse_Department_Id").append('<option value="' + department.Value + '">' + department.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
        })*@

        $("#Programme_Id").change(function () {

            var programme = $("#Programme_Id").val();
            if (programme != 1) {
                $("#divJambNo").hide();
                $("#divDepartmentOption").hide();
            } else {
                $("#divJambNo").show();
            }

            $("#AppliedCourse_Department_Id").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartmentByProgrammeId", "Form")', // we are calling json method
                dataType: 'json',
                data: { id: programme },
                success: function (departments) {
                    $("#AppliedCourse_Department_Id").append('<option value="' + 0 + '"> -- Select -- </option>');

                    $.each(departments, function (i, department) {
                        $("#AppliedCourse_Department_Id").append('<option value="' + department.Value + '">' + department.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
        });

        //Load Department Option
        $("#AppliedCourse_Department_Id").change(function () {
            var department = $("#AppliedCourse_Department_Id").val();
            var programme = $("#Programme_Id").val();

            $("#AppliedCourse_Option_Id").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartmentOptionByDepartment", "Form")', // we are calling json method
                dataType: 'json',
                data: { id: department, programmeid: programme },
                success: function (departmentOptions) {
                    //$("#hfDepartmentOptionExist").val(departmentOptions[0]);

                    if (departmentOptions == "" || departmentOptions == null || departmentOptions == undefined) {
                        $("#divDepartmentOption").hide();
                    } else {
                        $("#AppliedCourse_Option_Id").append('<option value="' + 0 + '"> -- Select -- </option>');
                        $.each(departmentOptions, function (i, Option) {
                            $("#AppliedCourse_Option_Id").append('<option value="' + Option.Value + '">' + Option.Text + '</option>');
                        });

                        $("#divDepartmentOption").show();
                    }
                },
                error: function (ex) {
                    alert('Failed to retrieve department Options.' + ex);
                }
            });
        });

        swal("Please Note!", "After making payment your INVOICE NUMBER will be your CONFIRMATION ORDER NUMBER. Thank you", "info");

        $("#feeType option[value=1]").remove();

        //$("#feeType").change(function () {
        //    var feeType = $("#feeType").val();
        //    if (feeType == 1) {
        //        swal("Closed!", "Application has closed for the selected form.", "error");
        //        $('#submit').hide();
        //    }
        //    else if (feeType == 10) {
        //        $('#submit').show();
        //    }

        //});
        $('#submit').on('click', function () {
            swal("Note!", "Please Cross-check all the fields as changes would not be allowed afterwards", "warning");
        });

    });

</script>

@using (Html.BeginForm("PostJambFormInvoiceGeneration", "Form", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2>Application Form Invoice</h2>
                    <p><b>Provide your programme and course of choice, then fill other personal details below. Please note that ND Full Time Applicants must specify their JAMB Registration Number</b></p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div>
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                                }
                            </div>
                        </div>

                        <div class="row">
                            <h3>Choose Programme</h3>
                            <hr style="margin-top:0" />
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Programme.Id, new { @class = "control-label " })
                                            @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.ProgrammeId, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Programme.Id, null, new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AppliedCourse.Department.Id, "Course", new { @class = "control-label " })
                                            @Html.DropDownListFor(model => model.AppliedCourse.Department.Id, (IEnumerable<SelectListItem>)ViewBag.DepartmentId, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.AppliedCourse.Department.Id, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div id="divJambNo" class="form-group" style="display: none">
                                            @Html.LabelFor(model => model.JambRegistrationNumber, new { @class = "control-label " })
                                            @Html.TextBoxFor(model => model.JambRegistrationNumber, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.JambRegistrationNumber, null, new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div id="divDepartmentOption" class="form-group" style="display: none">
                                            @Html.LabelFor(model => model.AppliedCourse.Option.Id, "Course Option", new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.AppliedCourse.Option.Id, (IEnumerable<SelectListItem>)ViewBag.DepartmentOptionId, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.AppliedCourse.Option.Id, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FeeType.Name, "Form Type", new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.FeeType.Id, (IEnumerable<SelectListItem>)ViewBag.FeeTypeId, new { @class = "form-control", @required = "required", id = "feeType" })
                                            @Html.ValidationMessageFor(model => model.FeeType.Id, null, new { @class = "text-danger " })
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <br />

                        <div class="row">
                            <h3>Please enter other personal details</h3>
                            <hr style="margin-top:0" />

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Person.LastName, new { @class = "control-label " })
                                    @Html.TextBoxFor(model => model.Person.LastName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Person.LastName, null, new { @class = "text-danger" })
                                </div><!-- form-group -->
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Person.FirstName, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Person.FirstName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Person.FirstName, null, new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Person.OtherName, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Person.OtherName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Person.OtherName, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Person.State.Id, new { @class = "control-label " })
                                    @Html.DropDownListFor(model => model.Person.State.Id, (IEnumerable<SelectListItem>)ViewBag.StateId, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Person.State.Id, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Person.MobilePhone, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Person.MobilePhone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Person.MobilePhone, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Person.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.Person.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Person.Email, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-1"></div>
            </div>

            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 ">
                        <div class="form-group">
                            <div class="col-md-12">
                                <input class="btn btn-success btn-lg mr5" type="submit" name="submit" id="submit" value="Generate Invoice" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>


        </div>
    </div>












    @*<div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">



                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Generate Invoice</h4>
                    </div>

                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div>
                                    @if (TempData["Message"] != null)
                                    {
                                        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                                    }
                                </div>

                                <div class="panel panel-default well-lg" >
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <span style="font-size:15pt">Choose Programme</span>
                                        </div>

                                        <div id="divProgramme">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Programme.Id, new { @class = "control-label " })
                                                @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.ProgrammeId, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Programme.Id, null, new { @class = "text-danger" })
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.AppliedCourse.Department.Id, "Department of Choice", new { @class = "control-label " })
                                                @Html.DropDownListFor(model => model.AppliedCourse.Department.Id, (IEnumerable<SelectListItem>)ViewBag.DepartmentId, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.AppliedCourse.Department.Id, null, new { @class = "text-danger" })
                                            </div>

                                            <div id="divJambNo" class="form-group" style="display:none">
                                                @Html.LabelFor(model => model.JambRegistrationNumber, new { @class = "control-label " })
                                                @Html.TextBoxFor(model => model.JambRegistrationNumber, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.JambRegistrationNumber, null, new { @class = "text-danger" })
                                            </div>
                                        </div>




                                    </div>
                                </div>



                                <div class="panel panel-default" >
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <span style="font-size:15pt">Please enter other personal details</span>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Student.FirstName, new { @class = "control-label " })

                                                @Html.TextBoxFor(model => model.Student.FirstName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Student.FirstName, null, new { @class = "text-danger" })
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Student.LastName, new { @class = "control-label " })

                                                @Html.TextBoxFor(model => model.Student.LastName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Student.LastName, null, new { @class = "text-danger" })
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Student.OtherName, new { @class = "control-label " })

                                                @Html.TextBoxFor(model => model.Student.OtherName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Student.OtherName, null, new { @class = "text-danger" })
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Student.State.Id, new { @class = "control-label " })

                                                @Html.DropDownListFor(model => model.Student.State.Id, (IEnumerable<SelectListItem>)ViewBag.StateId, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Student.State.Id, null, new { @class = "text-danger" })
                                            </div>



                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Student.MobilePhone, new { @class = "control-label " })

                                                @Html.TextBoxFor(model => model.Student.MobilePhone, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Student.MobilePhone, null, new { @class = "text-danger" })
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Student.Email, new { @class = "control-label " })

                                                @Html.TextBoxFor(model => model.Student.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Student.Email, null, new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        </div>
                                    </div>




                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
            <div class="col-md-4"></div>
                </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="panel-footer ">
                    <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Next" />

                    <div class="btn btn-default">
                        @Html.ActionLink("Back to Home", "Index", "Home", new { Area = "" }, null)
                    </div>

                </div>
            </div>
            <div class="col-md-4"></div>
        </div>





            </div>*@







}




