﻿@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostJAMBProgrammeViewModel

@{
    //Layout = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Post JAMB Programme";
}

<script src="~/Scripts/jquery-1.11.1.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        var selectedProgramme = $("#Programme_Id").val();
        if (selectedProgramme == 1 || selectedProgramme == 2)
        {
            $("#divJambNo").show();
        }
        else {
            $("#divJambNo").hide();
        }

        //if ($('#rdYesRadio').is(':checked')) {
        //    $('#divOrderNo').hide();
        //    $('#divProgramme').show();
        //}
        //else if ($('#rdNoRadio').is(':checked')) {
        //    $('#divProgramme').hide();
        //    $('#divOrderNo').show();
        //}
        
        $("#Programme_Id").change(function () {
            var programme = $("#Programme_Id").val();
            if (programme == 3) {
                $("#divJambNo").hide();
            }
            else {
                $("#divJambNo").show();
            }

            $("#AppliedCourse_Department_Id").empty();

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetDepartmentByProgrammeId")', //calling json method
                dataType: 'json',
                data: { id: programme },
                success: function (departments) {
                    $("#AppliedCourse_Department_Id").append('<option value="' + 0 + '"> -- Select -- </option>');
                    
                    $.each(departments, function (i, department) {
                        $("#AppliedCourse_Department_Id").append('<option value="' + department.Value + '">' + department.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve departments.' + ex);
                }
            });
        })


        $('#rdNoRadio').click(function () {
            if ($(this).is(':checked')) {
                $('#divProgramme').hide();
                $('#divOrderNo').show();
            }
        });

        $('#rdYesRadio').click(function () {
            if ($(this).is(':checked')) {
                $('#divOrderNo').hide();
                $('#divProgramme').show();
            }
        });
    })

    
    //$(function () {
    //    $('#rdYesRadio').click(function () {
    //        if ($(this).is(':checked')) {
    //            $('#divOrderNo').attr('disabled', 'disabled');
    //            $('#divProgramme').removeAttr('disabled');
    //        }
    //    });
    //});

    //$(function () {
    //    $('#rdNoRadio').click(function () {
    //        if ($(this).is(':checked')) {
    //            $('#divProgramme').attr('disabled', 'disabled');
    //            $('#divOrderNo').removeAttr('disabled');
    //        }
    //    });
    //});
    

</script>


@using (Html.BeginForm("PostJambProgramme", "Form", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <div class="row">

            <div class="col-md-12">

                <h3>Confirmation Order Number</h3>

                <div class="panel panel-default">

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                               
                                
                                <div class="well" style="margin-bottom:15px">
                                    <blockquote>
                                        <p>
                                            Kindly enter your Confirmation Order Number/Invoice Number in the space provided at the right hand side, and click the Next Button to fill your Application Form. Please endeavor to print your Acknowledgment Slip and Exam Slip after the submission of your form. 
                                        </p>

                                        <small>Note that the Exam Slip should only be printed by ND applicants immediately<cite title="Source Title"></cite></small>
                                    </blockquote>
                                </div>
                                   
                                </div>
                            <div class="col-md-6" >
                                <div>
                                    @if (TempData["Message"] != null)
                                    {
                                        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                                    }
                                </div>

                                    <div class="form-group">
                                        <label style="font-size:10pt">Please enter your Confirmation Order Number/Invoice Number</label>
                                        @Html.TextBoxFor(model => model.ConfirmationOrderNumber, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ConfirmationOrderNumber, null, new { @class = "text-danger" })
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel-footer ">
                    <button class="btn btn-success btn-lg mr5" type="submit" name="submit" id="submit" value="Next"> Next @*<i class="fa fa-chevron-right mr5"></i><i class="fa fa-chevron-right mr5"></i>*@</button>

                    @*<div class="btn btn-default btn-lg mr5">
                        @Html.ActionLink("Back to Home", "Index", "Home", new { Area = "" }, null)
                    </div>*@
                </div>

            </div>
    </div>





}