﻿@model Abundance_Nk.Model.Entity.COURSE_UNIT

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>COURSE_UNIT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Minimum_Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minimum_Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Maximum_Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Maximum_Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMENT.Department_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMENT.Department_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEVEL.Level_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEVEL.Level_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEMESTER.Semester_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEMESTER.Semester_Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
