﻿@model IEnumerable<Abundance_Nk.Model.Model.ApplicationForm>

@if (Model != null && Model.Count() > 0)
{

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="row">
                <div class="col-md-12">
                    @*<div class="pull-left">
                        <span class="caption">Course</span>
                    </div>*@
                    <div class="pull-right record-count-label">
                        <span class="caption">Total Record</span><label id="spTotalRecord" class="badge">@Model.Count()</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    @*<div class="table-responsive custom-text-black">*@
                    <table class="table table-condensed table-responsive grid-table table-head-alt mb30">
                        <thead>
                            <tr class="well" style="height:38px; vertical-align:middle">
                                <th>
                                    @Html.CheckBox("selectAll", new { @class = "ckbox ckbox-default" })
                                </th>

                                <th>
                                    Form Number
                                </th>
                                <th>
                                    Exam No
                                </th>
                                <th>
                                    Name
                                </th>
                               
                                @*<th>
                                    Jamb Reg No
                                </th>*@
                                <th>
                                    Reject Reason
                                </th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.CheckBox(" ", false, new { @class = "ckb ", id = item.Id })
                                </td>

                                <td>

                                    <ul class="nav navbar-nav2 ">
                                        <li class="dropdown">
                                            <a style="padding:1px; " class="dropdown-toggle" data-toggle="dropdown" href="#">@Html.DisplayFor(modelItem => item.Number)<span></span></a>
                                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                <li class="divider"></li>
                                                <li>@Html.ActionLink("Application Form", "ApplicationForm", "Credential", new { Area = "Common", fid = item.Id }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>

                                                @if (item.JambDetail != null && !string.IsNullOrWhiteSpace(item.JambDetail.JambRegistrationNumber))
                                                {
                                                    <li class="divider"></li>
                                                    <li>@Html.ActionLink("PUTME Result", "PostUtmeResult", "AdmissionProcessing", new { Area = "Admin", jn = item.JambDetail.JambRegistrationNumber }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExamNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Person.FullName)
                                </td>
                               
                                @*<td>
                                    @if (item.JambDetail != null && !string.IsNullOrWhiteSpace(item.JambDetail.JambRegistrationNumber))
                                    {
                                        @Html.DisplayFor(modelItem => item.JambDetail.JambRegistrationNumber)
                                    }
                                </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.RejectReason)
                                </td>
                            </tr>
                        }
                    </table>



                </div>
            </div>

            @*<div class="row">
                <div class="col-md-12">
                    <div id="buttons">
                        <div class="form-inline ">
                            <div class="form-group">
                                <input type="button" id="btnAccept" value="Accept" class="btn btn-white btn-lg" />
                                <input type="button" id="btnReject" value="Reject" class="btn btn-white btn-lg" />
                            </div>

                            <div class="form-group">
                                <div id="processing" style="display:none">
                                    <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                    <span>Processing ...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

            
        </div>
        </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>
    </div>
}
