﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.AdmissionProcessingViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    
}

<link href="~/Content/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/Content/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />


<script src="~/Scripts/jquery-2.1.3.js"></script>
<script src="~/Scripts/dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/media/js/jquery.dataTables.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
<script src="~/Content/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.flash.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.html5.min.js"></script>
<script src="~/Content/DataTables-1.10.15/buttons.print.min.js"></script>
<script src="~/Content/DataTables-1.10.15/jszip.min.js"></script>
<script src="~/Content/DataTables-1.10.15/pdfmake.min.js"></script>
<script src="~/Content/DataTables-1.10.15/vfs_fonts.js"></script>
<script type="text/javascript">
    var jqXHRData;
    var jqueryVersion = $.noConflict(true);
    jqueryVersion(document).ready(function() {

        jqueryVersion("#myTable").DataTable({
            dom: 'Bfrtip',
            ordering: true,
            buttons: [
                {
                    extend: 'copy',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'csv',
                    exportOptions: {
                        columns: ':visible'
                    }

                },
                {
                    extend: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'pdf',
                    exportOptions: {
                        columns: ':visible'
                    }


                },
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }


                },, 'colvis'
            ]
        });

    });
</script>



<div class="alert alert-success fade in nomargin">
    <h3>Admitted Students List By School Fees</h3>
</div>

<div class="panel panel-default">
    <div class="panel-body">
>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
           

        @if (Model != null && Model.PaymentSummaries != null)
        {

            <div class="col-md-12">

                <table class="table table-bordered table-hover table-striped" id="myTable">
                    <thead>
                        <tr>

                            <th>SN</th>
                            <th>Name</th>
                            <th>Application Number</th>
                            <th>Department</th>
                            <th>Programme</th>
                            <th>Confirmation Order Number</th>
                            

                        </tr>
                    </thead>
                    <tbody style="color:black;">
                        @for (var itemIndex = 0; itemIndex < Model.PaymentSummaries.Count; itemIndex++)
                        {
                            <tr>
                                @{ int N = 0;}
                                <td>@{ N = itemIndex + 1; } @N</td>
                                <td>@Html.DisplayTextFor(m => m.PaymentSummaries[itemIndex].Name)</td>
                                <td>@Html.DisplayTextFor(m => m.PaymentSummaries[itemIndex].MatricNumber)</td>
                                <td>@Html.DisplayTextFor(m => m.PaymentSummaries[itemIndex].DepartmentName)</td>
                                <td>@Html.DisplayTextFor(m => m.PaymentSummaries[itemIndex].ProgrammeName)</td> 
                                <td>@Html.DisplayTextFor(m => m.PaymentSummaries[itemIndex].ConfirmationNumber)</td>
                               
                            </tr>
                        }

                    </tbody>
                </table>

            </div>


        }

    </div>
</div>