﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.AdmissionProcessingViewModel
@{
    Layout = null;
    ViewBag.Title = "ResultSlip";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#aPrint").click(function() {
            $("#aPrint").hide();
            $("#printable").show();
            window.print();
            $("#aPrint").show();
        });

    });
</script>
<style>
    .pt-4 {
        padding-top: 40px;
    }

    .panel {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
</style>
<div>
    <div id="printable" class="container pt-4 ">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 pt-4 ">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding-top:0px;">
                        <div class="row">
                            <div class="col-xs-12 ">
                                <div class="row" style="background: #f2f2f2; padding: 13px 0;">
                                    <div class="col-xs-2 pull-left">
                                        <img class="img-responsive" src="@Url.Content("~/Content/Images/school_logo.jpg")" width="100px" height="100px" alt="School Logo" />
                                    </div>
                                    <div class="col-xs-6 text-center text-bold pt-4 p-t-40">
                                        <p style="font-weight: 600;">
                                            ABIA STATE COLLEGE OF HEALTH SCIENCES AND MANAGEMENT TECHNOLOGY, ABA <br />
                                            OFFICE OF THE REGISTRAR <br />
                                        <p>ADMISSION SLIP</p>

                                        </p><br />
                                    </div>
                                    <div class="col-xs-2 pull-right">
                                        <img class="img-responsive" src="@Url.Content('~' + Model.ApplicationForm.Person.ImageFileUrl)" width="100px" height="100px" alt="Student Passport" />
                                    </div>
                                </div>
                                <div class="">
                                    <div class="panel-heading">
                                        <h3 class="text-center text-bold" style="margin-bottom:3px;">ADMISSION SLIP</h3>
                                    </div><hr style="margin:1px;" />
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-4">
                                                        @Html.LabelFor(model => model.ApplicationForm.Person.FullName, "Name", new { @class = "control-label text-uppercase", @style = "font-size:x-small" })
                                                    </div>
                                                    <div class="col-xs-8 text-bold" style="font-size: x-small">
                                                        @Html.DisplayFor(model => model.ApplicationForm.Person.FullName)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-xs-12">
                                                <div class="col-xs-4">
                                                    @Html.LabelFor(model => model.ApplicationForm.Number, "Application Form No.", new { @class = "control-label text-uppercase", @style = "font-size:x-small" })
                                                </div>
                                                <div class="col-xs-8 text-bold" style="font-size: x-small">
                                                    @Html.DisplayFor(model => model.ApplicationForm.Number)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-xs-12">
                                                <div class="col-xs-4">
                                                    @Html.LabelFor(model => model.AppliedCourse.Department.Name, "Department", new { @class = "control-label text-uppercase", @style = "font-size:x-small" })
                                                </div>
                                                <div class="col-xs-8 text-bold" style="font-size: x-small">
                                                    @Html.DisplayFor(model => model.AppliedCourse.Department.Name)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-xs-12">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-4">
                                                        @Html.LabelFor(model => model.AppliedCourse.Programme.Name, "Programme", new {@class = "control-label text-uppercase", @style = "font-size:x-small"})
                                                    </div>
                                                    <div class="col-xs-8 text-bold" style="font-size: x-small">
                                                        @Html.DisplayFor(model => model.AppliedCourse.Programme.Name)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-xs-12">
                                                <div class="form-group margin-bottom-0">
                                                    <div class="col-xs-4">
                                                        @Html.LabelFor(model => model.AppliedCourse.Option, "Admission Status", new { @class = "control-label text-uppercase", @style = "font-size:x-small" })
                                                    </div>
                                                    <div class="col-xs-8 text-bold" style="font-size: x-small">
                                                        <b>Admitted</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <button id="aPrint" class="btn btn-primary pull-right">Print Slip</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>