﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.AdmissionProcessingViewModel

@{
    //Layout = null;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/responsive-tabs.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#buttons").hide();
            //$("#data").hide();
           
            BindSelectAll();
            BindSelectOne();

            $('#btnAccept').prop('disabled', true);
            $('#btnReject').prop('disabled', true);

            $("#btnAccept").click(function () {
                checkedIds = $(".ckb").filter(":checked").map(function () {
                    return this.id;
                });

                var programme = $("#Programme_Id").val();
                var department = $("#AppliedCourse_Department_Id").val();
                var session = $("#Session_Id").val();

                var rejected = false;
                var selectedSession = $("#Session_Id").val();
                if (selectedSession == "" || undefined) {
                    alert("No Session selected! Please select Session.");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AcceptOrReject", "AdmissionProcessing")",
                    traditional: true,
                    //data: { ids: checkedIds.toArray(), sessionId: selectedSession, isRejected: rejected },

                    data: { ids: checkedIds.toArray(), sessionId: session, programmeId: programme, departmentId: department, isRejected: rejected },

                    beforeSend: function () {
                        $("#processing").show();
                    },
                    complete: function () {
                        $("#processing").hide();
                    },
                    success: SuccessFunc,
                    error: ErrorFunc,
                })

                function SuccessFunc(data, status) {
                    $("#data").html(data);

                    $('#btnAccept').prop('disabled', true);
                    $('#btnReject').prop('disabled', true);

                    BindSelectAll();
                    BindSelectOne();
                }

                function ErrorFunc() {
                    alert("Operation failed!");
                }
            });

            $("#btnReject").click(function () {
                checkedIds = $(".ckb").filter(":checked").map(function () {
                    return this.id;
                });

                var programme = $("#Programme_Id").val();
                var department = $("#AppliedCourse_Department_Id").val();
                var session = $("#Session_Id").val();

                var rejected = true;
                var selectedSession = $("#Session_Id").val();
                if (selectedSession == "" || selectedSession == undefined) {
                    alert("No Session selected! Please select Session.");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AcceptOrReject", "AdmissionProcessing")",
                    traditional: true,
                    //data: { ids: checkedIds.toArray(), sessionId: selectedSession, isRejected: rejected },
                    data: { ids: checkedIds.toArray(), sessionId: session, programmeId: programme, departmentId: department, isRejected: rejected },

                    beforeSend: function () {
                        $("#processing").show();
                    },
                    complete: function () {
                        $("#processing").hide();
                    },
                    success: SuccessFunc,
                    error: ErrorFunc,
                })

                function SuccessFunc(data, status) {
                    $("#data").html(data);

                    $('#btnAccept').prop('disabled', true);
                    $('#btnReject').prop('disabled', true);

                    BindSelectAll();
                    BindSelectOne();
                }

                function ErrorFunc() {
                    alert("Operation failed!");
                }
            });

            $("#find").click(function () {
                if ($("#rdYesRadio").is(':checked')) {
                    rejected = true;
                }
                else {
                    rejected = false;
                }

                var programme = $("#Programme_Id").val();
                var department = $("#AppliedCourse_Department_Id").val();
                var session = $("#Session_Id").val();
                
                if (session == "" || session == undefined) {
                    alert("No Session selected! Please select session.");
                    return;
                }
                else if (programme == "" || programme == undefined) {
                    alert("No Programme selected! Please select programme.");
                    return;
                }
                else if (department == "" || department == undefined) {
                    alert("No Department selected! Please select department.");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("FindBy", "AdmissionProcessing")",
                    traditional: true,
                    data: { sessionId: session, programmeId: programme, departmentId: department, isRejected: rejected },
                    beforeSend: function () {
                        $("#loading").show();
                    },
                    complete: function () {
                        $("#loading").hide();
                    },
                    success: SuccessFunc,
                    error: ErrorFunc,
                });

                function SuccessFunc(data) {
                    $("#data").html(data);
                    //$("#data").show();
                    $("#buttons").show();

                    //var totalRecord = $("#spTotalRecord").val();
                    //if (totalRecord > 0) {
                    //    $("#buttons").show();
                    //}
                    //else {
                    //    $("#buttons").hide();
                    //}

                    BindSelectAll();
                    BindSelectOne();
                }

                function ErrorFunc() {
                    alert("Operation failed!");
                }
            });

            function BindSelectAll() {
                if ($("#rdYesRadio").is(':checked')) {
                    rejected = true;
                }
                else {
                    rejected = false;
                }

                $("#selectAll").click(function (event) {
                    if (this.checked) {
                        $(".ckb").each(function () {
                            this.checked = true;

                            if (rejected) {
                                $('#btnAccept').prop('disabled', false);
                                $('#btnReject').prop('disabled', true);
                            }
                            else {
                                $('#btnReject').prop('disabled', false);
                                $('#btnAccept').prop('disabled', true);
                            }
                        });
                    }
                    else {
                        $(".ckb").each(function () {
                            this.checked = false;
                            $('#btnAccept').prop('disabled', true);
                            $('#btnReject').prop('disabled', true);
                        });
                    }
                });
            }

            function BindSelectOne() {
                if ($("#rdYesRadio").is(':checked')) {
                    rejected = true;
                }
                else {
                    rejected = false;
                }

                $(".ckb").click(function (event) {
                    var totalSelected = $(".ckb").filter(":checked").length;
                    var totalCheckBoxCount = $(".ckb").length;

                    //if (!this.checked) {
                    //    chkBox.removeAttr('checked');
                    //}
                    //else {
                    //    if (totalSelected == totalCheckBoxCount) {
                    //        chkBox.prop('checked', 'checked');
                    //    }
                    //}

                    if (!this.checked) {
                        $('#selectAll').removeAttr('checked');
                        var count = $("[type='checkbox']:checked").length;

                        if (count > 0) {
                            if (rejected) {
                                $('#btnAccept').prop('disabled', false);
                                $('#btnReject').prop('disabled', true);
                            }
                            else {
                                $('#btnReject').prop('disabled', false);
                                $('#btnAccept').prop('disabled', true);
                            }
                        }
                        else {
                            $('#btnAccept').prop('disabled', true);
                            $('#btnReject').prop('disabled', true);
                        }
                    }
                    else {
                        if (rejected) {
                            $('#btnAccept').prop('disabled', false);
                            $('#btnReject').prop('disabled', true);
                        }
                        else {
                            $('#btnReject').prop('disabled', false);
                            $('#btnAccept').prop('disabled', true);
                        }

                        if (totalSelected == totalCheckBoxCount) {
                            $('#selectAll').prop('checked', 'checked');
                        }
                    }
                });
            }
            
            $("#Programme_Id").change(function () {
                var programme = $("#Programme_Id").val();
                
                $("#AppliedCourse_Department_Id").empty();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDepartmentByProgrammeId")', // we are calling json method
                    dataType: 'json',
                    data: { id: programme },
                    success: function (departments) {
                        if (departments != null && departments.length > 0) {
                            $("#AppliedCourse_Department_Id").append('<option value="' + 0 + '"> -- Select Department -- </option>');

                            $.each(departments, function (i, department) {
                                $("#AppliedCourse_Department_Id").append('<option value="' + department.Value + '">' + department.Text + '</option>');
                            });

                            $("#divDepartment").show();
                        }
                        else {
                            $("#divDepartment").hide();
                        }
                    },
                    error: function (ex) {
                        $("#divDepartment").hide();
                        alert('Failed to retrieve departments.' + ex);
                    }
                });
            })
        });
        
        
        //(function ($) {
        //    fakewaffle.responsiveTabs(['xs', 'sm']);
        //})(jQuery);

        //$('#myTab a').click(function (e) {
        //    e.preventDefault();
        //    $(this).tab('show');
        //});

        //function resizeIframe(obj) {
        //    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        //}
        
    </script>
    }

<div style="color:black">
    <h2>
        Accept / Reject Application
        @*Admission Processing*@
    </h2>
</div>
  
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
  

    <div style="margin-bottom:15px; text-align:justify">
        <blockquote>
            <p style="color:darkgreen; font-weight:bold">
                This interface enables users to view, Accept or Reject Application.
            </p>

            <small>Users can Accept or Reject Application Form by simply selecting an Academic Session, Accepted or Rejected from the drop dowm and options respectively. Then click the Find button to search. The search result is displayed in a tabular format below. Users can Accept an Application by selecting the appropriate application and click the Accept button below.<cite title="Source Title"></cite></small>
        </blockquote>
    </div>

    @*<div class="panel panel-default">
        <div class="panel-body ">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline ">

                        <div class="form-group">
                            <div class="rdio rdio-default">
                                @Html.RadioButton("Rejected", false, new { id = "rdNoRadio" })
                                <label for="rdNoRadio">Accepted</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="rdio rdio-default">
                                @Html.RadioButton("Rejected", true, new { id = "rdYesRadio", @checked = "checked" })
                                <label for="rdYesRadio">Rejected</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline ">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Session.Id, (IEnumerable<SelectListItem>)ViewBag.SessionId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Session.Id)
                        </div>



                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.ProgrammeId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Programme.Id, null, new { @class = "text-danger" })
                        </div>


                        <div class="form-group" id="divDepartment" style="display:none">
                            @Html.DropDownListFor(model => model.AppliedCourse.Department.Id, (IEnumerable<SelectListItem>)ViewBag.DepartmentId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AppliedCourse.Department.Id, null, new { @class = "text-danger" })
                        </div>



                        <div class="form-group">
                            <button class="btn btn-default btn-metro mr5" type="button" name="find" id="find" value="Find">Find</button>
                        </div>

                        <div class="form-group">
                            <div id="loading" style="display:none">
                                <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                <span>Loading ...</span>
                            </div>
                        </div>
                    </div>


                </div>


            </div>

        </div>
    </div>*@


        <div class="shadow ">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline ">

                        <div class="form-group">
                            <div class="rdio rdio-default">
                                @Html.RadioButton("Rejected", false, new { id = "rdNoRadio" })
                                <label for="rdNoRadio">Accepted</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="rdio rdio-default">
                                @Html.RadioButton("Rejected", true, new { id = "rdYesRadio", @checked = "checked" })
                                <label for="rdYesRadio">Rejected</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline ">
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Session.Id, (IEnumerable<SelectListItem>)ViewBag.SessionId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Session.Id)
                        </div>

                        <div class="form-group">
                            @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.ProgrammeId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Programme.Id, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group" id="divDepartment" style="display:none">
                            @Html.DropDownListFor(model => model.AppliedCourse.Department.Id, (IEnumerable<SelectListItem>)ViewBag.DepartmentId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.AppliedCourse.Department.Id, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <button class="btn btn-default btn-metro mr5" type="button" name="find" id="find" value="Find">Find</button>
                        </div>

                        <div class="form-group">
                            <div id="loading" style="display:none">
                                <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                <span>Loading ...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <div id="data">
        @if (Model.ApplicationForms != null && Model.ApplicationForms.Count > 0)
        { 
            @Html.Partial("_ApplicationFormsGrid", Model.ApplicationForms)
        }
                
    </div>

    <div class="row">
        <div class="col-md-12">
            <div id="buttons">
                <div class="form-inline ">
                    <div class="form-group">
                        <input type="button" id="btnAccept" value="Accept" class="btn btn-white btn-lg" />
                        <input type="button" id="btnReject" value="Reject" class="btn btn-white btn-lg" />
                    </div>

                    <div class="form-group">
                        <div id="processing" style="display:none">
                            <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                            <span>Processing ...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*<div id="buttons">

        <div class="form-inline ">
            <div class="form-group">
                <input type="button" id="btnAccept" value="Accept" class="btn btn-white btn-lg" />
                <input type="button" id="btnReject" value="Reject" class="btn btn-white btn-lg" />
            </div>

            <div class="form-group">
                <div id="processing" style="display:none">
                    <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                    <span>Processing ...</span>
                </div>
            </div>
        </div>
    </div>*@



}

            <br />
