﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.AdmissionProcessingViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-12">
            <div>
                <p class="text-center"><h3>PRINT ADMISSION SLIP</h3></p>
            </div>

            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }

            @using (Html.BeginForm("PrintAdmissionSlip", "AdmissionProcessing", FormMethod.Post, new { target = "_blank" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="col-md-12">
                    <div class="form-group">
                        <h4>Enter Application Form Number</h4>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ApplicationForm.Number, new { @class = "col-sm-2 control-label " })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.ApplicationForm.Number, new { @class = "form-control", @placeholder = "Enter Application Form No" })
                        @Html.ValidationMessageFor(model => model.ApplicationForm.Number, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Print" target="_blank" />
                    </div>
                </div>



            }

        </div>
    </div>
</div>
