﻿@*@model IEnumerable<Abundance_Nk.Model.Entity.POST_UTME_RESULT>*@
@model Abundance_Nk.Web.Areas.Applicant.ViewModels.PostUtmeResultViewModel

@{
    ViewBag.Title = "PUTME RESULT";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //Layout = "~/Views/Shared/_BootStrapLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PUTME RESULT</title>
   


</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @if (TempData["Message"] != null)
                            {
                                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                            }
                            <div class="alert alert-success fade in nomargin" >
                                
                            </div>
                            <br />
                                </div>
                                @using (Html.BeginForm("Index", "PostUtmeResult", FormMethod.Post, new { target = "_blank" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="col-md-12">
                                        <div>
                                            <p class="text-center"><h3>PUTME Result</h3></p>
                                        </div>

                                      
                                        <div class="panel panel-default " >
                                            <div class="panel-body ">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                            <h4>Enter Your Application Number</h4>
                                                    </div>
                                                </div>
                                               
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.JambRegistrationNumber,"Application Form Number" ,new { @class = "col-sm-2 control-label " })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.JambRegistrationNumber, new { @class = "form-control", @placeholder = "Application No" })
                                                        @Html.ValidationMessageFor(model => model.JambRegistrationNumber, null, new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                @*<div class="form-group">
                                                    @Html.LabelFor(model => model.PinNumber, new { @class = "col-sm-2 control-label " })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(model => model.PinNumber, new { @class = "form-control", @placeholder = "Enter Scratch Card Pin Number" })
                                                        @Html.ValidationMessageFor(model => model.PinNumber, null, new { @class = "text-danger" })
                                                    </div>
                                                </div>*@

                                      
                                                <div class="form-group">
                                                    <div class="col-sm-2"></div>
                                                    <div class="col-sm-10">
                                                        <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Check"  />
                                                        @*<div class="btn btn-default">
                                                            @Html.ActionLink("Back to Home", "Index", "Home", new { Area = "" }, null)
                                                        </div>*@
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                }
                            </div>
                        </div>


            </div>

            @*<div class="panel-footer ">


            </div>*@


        </div>

    </div>


  


</body>
</html>


