﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.PostUtmeScoresViewModel
@{
    ViewBag.Title = "PostUtmeScores";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">

        <div>
            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size: x-large">Post Utme Result</div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("PostUtmeScores", "PostUtmeResult", new { area = "Admin" }, FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ApplicationNo, "Application Number:", new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.ApplicationNo, new {@class = "form-control", @placeholder = "Enter Application Number", @required = "required"})
                                @Html.ValidationMessageFor(model => model.ApplicationNo, "", new {@class = "text-danger"})
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-success mr5" />
                            </div>
                        </div>
                    </div>
                }

                @if (Model != null && !(Model.FullName == null || Model.Department == null))
                {
                    <section class="row" style="margin-top: 50px;">
                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Exam Number</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Sex</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Application Number</th>
                                    <th scope="col">Post Utme Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">@Model.Id</th>
                                    <td>@Model.ExamNo</td>
                                    <td>@Model.FullName</td>
                                    <td>@Model.Sex"</td>
                                    <td>@Model.State</td>
                                    <td>@Model.Department</td>
                                    <td>@Model.ApplicationNo</td>
                                    <td>@Model.PostUtmeScore</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                }
                else
                {
                    <section class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                            <h2 class="text-center text-uppercase text-danger">No Results Found</h2>
                        </div>
                    </section>
                }
            </div>
        </div>
    </div>

</div>

