﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel

@{
    ViewBag.Title = "CorrectStudentDetail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
}
<div class="row">
    <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="font-size:x-large">Correct Student Detail</div>
        </div>
        <div class="panel-body">



            @using (Html.BeginForm("CorrectStudentDetail", "Support", new { area = "Admin" }, FormMethod.Post))
            {
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.studentModel.MatricNumber, "Matriculation Number", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.studentModel.MatricNumber, new { @class = "form-control", @placeholder = "Enter Matric Number", @required = "required" })
                            @Html.ValidationMessageFor(model => model.studentModel.MatricNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-success mr5" />
                        </div>
                    </div>
                </div>
            }



        </div>

    </div>

    @if (Model.studentModel == null) { return; }
    @if (Model.studentModel != null && Model.studentModel.LastName != null || Model.studentModel.FirstName != null || Model.studentModel.OtherName != null)
    {
        Html.HiddenFor(model => model.Level.Id);
        Html.HiddenFor(model => model.Department.Id);
        
        using (Html.BeginForm("SaveStudentDetail", "Support", new { area = "Admin" }, FormMethod.Post))
        {
    <div class="row" style="padding:15px;">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.studentModel.LastName, "Last Name", new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.studentModel.LastName, new { @class = "form-control", @placeholder = "Enter Last Name" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.studentModel.FirstName, "First Name", new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.studentModel.FirstName, new { @class = "form-control", @placeholder = "Enter First Name" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.studentModel.OtherName, "Other Name", new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.studentModel.OtherName, new { @class = "form-control", @placeholder = "Enter Other Name" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.studentModel.MobilePhone, "Phone Number", new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.studentModel.MobilePhone, new { @class = "form-control", @placeholder = "Enter Phone Number" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Level.Name, "Level", new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.Level.Id, (IEnumerable<SelectListItem>)ViewBag.Level, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Department.Name, "Department", new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.Department.Id, (IEnumerable<SelectListItem>)ViewBag.Department, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Programme.Name, "Programme", new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.Programme.Id, (IEnumerable<SelectListItem>)ViewBag.Programme, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Update" class="btn btn-success mr5" />
                </div>
            </div>
        </div>
    </div>
       
        }
        }
    </div>
</div>

