﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@{
    ViewBag.Title = "EditStudentPayment";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />

<div class="row col-md-8">

    <div class="well panel-body" style="align-self: center">

        <div class="row">
            <div class="col-md-12">
                <div class=" text-success" style="text-align: center">
                    <h1>
                        <b>Edit Student Payment</b>
                    </h1>
                </div>

                <section id="loginForm">
                    @using (Html.BeginForm("EditStudentPayment", "Support", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <h5 style="text-align: center">Please enter the <b>Confirmation Order Number</b> in the box below to Edit Student's Payment</h5>
                        <hr class="no-top-padding" />

                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PaymentEtranzact.ConfirmationNo, "Confirmation OrderNumber", new { @class = "col-md-4 control-label" })
                                    <div class="col-sm-4">
                                        @Html.TextBoxFor(model => model.PaymentEtranzact.ConfirmationNo, new { @class = "form-control", required = "required", placeholder = "Enter Confirmation Order Number" })
                                        @Html.ValidationMessageFor(model => model.PaymentEtranzact.ConfirmationNo, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <input type="submit" id="btnEdit" value="Next" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                @if (TempData["Message"] != null)
                                {
                                    @Html.Partial("_Message", TempData["Message"])
                                }
                            </div>
                        </div>
                    }
                </section>
            </div>
            @if (Model == null)
            {
                return;
            }

            @using (Html.BeginForm("SaveStudentPayment", "Support", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PaymentEtranzact.TransactionAmount, "Previous Amount", new { @class = "col-md-4 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.PaymentEtranzact.TransactionAmount, new { @class = "form-control", required = "required", id = "PrevAmount" })
                            @Html.ValidationMessageFor(model => model.PaymentEtranzact.TransactionAmount, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Amount, "New Amount", new { @class = "col-md-4 control-label" })
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", required = "required", placeholder = "Enter New Amount" })
                            @Html.ValidationMessageFor(model => model.Amount, null, new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <button id="Save" type="submit" class="btn btn-success">Save</button>
                        <input onclick="window.location = '/Admin/Support/EditStudentPayment'" value="Cancel" class="btn btn-danger" />
                    </div>
                </div>

            }


        </div>
    </div>
</div>