﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel

@{
    ViewBag.Title = "EditMatricNumber";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        @if (TempData["Message"] != null)
        {
            @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
        }
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw fa-pencil"></i>Edit Matric Number</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("SaveEditedMatricNumber", "Support", new { area = "Admin" }, FormMethod.Post))
                {
                    @Html.HiddenFor(model => model.Student.Id)
                    <div class="row">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Student.MatricNumber,"Matric Number",new { @class = "control-label " })
                        </div>
                    <div class="row col-md-8">
                        <div class="col-md-6">
                            <div class="form-group">
                                
                                @Html.TextBoxFor(model => model.Student.MatricNumber,new { @class = "form-control",@placeholder = "Enter New Matric Number",@required = "required" })
                                @Html.ValidationMessageFor(model => model.Student.MatricNumber,"The Matric Number is required",new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Save" class="btn btn-success mr5" />
                            </div>
                        </div>
                    </div>
                        </div>
                }
               
            </div>
        </div>

                    </div>
    <div class="col-md-1"></div>
                </div>            