﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel

@{
    ViewBag.Title = "EditReturningStudentDetail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-body">
                @if (TempData["Message"] != null)
                {
                    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                }
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div>
                               
                            </div>

                            @using (Html.BeginForm("EditReturningStudentDetail", "Support", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)


                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div style="font-size:x-large">Student Information</div>

                                        @if (Model.Student != null && Model.Student.Id > 0)
                                        {
                                            @Html.HiddenFor(model => model.Student.Id)
                                            @Html.HiddenFor(model=>model.Person.Id)
                                        }

                                     
                                    </div>

                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Person.LastName, new { @class = "control-label " })
                                                    @Html.TextBoxFor(model => model.Person.LastName, new { @class = "form-control exist" })
                                                    @Html.ValidationMessageFor(model => model.Person.LastName)
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Person.FirstName, new { @class = "control-label " })
                                                    @Html.TextBoxFor(model => model.Person.FirstName, new { @class = "form-control exist" })
                                                    @Html.ValidationMessageFor(model => model.Person.FirstName)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Person.OtherName, new { @class = "control-label " })
                                                    @Html.TextBoxFor(model => model.Person.OtherName, new { @class = "form-control exist" })
                                                    @Html.ValidationMessageFor(model => model.Person.OtherName)
                                                </div>
                                            </div>
                                        </div>
                                       
                                        </div>
                                </div>

                            

                                <div class="form-actions no-color">
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <button class="btn btn-white btn-lg" type="submit" name="submit" id="submit">Next</button>
                                        </div>

                                        <div class="form-group">
                                            <div id="busy" style="display:none">
                                                <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                                <span>Processing ...</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            }
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


