﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-12">
            <div>
                <p class="text-center"><h3>GENERATE MATRIC NUMBER</h3></p>
            </div>

            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }

            @using (Html.BeginForm("GenerateMatricNumber", "Support", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="panel panel-default ">
                    <div class="panel-body ">
                        <div class="col-md-12">
                            <div class="form-group">
                                <h4>Enter Application Form Number </h4>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ApplicationForm.Number, new { @class = "col-sm-2 control-label " })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(model => model.ApplicationForm.Number, new { @class = "form-control", @placeholder = "Enter Application Form Number" })
                                @Html.ValidationMessageFor(model => model.ApplicationForm.Number, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Search" />
                                @*<div class="btn btn-default">
                                    @Html.ActionLink("Back to Home", "Index", "Home", new { Area = "" }, null)
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>

            }

            @if (Model.Person == null || Model.StudentLevel == null) { return; }

            @using (Html.BeginForm("SaveStudentMatricNumber", "Support", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.HiddenFor(model => model.Person.Id)

                @Html.HiddenFor(model => model.AppliedCourse.Option.Id)
                @Html.HiddenFor(model => model.AppliedCourse.ApplicationForm.Id)
                <div class="panel panel-default ">
                    <div class="panel-body ">
                        <div class="col-md-12">
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Surname</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Person.LastName, new { @class = "form-control", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Person.LastName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Person.FirstName, new { @class = "form-control", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Person.FirstName)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Other Names</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Person.OtherName, new { @class = "form-control", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Person.OtherName)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Phone Number</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.Person.MobilePhone, new { @class = "form-control", disabled = true })
                                    @Html.ValidationMessageFor(model => model.Person.MobilePhone)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Programme</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.StudentLevel.Programme.Name, new { @class = "form-control", disabled = true })
                                    @Html.ValidationMessageFor(model => model.StudentLevel.Programme.Id)
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Department</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.StudentLevel.Department.Name, new { @class = "form-control", disabled = true })
                                    @Html.ValidationMessageFor(model => model.StudentLevel.Department.Id)
                                </div>
                            </div>
                      
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Generate" />
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>

</div>