﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@using GridMvc.Html
@{
   
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-1.11.1.min.js"></script>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12">
            <div>
                <p class="text-center"><h3>REMOVE O-LEVEL RESULT DETAILS</h3></p>
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>@TempData["Message"]</strong>
                    </div>
                }
                
                @using (Html.BeginForm("OlevelResultDuplicate", "Support/OlevelResultDuplicate", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)



                    <div class="panel panel-default ">
                        <div class="panel-body ">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h4>Enter Application Form No</h4>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ApplicationFormNo, new { @class = "col-sm-2 control-label " })
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(model => model.ApplicationFormNo, new { @class = "form-control", @placeholder = "Enter Application Number" })
                                    @Html.ValidationMessageFor(model => model.ApplicationFormNo, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <input class="btn btn-success mr5" type="submit" name="submit" id="submit" value="Search" />
                                    <div class="btn btn-default">
                                        @Html.ActionLink("Back to Home", "Index", "Home", new { Area = "" }, null)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

                @if (Model == null || Model.ApplicationForm == null || Model.OlevelResult == null) { return; }
                @*<table class="table table-striped">
                    <thead class="">

                    </thead>
                </table>*@
                <div class="panel panel-default">
                    <div class="panel-body">
                        @Html.Grid(Model.OlevelResult).Columns(columns =>
{
    columns.Add()
        .Encoded(false)
        .Sanitized(false)
        .RenderValueAs(d =>
            @<div style="width:41px">
              

                <a href="@Url.Action("DeleteResultDuplicate", new { id = d.Id })" title="Delete">
                    <img src="@Url.Content("~/Content/Images/delete_icon.png")" alt="Delete" />
                </a>
            </div>);

    columns.Add(o => o.Person.Name).Titled("Name");
    columns.Add(f => f.ExamNumber).Titled("Exam Number");
    columns.Add(f => f.ExamYear).Titled("Amount").Format("{0:d}");
    columns.Add(f => f.Sitting.Name).Titled("Sitting");
    columns.Add(f => f.Type.Name).Titled("Exam Type");

}).WithPaging(15)
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>