﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@{
    ViewBag.Title = "Update Payment Matric Number";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div style="font-size: x-large">Update Matric Number Using Phone Number</div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("UpdateMatricNumberFromMobileNumber", "Support", new { area = "Admin" }, FormMethod.Post))
                {
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PhoneNumber, "Mobile Number", new { @class = "control-label col-md-2" })
                            <div class="col-md-6">
                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "Enter Students Mobile Number ", @required = "required" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Search" class="btn btn-success mr5" />
                            </div>
                        </div>
                    </div>
                }
            </div>



            @if (Model == null || Model.StudentLevelList == null)
            {
                return;
            }
            @if (Model != null && Model.StudentLevelList.Count > 0)
            {
                using (Html.BeginForm("SaveUpdatedMatricNumber", "Support", new { area = "Admin" }, FormMethod.Post))
                {


                    <table class="table table-bordered table-striped" id="MyTable">
                        <thead>
                        <tr>
                            <th>SN</th>
                            <th>NAME</th>
                            <th>MATRIC NUMBER</th>
                            <th>PROGRAMME</th>
                            <th>DEPARTMENT</th>
                            <th>LEVEL</th>
                        </tr>
                        </thead>

                        @for (int i = 0; i < Model.StudentLevelList.Count; i++)
                        {
                            int count = i + 1;
                            @Html.HiddenFor(model => model.StudentLevelList[i].Student.Id)
                            <tbody>
                            <tr>
                                <td>@count</td>
                                <td>@Model.StudentLevelList[i].Student.FullName</td>
                                <td>@Html.TextBoxFor(model => model.StudentLevelList[i].Student.MatricNumber)</td>
                                <td>@Model.StudentLevelList[i].Programme.Name</td>
                                <td>@Model.StudentLevelList[i].Department.Name</td>
                                <td>@Model.StudentLevelList[i].Level.Name</td>
                            </tr>
                            </tbody>
                        }
                    </table>


                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success mr5" />
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
