﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.SupportViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
    <link href="~/Content/DataTables-1.10.15/media/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.15/extensions/Buttons/css/buttons.dataTables.css" rel="stylesheet" />
    <script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/dataTables.buttons.js"></script>
    <script src="~/Content/DataTables-1.10.15/extensions/Buttons/js/buttons.colVis.js"></script>
    <script src="~/Content/DataTables-1.10.15/extensions/Responsive/js/dataTables.responsive.js"></script>
    <script src="~/Content/DataTables-1.10.15/buttons.flash.min.js"></script>
    <script src="~/Content/DataTables-1.10.15/buttons.html5.min.js"></script>
    <script src="~/Content/DataTables-1.10.15/buttons.print.min.js"></script>
    <script src="~/Content/DataTables-1.10.15/jszip.min.js"></script>
    <script src="~/Content/DataTables-1.10.15/pdfmake.min.js"></script>
    <script src="~/Content/DataTables-1.10.15/vfs_fonts.js"></script>
    <script type="text/javascript">

        //var jqueryVersion = $.noConflict(true);
        $(document).ready(function () {

            $('.Load').hide();
            $('#createModal').modal('hide');
            $('#editeModal').modal('hide');

            $("#myTable").DataTable({
                dom: 'Bfrtip',
                ordering: true,
                buttons: [
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        }


                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':visible'
                        }

                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }


                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':visible'
                        }


                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        }


                    }, , 'colvis'
                ]
            });
            $('#btnCreate').on('click', function () {
                $('.Load').show();
            });
            $('#btnEdit').on('click', function () {
                $('.Load').show();
            });

            $('#addNewPayment').on('click', function () {
                $('#createModal').modal('show');
            });
        });

        function editManualPayment(model) {

            var buttonClick = "#" + model.id;
            var Id = parseInt($(buttonClick).data('id'));
            var formNumber = $(buttonClick).data('matrino');
            var shortFallAmount = $(buttonClick).data('amount');
            var feeType = $(buttonClick).data('feeType');
            var session = $(buttonClick).data('session');
            var paymentMode = $(buttonClick).data('paymentmode');
            
            
            
            $('#@Html.IdFor(m => m.ManualPayment.Payment.Id)').val(Id);
            $('#applicationFormId').val(formNumber);
            $('#amount').val(shortFallAmount);
            $('#feetTypeId').val(feeType);
            $('#sessionId').val(session);
            $('#paymentModeId').val(paymentMode);
            $('#editeModal').modal('show');
        }
    </script>
}


<div class="alert alert-primary fade in nomargin">
    <h3>MANUAL PAYMENT LOG</h3>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-md-12">

            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-striped" id="myTable">
                <thead>
                    <tr>

                        <th>SN</th>
                        <th>Name</th>
                        <th>Invoice Number</th>
                        <th>FeeType</th>
                        <th>Payment Mode</th>
                        <th>Session</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="color: black;">
                    @for (var itemIndex = 0; itemIndex < Model.ManualPayments.Count; itemIndex++)
                    {
                        var manualPaymentId = Model.ManualPayments[itemIndex].Payment.Id;
                    <tr>
                        @{
                            int N = 0;

                        }
                        <td>@{ N = itemIndex + 1; } @N</td>
                        <td>@Model.ManualPayments[itemIndex].Payment.Person.FullName</td>
                        <td>@Model.ManualPayments[itemIndex].Payment.InvoiceNumber</td>
                        <td>@Model.ManualPayments[itemIndex].Payment.FeeType.Name</td>
                        <td>@Model.ManualPayments[itemIndex].Payment.PaymentMode.Name</td>


                        <td>@Model.ManualPayments[itemIndex].Payment.Session.Name</td>
                        <td>@Model.ManualPayments[itemIndex].Amount</td>
                        <td><button id="@N" type="button" data-matrino="@Model.ManualPayments[itemIndex].Payment.InvoiceNumber" data-session="@Model.ManualPayments[itemIndex].Payment.Session.Id" data-paymentmode="@Model.ManualPayments[itemIndex].Payment.PaymentMode.Id" data-feetype="@Model.ManualPayments[itemIndex].Payment.FeeType.Id" data-id="@Model.ManualPayments[itemIndex].Payment.Id" data-amount="@Model.ManualPayments[itemIndex].Amount" onclick="editManualPayment(this)" class="btn btn-success">Edit</button></td>

                    </tr>
                    }
                </tbody>
            </table>
            <button id="addNewPayment" class="btn btn-success"><i class="fa fa-plus"> Add New</i></button>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" id="createModal">
    @using (Html.BeginForm("SaveManualPayment", "Support", FormMethod.Post))
    {

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                    <h4 class="modal-title">Create Manual Payment</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ManualPayment.Payment.InvoiceNumber, "Invoice Number:", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ManualPayment.Payment.InvoiceNumber, new { @class = "form-control", id = "idEdit", require = true })
                        @Html.ValidationMessageFor(model => model.ManualPayment.Payment.InvoiceNumber)
                    </div>
                   
                    <div class="form-group">
                        @Html.LabelFor(model => model.ManualPayment.Amount, "Amount:", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ManualPayment.Amount, new { @class = "form-control", require = true })
                        @Html.ValidationMessageFor(model => model.ManualPayment.Amount)
                    </div>

                </div>

                <div class="modal-footer form-group">
                    <span style="display: none" class="Load"><img src="~/Content/Images/bx_loader.gif" /></span>
                    <button type="submit" id="btnCreate" class="btn btn-success">Create</button>
                </div>
            </div>

        </div>

    }
</div>

<div class="modal fade" role="dialog" id="editeModal">
    @using (Html.BeginForm("EditManualPayment", "Support", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ManualPayment.Payment.Id)
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" style="float:right">&times;</button>
                    <h4 class="modal-title">Edit Manual Payment</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ManualPayment.Payment.InvoiceNumber, "Invoice No Number:", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ManualPayment.Payment.InvoiceNumber, new { @class = "form-control", require = true, Id = "applicationFormId" })
                        @Html.ValidationMessageFor(model => model.ManualPayment.Payment.InvoiceNumber)
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(model => model.ManualPayment.Amount, "Amount:", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.ManualPayment.Amount, new { @class = "form-control", Id = "amount", require = true })
                        @Html.ValidationMessageFor(model => model.ManualPayment.Amount)
                    </div>

                </div>
                <div class="modal-footer form-group">
                    <span style="display: none" class="Load"><img src="~/Content/Images/bx_loader.gif" /></span>
                    <button type="submit" id="btnEdit" class="btn btn-success">Save</button>
                </div>

            </div>

        </div>
    }
</div>
