﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.StaffCourseAllocationViewModel
@{
    ViewBag.Title = "UploadResultSheet";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@if (TempData["Message"] != null)
{
    @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
}




@using (Html.BeginForm("UploadResultSheet", "StaffCourseAllocation", new { area = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-fw fa-upload"></i>Upload Result Sheet</h3>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning alert-dismissable"><h4>Endeavour to Cross Check Fields and Verify Excel Data</h4></div>
            <br />
            @if (Model == null || Model.ResultSheetFormats == null)
            {
                return;
            }
            @if (Model != null && Model.ResultSheetFormats.Count > 0)
            {
                <table class="table table-responsive table-striped">
                    <tr>
                        <th>S/N</th>
                        <th>FULLNAME</th>
                        <th>MATRIC NUMBER</th>
                        <th>CA</th>
                        <th>EXAM</th>

                    </tr>
                    @for (int i = 0; i < Model.ResultSheetFormats.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.ResultSheetFormats[i].SN
                            </td>
                            <td>
                                @Model.ResultSheetFormats[i].Fullname
                            </td>
                            <td>
                                @Model.ResultSheetFormats[i].MatricNo
                            </td>
                            <td>@Model.ResultSheetFormats[i].CA</td>
                            <td>@Model.ResultSheetFormats[i].Exam</td>

                        </tr>
                    }
                </table>
                <br />
                <div class="form-group" style="text-align:center">

                    <div class="col-sm-10 pull-left">
                        @*<input class="btn btn-success mr5 " type="submit" name="submit" id="submit" value="Save Upload" />*@
                        @Html.ActionLink("Save Upload", "ExamOfficerSaveUploadedResultSheet", new { controller = "StaffCourseAllocation", area = "Admin" }, new { @class = "btn btn-success mr5" })
                    </div>
                </div>
            }
        </div>

    </div>

}


