﻿@model Abundance_Nk.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Backup Payment";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal custom-text-black">
     @if (TempData["PaymentData"] != null)
     {
         <h5>@TempData["PaymentData"]</h5>
     }
    
    <h4>Backup Payments</h4>
    <hr />
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Year, (IEnumerable<SelectListItem>)ViewBag.YearList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Year)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Month, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Month, (IEnumerable<SelectListItem>)ViewBag.MonthList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Month)
        </div>
    </div>

    <button class="btn btn-info" type="submit">Submit</button>

</div>
}

