﻿@using Abundance_Nk.Model.Model
@{
    ViewBag.Title = "Admin Home";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    User user = (User)TempData.Peek("User");
    
    
}

<br />

<div class="row"> 

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Welcome to the Admin Home, @User.Identity.Name.
                @*<p>
                    @user.Id, @user.Username
                </p>*@
            </div>
        </div>
    </div>

    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
