﻿@model Abundance_Nk.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col-md-2">
        
    </div>

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ubunt text-center">@ViewBag.Title</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { Area = "Security", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h5 class="ubunt text-center">Use a local account to log in.</h5>
                        <hr class="no-top-padding" />

                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label ubunt" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.UserName)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-2"></div>
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label ubunt" })
                                    <div class="col-md-8">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                </div>
                                @*<div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-10">
                                        <input type="submit" value="Log In" class="btn btn-primary ubunt" />
                                    </div>
                                </div>
                                @*<p>
                                        @Html.ActionLink("Register", "Register") if you don't have a local account.
                                    </p>*@

                            </div>
                        </div>
                        
                         <div class="row">
                                    <div class="col-md-12 ubunt">
                                        @if (TempData["Message"] != null)
                                        {
                                            @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                                        }
                                    </div>
                                </div>
                    }
                </section>
            </div>
        </div>
    </div>

            @*<div class="col-md-4">
                    <section id="socialLoginForm">
                        @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>*@
        </div>



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
