﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.ClearanceViewModel

@*@model IEnumerable<Abundance_Nk.Model.Model.ApplicationFormView>*@

@if (Model != null && Model.Applicants.Count > 0)
{
    <div>
        <div class="panel panel-default ">
            <div class="panel-body ">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-right record-count-label">
                            <span class="caption">Total Applicant Selected</span><span id="spTotalSelected" class="badge">0</span>
                            <span class="caption">Total Applicants</span><span class="badge">@Model.Applicants.Count</span>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 ">
                        <table class="table table-condensed grid-wrap table-responsive table-head-alt mb30">
                            <thead>
                                <tr class="well" style="height:38px; vertical-align:middle">
                                    <th>
                                        @Html.CheckBox("selectAll", new { @class = "ckbox ckbox-default" })
                                    </th>
                                    <th>
                                        Form Number
                                    </th>
                                    <th>
                                        Exam No
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Course of Study
                                    </th>
                                    <th>
                                        Reject Reason
                                    </th>
                                </tr>
                            </thead>


                            @for (int i = 0; i < Model.Applicants.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @*@Html.HiddenFor(modelItem => Model.Applicants[i].Selected)*@
                                        @Html.CheckBoxFor(modelItem => Model.Applicants[i].IsSelected, new { @class = "ckb", id = Model.Applicants[i].FormId })
                                    </td>
                                    <td>
                                        @Html.HiddenFor(modelItem => Model.Applicants[i].FormId)
                                        @Html.HiddenFor(modelItem => Model.Applicants[i].FormNumber)
                                        <ul class="nav navbar-nav2 ">
                                            <li class="dropdown">
                                                <a style="padding:1px; " class="dropdown-toggle" data-toggle="dropdown" href="#">@Html.DisplayFor(modelItem => Model.Applicants[i].FormNumber)</a>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                    <li>@Html.ActionLink("Application Form", "ApplicationForm", "Credential", new { Area = "Common", fid = Model.Applicants[i].FormId }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>

                                                    @if (Model.Applicants[i].JambDetail != null && !string.IsNullOrWhiteSpace(Model.Applicants[i].JambDetail.JambRegistrationNumber))
                                                    {
                                                        <li>@Html.ActionLink("PUTME Result Slip", "PostUtmeResult", "Credential", new { Area = "Common", jn = Model.Applicants[i].JambDetail.JambRegistrationNumber }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>
                                                    }

                                                    <li class="divider"></li>

                                                    <li>@Html.ActionLink("Admission Letter", "AdmissionLetter", "Credential", new { Area = "Common", fid = Model.Applicants[i].FormId }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>

                                                    <li class="divider"></li>

                                                    <li>@Html.ActionLink("Acceptance Receipt", "Receipt", "Credential", new { Area = "Common", ftid = 2, sid = Model.Applicants[i].SessionId, pid = Model.Applicants[i].PersonId }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>
                                                    <li>@Html.ActionLink("School Fees Receipt", "Receipt", "Credential", new { Area = "Common", ftid = 3, sid = Model.Applicants[i].SessionId, pid = Model.Applicants[i].PersonId }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>

                                                    <li class="divider"></li>

                                                    <li>@Html.ActionLink("Student Form", "StudentForm", "Credential", new { Area = "Common", fid = Model.Applicants[i].FormId }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </td>
                                    <td>
                                        @Html.HiddenFor(modelItem => Model.Applicants[i].ExamNumber)
                                        @Html.DisplayFor(modelItem => Model.Applicants[i].ExamNumber)
                                    </                                                                                           td>
                                    <td>
                                        @Html.HiddenFor(modelItem => Model.Applicants[i].Name)
                                        @Html.DisplayFor(modelItem => Model.Applicants[i].Name)
                                    </td>
                                    <td>
                                        @Html.HiddenFor(modelItem => Model.Applicants[i].DepartmentName)
                                        @Html.DisplayFor(modelItem => Model.Applicants[i].DepartmentName)
                                    </td>
                                    <td>
                                        @Html.HiddenFor(modelItem => Model.Applicants[i].RejectReason)
                                        @Html.DisplayFor(modelItem => Model.Applicants[i].RejectReason)
                                    </td>

                                    @Html.HiddenFor(modelItem => Model.Applicants[i].PersonId)
                                    @Html.HiddenFor(modelItem => Model.Applicants[i].FacultyId)
                                    @Html.HiddenFor(modelItem => Model.Applicants[i].FacultyName)
                                    @Html.HiddenFor(modelItem => Model.Applicants[i].DepartmentId)
                                    @Html.HiddenFor(modelItem => Model.Applicants[i].LevelId)
                                    @Html.HiddenFor(modelItem => Model.Applicants[i].LevelName)
                                    @Html.HiddenFor(modelItem => Model.Applicants[i].SessionId)
                                    
                                </tr>
                            }


                            @*@foreach (var item in Model)
                                {
                                    <tr>
                                        <td >
                                            @Html.CheckBox(" ", false, new { @class = "ckb", id = item.FormId })
                                        </td>
                                        <td >
                                            @Html.HiddenFor(modelItem => item.FormId)
                                            @Html.HiddenFor(modelItem => item.FormNumber)
                                            <ul class="nav navbar-nav2 ">
                                                <li class="dropdown">
                                                    <a style="padding:1px; " class="dropdown-toggle" data-toggle="dropdown" href="#">@Html.DisplayFor(modelItem => item.FormNumber)</a>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <li>@Html.ActionLink("Application Form", "ApplicationForm", "Credential", new { Area = "Common", fid = item.FormId }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>

                                                        @if (item.JambDetail != null && !string.IsNullOrWhiteSpace(item.JambDetail.JambRegistrationNumber))
                                                        {
                                                            <li>@Html.ActionLink("PUTME Result Slip", "PostUtmeResult", "Credential", new { Area = "Common", jn = item.JambDetail.JambRegistrationNumber }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>
                                                        }

                                                        <li class="divider"></li>

                                                        <li>@Html.ActionLink("Admission Letter", "AdmissionLetter", "Credential", new { Area = "Common", fid = item.FormId }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>

                                                        <li class="divider"></li>

                                                        <li>@Html.ActionLink("Acceptance Receipt", "Receipt", "Credential", new { Area = "Common", ftid = 2, sid = item.SessionId, pid = item.PersonId }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>
                                                        <li>@Html.ActionLink("School Fees Receipt", "Receipt", "Credential", new { Area = "Common", ftid = 3, sid = item.SessionId, pid = item.PersonId }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>

                                                        <li class="divider"></li>

                                                        <li>@Html.ActionLink("Student Form", "StudentForm", "Credential", new { Area = "Common", fid = item.FormId }, new { target = "_blank", style = "line-height:5px; font-size:10pt; margin-bottom:5px" })</li>
                                                    </ul>
                                                </li>
                                            </ul>

                                        </td>
                                        <td >
                                            @Html.HiddenFor(modelItem => item.ExamNumber)
                                            @Html.DisplayFor(modelItem => item.ExamNumber)
                                        </td>
                                        <td >
                                            @Html.HiddenFor(modelItem => item.Name)
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td >
                                            @Html.HiddenFor(modelItem => item.DepartmentName)
                                            @Html.DisplayFor(modelItem => item.DepartmentName)
                                        </td>
                                        <td >
                                            @Html.HiddenFor(modelItem => item.RejectReason)
                                            @Html.DisplayFor(modelItem => item.RejectReason)
                                        </td>
                                    </tr>
                                }*@
                        </table>

                    </div>
                </div>




                

                <div id="button" class="row">
                    <div class="col-md-12">
                        <br />

                        <div class="form-inline ">
                            <div class="form-group">
                                <button class="btn-white btn-lg mr5" type="button" name="btnClearApplicant" id="btnClearApplicant" value="ClearApplicant">Clear Applicant</button>
                            </div>

                            <div class="form-group">
                                <div id="clearing" style="display:none">
                                    <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                    <span>Loading ...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                @*<div id="button" class="row">
                    <div class="col-md-12">
                        <br />
                        <button class="btn-white btn-lg mr5" type="button" name="btnClearApplicant" id="btnClearApplicant" value="ClearApplicant">Clear Applicant</button>

                    </div>
                </div>*@







            </div>
        </div>

        <div id="button" class="row">
            <div class="col-md-12">
                <b>
                    @if (TempData["Message"] != null)
                    {
                        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                    }
                </b>
            </div>
        </div>

    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">

            @if (TempData["Message"] != null)
            {
                @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
            }
        </div>
    </div>
}
