﻿@model Abundance_Nk.Web.Areas.Admin.ViewModels.ClearanceViewModel
@using Abundance_Nk.Model.Model

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    User user = (User)TempData.Peek("User");
}

<link href="~/Content/misc.css" rel="stylesheet" />

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/jquery.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#button").hide();

        BindSelectAll();
        BindSelectOne();

        $("#btnGo").click(function () {
            var applicationNo = $("#ApplicationNo").val();
            if (applicationNo == "" || applicationNo == undefined) {
                alert("No Application Number entered! Please enter Application Number to search.");
                return;
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("FindBy", "Clearance")",
                traditional: true,
                data: { fno: applicationNo },
                beforeSend: function () {
                    $("#loading").show();
                },
                complete: function () {
                    $("#loading").hide();
                },
                success: SuccessFunc,
                error: ErrorFunc,
            });

            function SuccessFunc(data) {
                $("#data").html(data);
                //$("#buttons").show();
                BindSelectAll();
                BindSelectOne();
            }

            function ErrorFunc() {
                alert("Operation failed!");
            }
        });

        $("#btnTop50").click(function () {
            $("#ApplicationNo").val("");

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetTop50", "Clearance")",
                traditional: true,
                beforeSend: function () {
                    $("#loading").show();
                },
                complete: function () {
                    $("#loading").hide();
                },
                success: SuccessFunc,
                error: ErrorFunc,
            });

            function SuccessFunc(data) {
                $("#data").html(data);
                //$("#buttons").show();
                BindSelectAll();
                BindSelectOne();
            }

            function ErrorFunc() {
                alert("Operation failed!");
            }
        });

        $("#btnClearApplicant").click(function () {
            var form = $("#frmClearance").serialize();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Applicant", "Clearance")",
                traditional: true,
                data: form,
                beforeSend: function () {
                    $("#clearing").show();
                },
                complete: function () {
                    $("#clearing").hide();
                },
                success: SuccessFunc,
                error: ErrorFunc,
            })

            function SuccessFunc(data, status) {
                $("#data").html(data);
                BindSelectAll();
                BindSelectOne();
            }

            function ErrorFunc() {
                alert("Operation failed!");
            }
        });

        function BindSelectOne() {
            $(".ckb").click(function (event) {

                try {
                    var totalSelected = $(".ckb").filter(":checked").length;
                    var totalCheckBoxCount = $(".ckb").length;

                    //alert(totalSelected);
                    $("#spTotalSelected").text(totalSelected);

                    if (!this.checked) {
                        $("#selectAll").removeAttr('checked');

                        if (totalSelected == 0) {
                            $("#button").hide();
                        }

                        //var count = $("[type='checkbox']:checked").length;
                    }
                    else {
                        if (totalSelected == totalCheckBoxCount) {
                            $("#selectAll").prop('checked', 'checked');
                        }

                        $("#button").show();
                    }

                    //var totalUnit = CalculateSelectedCourseUnit(chkBoxClass);
                    //courseUnitLabel.html(totalUnit);

                    //UpdateButtonState();
                }
                catch (e) {
                    alert(e);
                }
            });
        }

        function BindSelectAll() {

            $("#selectAll").click(function (event) {
                if (this.checked) {
                    $(".ckb").each(function () {
                        this.checked = true;

                        $("#button").show();

                        //if (rejected) {
                        //    $('#btnAccept').prop('disabled', false);
                        //    $('#btnReject').prop('disabled', true);
                        //}
                        //else {
                        //    $('#btnReject').prop('disabled', false);
                        //    $('#btnAccept').prop('disabled', true);
                        //}
                    });
                }
                else {
                    $(".ckb").each(function () {
                        this.checked = false;
                        $("#button").hide();

                        //$('#btnAccept').prop('disabled', true);
                        //$('#btnReject').prop('disabled', true);
                    });
                }

                var totalSelected = $(".ckb").filter(":checked").length;
                $("#spTotalSelected").text(totalSelected);
            });
        }

        $('.mnu').click(function (e) {
            e.preventDefault();
            $('#vwViewDetails').submit();
        })

    });



    </script>
}

<h3>
    Clear Applicant @*in School of @ViewBag.Faculty*@
</h3>

    <div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3>This interface enables Admission Officer to Clear Applicant</h3>
                <p>
                    Kindly enter Applicant's Application Number in the field provided below and Click the Search button. The system will search and display
                    the Applicant's detail if he/she has completed the Admission process.
                </p>
            </div>
        </div>
    </div>
</div>
<p>
    <div style="color:red">
        @user.Id, @user.Username
    </div>
</p>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Applicant", "Clearance", new { Area = "Admin" }, FormMethod.Post, new { id = "frmClearance" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
            
                <div class="shadow">
                    <div class="form-inline ">
                        <div class="form-group">
                            <b>School of @ViewBag.Faculty</b>
                        </div>

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.ApplicationNo, new { @class = "form-control", @placeholder = "Enter Application Number" })
                            <button class="btn btn-default btn-metro mr5" type="button" name="btnGo" id="btnGo" value="Go">Go</button>
                            <button class="btn btn-default btn-metro mr5" type="button" name="btnTop50" id="btnTop50" value="Top50">Show Top 50</button>
                        </div>

                        <div class="form-group">
                            <div id="loading" style="display:none">
                                <img src="@Url.Content("~/Content/Images/bx_loader.gif")" />
                                <span>Loading ...</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="data">
                    @if (Model.Applicants != null && Model.Applicants.Count > 0)
                    {
                        @Html.Partial("_ApplicantsGrid", Model)
                    }
                </div>


            }
        </div>




</div>

<br />
<br />
<br />
<br />
<br />
<br />