﻿@model Abundance_Nk.Web.Areas.Student.ViewModels.RegistrationLogonViewModel
@{
    ViewBag.Title = "Logon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 panel-body">

            <div class="row">
                <div class="col-md-12">
                    <div class=" text-success">
                        <h1><b>Print Receipt</b></h1>
                    </div>


                    <section id="loginForm">
                        @using (Html.BeginForm("Logon", "Registration", new { Area = "Student" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            <h5>Please enter your <b>Confirmation Order Number</b> in the input box below to complete your session registration</h5>
                            <hr class="no-top-padding" />

                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <div class="form-group">
                                        @Html.Label("Confirmation Order Number", new { @class = "col-md-4 control-label" })
                                        <div class="col-md-8">
                                            @Html.TextBoxFor(m => m.ConfirmationOrderNumber, new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(m => m.ConfirmationOrderNumber, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        @Html.LabelFor(m => m.ScratchCard.Pin, new { @class = "col-md-3 control-label" })
                                        <div class="col-md-9">
                                            @Html.PasswordFor(m => m.ScratchCard.Pin, new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(m => m.ScratchCard.Pin, null, new { @class = "text-danger" })
                                        </div>
                                    </div>*@

                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-8">
                                            <input type="submit" value="Next" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    @if (TempData["Message"] != null)
                                    {
                                        @Html.Partial("_Message", (Abundance_Nk.Model.Model.Message)TempData["Message"])
                                    }
                                </div>
                            </div>
                        }
                    </section>







                    @*<table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Qty</th>
                                <th class="text-center">Rate (N)</th>
                                <th class="text-center">Total (N)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-md-9"><em></em></td>
                                <td class="col-md-1" style="text-align: center"> 1 </td>
                                <td class="col-md-1 text-center"></td>
                                <td class="col-md-1 text-center"></td>
                            </tr>

                            <tr>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td class="text-right">
                                    <p>
                                        <strong>Subtotal:&nbsp;</strong>
                                    </p>
                                    <p>
                                        <strong>Tax:&nbsp;</strong>
                                    </p>
                                </td>
                                <td class="text-center">
                                    <p>
                                        <strong></strong>
                                    </p>
                                    <p>
                                        <strong></strong>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td> &nbsp; </td>
                                <td> &nbsp; </td>
                                <td class="text-right"><h4><strong>Total:&nbsp;</strong></h4></td>
                                <td class="text-center text-danger"><h4><strong></strong></h4></td>
                            </tr>
                        </tbody>
                    </table>*@

                </div>
            </div>
        </div>
    </div>




