﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ApplicationSummary.aspx.cs" Inherits="Abundance_Nk.Web.Reports.Presenter.ApplicationSummary" %>

<%@ Register assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" namespace="Microsoft.Reporting.WebForms" tagprefix="rsweb" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <script src="../../Scripts/bootstrap.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server" AsyncPostBackTimeOut="60000">
         </asp:ScriptManager>

        <div>
         <asp:UpdatePanel ID="UpdatePanel1" runat="server">
             <ContentTemplate>
                    <p>
                        <asp:Label ID="lblMessage" runat="server" ></asp:Label>

                   </p>
        
            <div class="contentpanel">
                        
                        <div class="panel panel-default">
                           
                            <div class="panel-body">
                                        <div class="col-md-12"class="panel-body" style="padding-left: 40px;">
                                 <div class="form-group">
                                    <label  title="Sort Type:">REPORT TYPE: </label>&nbsp;
                                </div>
                                    
                         <div class="row">
                                <div class="form-group col-md-offset-1" >
                                    <asp:RadioButtonList ID="rblSortOption" runat="Server" RepeatDirection="Horizontal" CssClass="radiobuttonlist2" AutoPostBack="true" >
                                        <asp:ListItem Value="1">&nbsp;Application Form &nbsp;&nbsp;</asp:ListItem>
                                        <asp:ListItem Value="10">&nbsp;Supplementary Term &nbsp;&nbsp;</asp:ListItem>
                                    </asp:RadioButtonList>
                                </div>
                             </div>
                                </div>
                           
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label class="sr-only" for="ddlSession">Email address</label>
                                        <asp:DropDownList ID="ddlSession" cssclass="form-control" runat="server"></asp:DropDownList>
                                    </div><!-- form-group -->
                                    

<%--                                    <asp:Button ID="btnDisplayReport" cssclass="btn btn-danger mr5" runat="server" Text="Display Report" OnClick="btnDisplayReport_Click" />--%>

                                     <div class="form-group">
                            <asp:Button ID="btnDisplayReport" cssclass="btn btn-success mr5" runat="server" Text="Display Report" OnClick="btnDisplayReport_Click" />
                             </div>
                             <div class="form-group">
                                 <asp:UpdateProgress ID="UpdateProgress1" AssociatedUpdatePanelID="UpdatePanel1" runat="server">
                                <ProgressTemplate>
                                    <asp:Image ID="Image1" runat="server" ImageUrl="~/Content/Images/bx_loader.gif" /> Loading...
                                </ProgressTemplate>
                            </asp:UpdateProgress>
                                 </div>
                                    
                                </div>
                            </div><!-- panel-body -->
                        </div><!-- panel -->

        </div>
                
           <rsweb:ReportViewer ID="rv" runat="server"
             Font-Names="Verdana" Font-Size="8pt" 
            ShowBackButton="False" ShowCredentialPrompts="False" 
            ShowDocumentMapButton="False" ShowFindControls="False" 
            ShowPageNavigationControls="False" ShowParameterPrompts="False" 
            ShowPromptAreaButton="False" ShowPrintButton="true" Height="800px" Width="100%" BackColor="White" BorderStyle="None" >
           </rsweb:ReportViewer>
     </ContentTemplate>
         </asp:UpdatePanel>
    </div>
    </form>
</body>
</html>
