﻿@{
    ViewBag.Title = "Exam Raw Score Sheet";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@*<script src="~/Scripts/jquery-2.1.3.js"></script>

    <script src="~/Scripts/responsive-tabs.js"></script>*@

<script type="text/javascript">
               function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
</script>

<div style="color:black">
    <h3>
        Post Utme Report
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b>Post Utme Report</b> Shows the post raw score sheet.
    </p>
</div>

<iframe src="@Url.Content("~/Reports/Presenter/PostUtmeReport.aspx?sessionId=" )" style="width:100%; " frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'></iframe>

<br />



