﻿@{
    ViewBag.Title = "Exam Raw Score Sheet";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


@*<script src="~/Scripts/jquery-2.1.3.js"></script>

<script src="~/Scripts/responsive-tabs.js"></script>*@

<script type="text/javascript">
               function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
        }
</script>

<div style="color:black">
    <h3>
        Exam Raw Score Sheet Report
    </h3>
</div>

<div class="alert alert-dismissible alert-success">
    <p>
        <b>Exam Raw Score Sheet Report</b> Shows the exam raw score sheet.
    </p>
</div>

<iframe src="@Url.Content("~/Reports/Presenter/ExamRawScoreSheetAlt.aspx?sessionId=" + ViewBag.sessionId + "&levelId=" + ViewBag.levelId + "&progId=" + ViewBag.progId + "&deptId=" + ViewBag.deptId + "&semesterId=" + ViewBag.semesterId + "&courseId=" + ViewBag.courseId + "&courseModeId=" + ViewBag.courseModeId)" style="width:100%; " frameborder="0" scrolling="no" id="iframe" onload='javascript:resizeIframe(this);'></iframe>


<br />



