﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    //Layout = "";
    
}

<h2>Index</h2>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>

@*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

    @*<script src="~/Scripts/jquery.min.js"></script>*@
    <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/responsive-tabs.js"></script>
<link href="~/Content/style.default.css" rel="stylesheet" />
    
        <script type="text/javascript">
            (function ($) {
                fakewaffle.responsiveTabs(['xs', 'sm']);
            })(jQuery);

            $('#myTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            //$('#moreTabs a').click(function (e) {
            //    e.preventDefault();
            //    $(this).tab('show');
            //});

            //(function ($) {
            //    // Test for making sure event are maintained
            //    $('.js-alert-test').click(function () {
            //        alert('Button Clicked: Event was maintained');
            //    });

            //    fakewaffle.responsiveTabs(['xs', 'sm']);
            //})(jQuery);




           
        </script>
    }

@*<ul class="nav nav-tabs responsive" id="myTab">
    <li><a href="#aaa" class="active" data-toggle="tab">AAA</a></li>
    <li><a href="#bbb" data-toggle="tab">BBB</a></li>
    <li><a href="#ccc" data-toggle="tab">CCC</a></li>
</ul>
<div class="tab-content responsive" id="tabs">
    <div class="tab-pane active" id="aaa">...Content...</div>
    <div class="tab-pane" id="bbb">...Content...</div>
    <div class="tab-pane" id="ccc">...Content...</div>
</div>*@


<h3>Responsive Tabs</h3>

<ul class="nav nav-tabs responsive" id="myTab">
    <li class="test-class active"><a class="deco-none misc-class" href="#how-to"><span class="glyphicon glyphicon-cog"></span> How To</a></li>
    <li class="test-class"><a href="#features">Key Features</a></li>
    <li><a class="deco-none" href="#source">Source</a></li>
</ul>

<div class="tab-content responsive">
    <div class="tab-pane active" id="how-to">
        <h3>Steps</h3>
        <ol>
            <li>Include bootstrap css and js.</li>
            <li>Include responsive-tabs.js.</li>
            <li>Setup tabs per the bootstrap <a href="//getbootstrap.com/javascript/#tabs">documents</a>.</li>
            <li>Add a <code>responsive</code> class to the <code>ul</code> that is used to create the tabs.</li>
            <li>Add a <code>responsive</code> class to the <code>div</code> that is used to create the tab-content.</li>
            <li>Call <code>fakewaffle.responsiveTabs(['xs', 'sm']);</code> in your load up script, while passing an array of bootstrap sizes that you want the to be displayed as accordions, e.g. ['xs', 'sm'] which is used by default.</li>
        </ol>
        <h3>Example Markup</h3>
        <div class="alert alert-info">
            <strong>Note:</strong> The only difference from the standard bootstrap tab markup to the responsive markup is the addition of the <em class="text-danger">responsive</em>, and calling the <code>fakewaffle.responsiveTabs();</code> function.
        </div>
        <pre>
&lt;ul class="nav nav-tabs <span class="text-danger">responsive</span>" id="myTab"&gt;
  &lt;li class="active"&gt;&lt;a href="#home"&gt;Home&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#profile"&gt;Profile&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#messages"&gt;Messages&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="tab-content <span class="text-danger">responsive</span>"&gt;
  &lt;div class="tab-pane active" id="home"&gt;...content...&lt;/div&gt;
  &lt;div class="tab-pane" id="profile"&gt;...content...&lt;/div&gt;
  &lt;div class="tab-pane" id="messages"&gt;...content...&lt;/div&gt;
&lt;/div&gt;
</pre>
        <button class='btn btn-primary js-alert-test'>Test Event Maintained</button>
    </div>
    <div class="tab-pane" id="features">
        <br>
        <ul>
            <li>Uses standard bootstrap tab markup</li>
            <li>Accordion is created with jquery</li>
            <li>Tabs and Accordion are the fully accessible via keyboard</li>
            <li>Supports multiple tabs on a page, with or without being responsive</li>
        </ul>
    </div>
    <div class="tab-pane" id="source">
        <h3>Source code</h3>
        <p>You may download the source code from <a href="https://github.com/openam/bootstrap-responsive-tabs/archive/master.zip">github</a>.</p>
        <h3>Reporting issues</h3>
        <p>If you have any issues with this please report in on <a href="https://github.com/openam/bootstrap-responsive-tabs/issues">github</a>.</p>
        <h3>Contributing</h3>
        <p>If you'd like to contribute to this project, you can fork the project send a pull request.</p>
    </div>
</div>




@*<ul class="nav nav-tabs responsive">
    <li class="active"><a data-toggle="tab" href="#sectionA">Section A</a></li>
    <li><a data-toggle="tab" href="#sectionB">Section B</a></li>
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a data-toggle="tab" href="#dropdown1">Dropdown 1</a></li>
            <li><a data-toggle="tab" href="#dropdown2">Dropdown 2</a></li>
        </ul>
    </li>
</ul>

<div class="tab-content responsive">
    <div id="sectionA" class="tab-pane fade in active">
        <p>Section A content…</p>
    </div>

    <div id="sectionB" class="tab-pane fade">
        <p>Section B content…</p>
    </div>

    <div id="dropdown1" class="tab-pane fade">
        <p>Dropdown 1 content…</p>
    </div>

    <div id="dropdown2" class="tab-pane fade">
        <p>Dropdown 2 content…</p>
    </div>
</div>*@




@*<ul class="nav nav-tabs responsive">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Messages</a></li>
</ul>*@




@*<ul class="nav nav-tabs responsive" id="myTab">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#profile">Profile</a></li>
    <li><a href="#messages">Messages</a></li>
</ul>

<div class="tab-content responsive">
    <div class="tab-pane active" id="home">...content1...</div>
    <div class="tab-pane" id="profile">...content2...</div>
    <div class="tab-pane" id="messages">...content3...</div>
</div>*@





 <!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified responsive">
    <li class="active"><a href="#home" data-toggle="tab"><strong>Home</strong></a></li>
    <li><a href="#profile" data-toggle="tab"><strong>Profile</strong></a></li>
    <li><a href="#about" data-toggle="tab"><strong>About</strong></a></li>
    <li><a href="#contact" data-toggle="tab"><strong>Contact</strong></a></li>
</ul>

<!-- Tab panes -->
@*<div class="tab-content mb30 responsive">*@

<div class="tab-content responsive">
    <div class="tab-pane active" id="home">
        <h4 class="nomargin">Home title goes here...</h4>
        <p>Home content goes here</p>
    </div><!-- tab-pane -->

    <div class="tab-pane" id="profile">
        <h4 class="nomargin">Profile title goes here...</h4>
        <p>Profile content goes here</p>
    </div><!-- tab-pane -->

    <div class="tab-pane" id="about">
        <h4 class="nomargin">About title goes here...</h4>
        <p>About content goes here</p>
    </div><!-- tab-pane -->

    <div class="tab-pane" id="contact">
        <h4 class="nomargin">Contact title goes here...</h4>
        <p>Contact content goes here</p>
    </div><!-- tab-pane -->
</div><!-- tab-content -->






